[2022-10-15 15:18] DamnClin commented on #3826
Just created https://github.com/jhipster/jhipster-lite/issues/3990 that may be in your criteria

[2022-10-15 15:21] amrutp28 commented on #3974
I will start with this issue. Can you help me a bit about this?

[2022-10-15 15:22] DamnClin commented on #3974
Yep, you'll find those strings in some .mustache files as comments, the lines should be deleted :)

[2022-10-15 15:31] cemdrman commented on #3826
thanks @DamnClin. yes I'm working on this issue

[2022-10-15 16:24] #3977 closed

[2022-10-15 17:05] qmonmert opened #3993 "Angular: standalone components"
Use standalone components in generated app

https://angular.io/guide/standalone-components

[2022-10-15 19:02] amrutp28 commented on #3990
Hi @DamnClin Can I start with this issue? Can you please assist me with this issue?

[2022-10-15 19:03] DamnClin commented on #3990
Yep, what info are you missing?

[2022-10-15 22:04] osantana85 commented on #3750
Hello @pascalgrimaud , currently Springboot 3 is not "officially" supported by Mongock, but we’ll take a look next week and let you know if some changes are needed and when will be possible to release a new version with them. Thanks!

[2022-10-16 07:05] DamnClin commented on #3750
Removing mongock from JHlite is also an option!

[2022-10-16 10:22] dhivesh commented on #3750
Hi @pascalgrimaud  , @DamnClin, thanks for raising this.

We are prioritising this issue under https://github.com/mongock/mongock/issues/583 and will pick it up tomorrow. If we encounter issues, we'll comment in this thread and make a patch release to enable this asap.

Are there any specific timelines you are looking at?

FYI: @dieppa

[2022-10-16 10:28] pascalgrimaud commented on #3750
No worry, take your time, as it's open source :-)
Thanks a lot

[2022-10-16 12:46] cemdrman commented on #3826
@DamnClin hi, i have a few question.

1. following packages are created by me, are these true?
-  tech.jhipster.lite.generator.enums.domain;
-  tech.jhipster.lite.generator.enums.application;
- tech.jhipster.lite.generator.enums.primary;

2. in factroy, below conf is true? and how can I write to test about it? what is the validation and can you give me sample please? thanks for your help
 .add(SOU

[2022-10-16 12:49] DamnClin commented on #3826
1. Yes, (with an annotated package-info.java at package root)
2. Tests strategy and samples are described in the [module creation documentation](https://github.com/jhipster/jhipster-lite/blob/main/documentation/module-creation.md)

[2022-10-16 13:40] cemdrman commented on #3826
I can't fix test 😢 do I need to move Enums.java to my module

[2022-10-16 13:43] DamnClin commented on #3826
You need to make templates (`.mustache`) files for your module and to put those templates in `src/main/resources/generator/something`. The templated `Enums` class won't be the exacted same one since we won't be using the same exception and you need to template the package :)

[2022-10-16 13:45] DamnClin commented on #3826
You can have a look at this PR https://github.com/jhipster/jhipster-lite/pull/3689/files for the memoizers module which idea is really close to the `Enums` module

[2022-10-17 05:55] #3974 closed

[2022-10-17 07:08] atomfrede commented on #3973
In the main generator we have replaced the map with a node/instance local caffeine cache (to prevent the map from growing indefinitely), maybe we can do the same here and of courser the timeout is 👍 May we should have that in the main generator too.

[2022-10-17 13:25] antarus opened #4019 "Add a new property type to manage a file."
Add a new property type to manage a file.

Let's imagine that my module requires a file to be configured.

[2022-10-17 13:57] nassimerrahoui commented on #3989
Hello :)
I would like to try to contribute with this first issue if it is possible. I intent to just display the applied modules count in header without refresh it in real time if you are agree with that.

[2022-10-17 16:37] DamnClin commented on #3989
Yep, totally!

[2022-10-18 09:06] antarus commented on #4019
I want to upload a dsl file for a new module, I would like to be able to add it in the frontend and retrieve it in the backend to process it

[2022-10-18 10:16] nassimerrahoui commented on #3989
Here it is :

<img width="1427" alt="desktop" src="https://user-images.githubusercontent.com/23552990/196403414-2d6aeb74-41d2-4d0f-90ae-edafc8e881dd.png">

<img width="399" alt="mobile" src="https://user-images.githubusercontent.com/23552990/196403439-a0dc1fa2-c12a-4169-8cca-258ff0ed234b.png">

[2022-10-18 15:29] antarus commented on #4019
yes but at first, I may not need to interact with the other modules.

I was thinking more about the upload part of feature Replay #2907

But ideally your proposal seems the way to go for manage a dsl file.

[2022-10-18 16:23] pascalgrimaud commented on #3989
I find a bit strange the information in the navbar.
For me, the navbar should not be used for displaying this kind of information. But I don't know where to put it

[2022-10-18 16:28] nassimerrahoui commented on #3989
I tried to put this next to the logo but it was more strange : /

[2022-10-18 16:35] nassimerrahoui commented on #3989
IMO, it is not surprising to have this in the navbar like this. Also, it will be too much if we add a specific style juste for one statistic.

Maybe the need is to have another place dedicate to display some stats.

[2022-10-18 18:44] DamnClin commented on #4019
The replay feature is not a module I think, for me it's a dedicated feature

[2022-10-19 06:18] DamnClin commented on #3989
Later, the plan is to have a dedicated page with stats over time for the instance. For now I wanted to start with that and have a simple counter on https://lite.jhipster.tech (dunno if the mongoDB is deployed on this instance, cc @jdubois)

[2022-10-19 07:41] #3838 closed

[2022-10-19 09:16] antarus commented on #4019
I think adding a file type property to JHipsterPropertyType and managing it on the frontend side would do the job for some modules.

[2022-10-19 09:17] DamnClin commented on #4019
Yep but can't do it without a use case :D So we need a module that needs a file to add that

[2022-10-19 13:22] nassimerrahoui commented on #3989
It seems that there is something returned by https://lite.jhipster.tech/api/statistics

[2022-10-19 13:23] DamnClin commented on #3989
Yep but that may be the InMemoryRepository responding :D

[2022-10-19 13:27] nassimerrahoui commented on #3989
Oh okay, you are probably right because yesterday it was marked about 400 and now it is marked about 80

[2022-10-19 13:58] jdubois commented on #3989
Sorry, the Mongo DB part isn't set up yet.
I changed a few things in the way we handle file storage, and realised that the performance is bad, I also need to look at this.

[2022-10-19 14:10] pascalgrimaud commented on #3989
Isn't it better to use a classic SQL database, like PostgreSQL for that ?

[2022-10-19 14:19] jdubois commented on #3989
I wanted this because we have a free tier for Cosmos DB, that supports MongoDB... well now there's also PostgreSQL support, I need to check what would make sense

[2022-10-19 14:29] dieppa commented on #3750
@pascalgrimaud , I haven't tested myself just yet(I will try today), but I think it needs to be compiled for Java17.

Will keep you updated!

[2022-10-19 14:31] pascalgrimaud commented on #3750
Yes, JHLite needs Java 17, it's mandatory :-D

[2022-10-19 14:35] dieppa commented on #3750
I missed the word "only", `... think it ONLY needs to be compiled for Java17`. The good think is that, in our pipeline, we already are testing it against Java17, so that should be straight forward, just having a separate artefacts :)

[2022-10-20 07:15] DamnClin opened #4051 "Exclude node 19 from dependabot"

[2022-10-20 13:32] Franceq34 opened #4057 "Add Typescript Optional module"
following discussion with @hdurix
The idea is to add the possibility to add the Optional utility to typescript domain on client app

[2022-10-20 14:24] pascalgrimaud commented on #3979
Following https://github.com/jhipster/jhipster-lite/issues/4057 and https://github.com/jhipster/jhipster-lite/pull/4058

What do you think about this @hdurix ?
Should we keep this module? We could totally keep it, as it doesn't require any maintenance since months, and if it's the case, it's easy to maintain it

[2022-10-20 15:06] hdurix commented on #3979
I don't get it. Why removing it? Indeed this is nice for kata in JS environment

[2022-10-20 15:53] pascalgrimaud commented on #3979
Ok then so let's keep this, as it doesn't impact any other module for now

[2022-10-20 15:53] #3979 closed

[2022-10-21 12:55] pascalgrimaud commented on #3989
@nassimerrahoui : I tried but it is still strange for me in the navbar, which should be used to change page, navigate etc, not for this kind of information

I would suggest 2 places:
- near the button, near the other count applied
- similar information like compated / extended, but at another place

![image](https://user-images.githubusercontent.com/9156882/197200827-5fee688e-fbd7-4e67-9ea2-a94d97

[2022-10-21 12:56] #3989 closed

[2022-10-21 13:08] nassimerrahoui commented on #3989
I'm agree with that the navbar should be only for navigation. It can be placed like compated / extended and at another place like your previous screenshot, I guess.

Near the other count may be confusing with the current project properties.

[2022-10-21 13:09] pascalgrimaud commented on #3989
agree for the solution 1 so :D

[2022-10-21 13:49] pascalgrimaud opened #4066 "JHLite: Spring Boot 3 - remove Zalando and use custom ControllerAdvice"
Links:
- https://github.com/jhipster/jhipster-lite/issues/3601
- https://github.com/jhipster/jhipster-lite/pull/3832

You can use this branch: https://github.com/jhipster/jhipster-lite/tree/spring-boot-3 and submit a pull request against this branch

**Zalando should be removed and ExceptionTranslator should be reworked**

Then, it should fix the following tests:
- ForcedProjectFolderPrefixIntTest

[2022-10-21 13:54] pascalgrimaud opened #4067 "JHLite: Spring Boot 3 - upgrade Mongock"
Links:
- https://github.com/jhipster/jhipster-lite/issues/3601
- https://github.com/jhipster/jhipster-lite/pull/3832

You can use this branch: https://github.com/jhipster/jhipster-lite/tree/spring-boot-3 and submit a pull request against this branch

Related to this ticket https://github.com/mongock/mongock/issues/583
So the work should be done directly there, not here.
It means the bounty is for

[2022-10-21 13:58] pascalgrimaud commented on #4019
agree with @DamnClin : it should be implemented only when you need it, not before. So there should be a use case for that

[2022-10-21 14:27] antarus commented on #4019
my module need a file in entry for generate code from this file. Il want to create my domain entity from it ans more later perhaps

[2022-10-21 15:07] DamnClin commented on #4019
I don't get it, by definition domain entity can't be generated since it's not related to any other kind of model (this is the main model, driving the other ones).

Also I don't think this is a module. Model generation (ex to generate a CRUD) is not a module, this is another feature, not a module

[2022-10-21 15:10] DamnClin commented on #4019
I can think of some modules that may need a file (modules related to a provider giving you a configuration file to add to your app) BUT adding file management is a lot of work (I think ~2h to handle the new type front + back and property type to get the file as a byte[]). I don't want to add it without any exact need

[2022-10-21 15:12] DamnClin commented on #4066
I think we should updated the error management to handle internationalized error on the server side (so it can be tested) as described in https://github.com/jhipster/jhipster-lite/issues/2794

[2022-10-21 17:06] amrutp28 commented on #3990
Hi @DamnClin I gone through CorsFilterConfiguration and CorsFilterConfigurationIT classes. In current CorsFilterConfiguration class if getAllowedOrigins() or getAllowedOriginPatterns() returns value It will register CORS Filter. Do you want me to invert this logic?
And I didn't get what do you mean "This should also be done in the generated app"?

[2022-10-21 17:08] DamnClin commented on #3990
I can't tell the needed refactoring without doing them, sorry... I know that there are code smells in that class and they should be fixed.

Those classes are also in the generated applications so needs to be fixed in JHLite and in the module

[2022-10-22 06:48] Gnuk commented on #3970
Sorry, I'm a bit late to answer because i'm busy this week until monday.

I just want to say that I'm currently on this migration but with a different approach, by creating small components and by composing them using atomic design. (That's why there is some atoms already presents).

My other approach is to make a light theme instead of the dark theme (you can see it's not dark in the pattern libr

[2022-10-22 07:18] nassimerrahoui commented on #3970
I haven't started the ticket too much so I can close my PR

[2022-10-24 07:06] dieppa commented on #3750
I continue the comments regarding Mongock in this [issue](https://github.com/jhipster/jhipster-lite/issues/4067)

[2022-10-24 07:10] dieppa commented on #4067
We have successfully created a POC to run Mongock on Spring boot 3 (Jdk17). There are a couple of things we need to update(not much).

We expect to have a release soon. Will keep you updated

[2022-10-24 07:11] pascalgrimaud commented on #4067
you're awesome @dieppa !
thanks so much

[2022-10-24 08:58] Yachef commented on #3803
Hello guys,

I'm up for that issue :). I'm quite new to jhipster & jhipster-lite so I'm gonna need some help please :).

To be clear, the goal is to replace this screen :
<img width="596" alt="image" src="https://user-images.githubusercontent.com/28443066/197487817-637daeb5-ac66-47c0-ba23-afd880ff06e2.png">

When I tried to generate a project without frontend with generator-hipster, I got that scr

[2022-10-24 09:03] pascalgrimaud commented on #3803
I think it's a good start, to use the same page in generator-jhipster
so yes ! let's do it and use this same page :)

[2022-10-24 11:46] biergit opened #4085 "Running the JHipster jar released on Maven does not work"
Hi,

my understanding was that I could just download the [jar](https://repo1.maven.org/maven2/tech/jhipster/lite/jhlite/0.20.0/jhlite-0.20.0.jar) from Maven Central and run it locally with `java -jar jhlite-0.20.0.jar`.
This fails with `no main manifest attribute, in jhlite-0.20.0.jar`

[2022-10-24 12:02] pascalgrimaud opened #4086 "Release with wrong jar file"
The uploader jar during release is not the correct one

See:

![image](https://user-images.githubusercontent.com/9156882/197521015-f7d7efe7-8106-48d9-869c-6b903b78d2dd.png)

- detected after checking https://github.com/jhipster/jhipster-lite/issues/4085

[2022-10-24 12:11] pascalgrimaud commented on #4085
Hello @biergit

This JAR file on maven central is used for building your custom JHLite project, it's not for being downloaded and run.

![image](https://user-images.githubusercontent.com/9156882/197522259-490582dd-855d-41c2-a1f7-c91672578f57.png)

The one which could be downloaded is in the release page.
For exemple: https://github.com/jhipster/jhipster-lite/releases/tag/v0.15.0
![image](https://u

[2022-10-24 13:16] biergit commented on #4085
Hi @pascalgrimaud,

to be honest the Readme is quite confusing to me. It is unclear to me what is being described there. Is it the way that the JHipster Lite code itself is being built? Or is it the way my own project would be built if I was to use JHipster? Also what would I need the JHipster Lite jar for? I can't see it described in the Readme. Also what is XDD? Is that a term that anyone coming

[2022-10-24 13:45] #4086 closed

[2022-10-24 14:14] biergit commented on #4085
Thank you. The docker image worked perfectly and was the easiest way to get what I wanted :)

[2022-10-24 17:10] atomfrede commented on #4067
I did some hacking and it seems pretty straight forward. @dieppa I have created a spring-data  v4 driver, adapted some api changes and changed the autoconfiguration from spring factories to autoconfiguration import mechanism. If you like a can provide the PR and we work together on this topic

[2022-10-24 17:38] dieppa commented on #4067
Thanks @atomfrede .Yeah, creating the new v4 driver is the easy part(or less tedious part). Maybe I am wrong, but I think we don' even need to do any API changes. We need to see the best way to manage the multiple versions(Jdk, spring, springboot) as we still need to maintain Jdk8, spring5 and spring boot 2.

However, I would be very happy to review your PR for the driver 😃

[2022-10-24 17:56] atomfrede commented on #4067
Yes the version issues is something I also wondered how to tackle it. Regarding the change I needed to adapt `MongockTemplate` to the new api (maybe we can leave it out as it's deprecated already) and the method to get a databasefactory has changed, so quite small changes.

I will clean up a little and provide a PR.

[2022-10-24 18:22] dieppa commented on #4067
Aaah you referred to the `MongockTemplate`. That's tricky. We were actually considering to remove it, but it has some consequences for old changeUnits, still using `MongockTemplate`, in projects that have upgraded to Spring data 4. They would need to change those old changeUnits, which we encourage not to. On the other hand, that could potentially happen using the normal MongoTemplate too. So we a

[2022-10-24 18:24] DamnClin opened #4090 "Update java-archunit dependencies"
`java-archunit` depends on "more" than actual "needs component and stuff like that

[2022-10-24 18:27] dieppa commented on #4067
@atomfrede , if it helps, this is the[quick poc branch ](https://github.com/mongock/mongock/tree/poc/springboot3) we built to asses the impact of the changes. As you see we just removed the `MongockTempate`, for the time being, just to see what other change we need.

[2022-10-24 19:04] #4090 closed

[2022-10-24 19:35] atomfrede commented on #4067
@pascalgrimaud I tried to implement a workaround by adding the new autoconfiguration to the META-INF directory and use the v3 driver. Sadly it didn't work as the method to retrieve the database factory has been renamed. I think otherwise it would work, so we need the changes upstream at mongock.

[2022-10-24 20:09] dieppa commented on #4067
@atomfrede , what workaround did you try? Can you raise a PR, just to see what you tried, pelase?
Unless you are using the `MongockTemplate` in JHipster(**in which case, ti should be replaced with the normal `MongoTemplate`**), you shouldn't have much problem on your end. I think we can have a release by tomorrow, maybe after tomorrow, that you can use.

[2022-10-25 03:45] atomfrede commented on #4067
I added the new autoconfiguration file so the V3 context is configured. That worked but the method to get the database factory in mongo template has been renamed so it failed creating it. Will push it to branch later for reference

[2022-10-25 06:54] dieppa commented on #4067
Sorry, @atomfrede , I am confused. You are adding the `org.springframework.boot.autoconfigure.AutoConfiguration.imports` to sring-data-v3 driver?

I don't think that's needed as I believe that whoever is moving to springboot v3, will also move to spring-data v4.

That plus the mess with the version, makes the solution of creating a new repository for jdk7(with springboot-v3 and springdata-v4 in it

[2022-10-25 06:57] atomfrede commented on #4067
No I added `org.springframework.boot.autoconfigure.AutoConfiguration.imports` to jhipster lite with the v3 autoconfiguration to see if that would work for jhipster lite.

[2022-10-25 07:02] dieppa commented on #4067
aah ok. You were trying a shortcut. 👍🏼

So I guess it would work if we provide the two modules specifically for that, without tricks, right? mongock-runner for springboot-v3 and mongock driver for springdata v4, Am I right? I think we can have it soon(today/tomorrow)

[2022-10-25 12:02] atomfrede commented on #4067
Yes shortcut is a better term :) Yes if we have two modules it would work just fine without any shortcut from what I can tell with my local experiments

[2022-10-25 14:02] biergit opened #4111 "zalando problems with spring-boot-webflux-netty does not compile"
`ExceptionHandler` requires `HttpServletRequest` which is not available.

[2022-10-25 14:09] mlasfargues opened #4112 "Failed to get an existing project on Windows"
On Windows, when I put the path of my project in the project folder (C:\Projets\My_project), I have this error on the JhispterLite server: `java.lang.IllegalArgumentException: Invalid character found in the request target [/api/projects?path=C:\Projets\My_project ]. The valid characters are defined in RFC 7230 and RFC 3986`

To solved it, I have modify the line 39 of RestModulesRepository:
`return

[2022-10-25 14:15] mshima opened #4113 "Migrate from custom made jwt authentication to spring-security builtin support."
Spring security provides jwt authentication support through builtin oauth2 server.
Replacing custom make security implementation with spring-security builtin implementation allow us to reduce security responsibilities and generate cleaner application.

This should reduce jwt module generated files from 11 to 4 or 5.

This is equivalent to generator-jhipster's  https://github.com/jhipster/generator

[2022-10-25 16:51] #4112 closed

[2022-10-25 16:54] pascalgrimaud commented on #4111
Adding a bounty for this bug

[2022-10-26 00:35] Yachef commented on #4111
It looks like right now zalando-problems-spring-webflux is setup by default when using spring-boot-webflux.
When adding zalando-problems module to an existing spring-boot-webflux project, it generates the configuration for the web (not webflux), which causes the compilation error.

I think we have two solutions :
- Disable the dependency zalando-problems -> spring-boot-webflux, as, by default, spr

[2022-10-26 05:08] pascalgrimaud opened #4119 "Release with jhipster-lite-sample-app"
Like other sample apps, it could be nice to have this

We need to think which modules should be included:
- PostgreSQL
- Liquibase
- all dummies
- between JWT and OAuth2, I don't know yet

Maybe it's closed to the full app https://github.com/jhipster/jhipster-lite/blob/main/tests-ci/generate.sh#L105

[2022-10-26 05:28] pascalgrimaud opened #4120 "Move Base64Utils to common"
See https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/base64/domain/Base64Utils.java

It should belong to https://github.com/jhipster/jhipster-lite/tree/main/src/main/java/tech/jhipster/lite/common/domain

[2022-10-26 05:30] DamnClin commented on #4120
Why? I think shared kernel must remains as think as possible, this one looks fine

[2022-10-26 05:31] pascalgrimaud opened #4121 "CI: add typescript to GitHub Actions"
Some works to do, speciallly, related to build, to avoid maven/gradle

[2022-10-26 05:37] pascalgrimaud commented on #4120
Maybe I'm wrong but I see several pro:
- this class is too 'common' and is not related to 'generator' context
- can be copy/paste to other projects
- reduce by 1 folder the size of generator/ folder

[2022-10-26 05:54] DamnClin commented on #4120
Hum, it's only used in some modules (so it belong to generator), we don't need it in JHLite "engine". I mustn't be copy / pasted since it's really not good :D and folder don't come with a great cost

[2022-10-26 05:56] pascalgrimaud opened #4122 "Public sample JHLite custom"
It could be nice if we can have some public sample JHLite custom as a use case

I have some idea:
- java tools: adding some utils like Base64Utils, StringUtils, DateUtils, etc
- banners with specific files
- maybe quarkus, but I don't want to lead this. Maybe @avdev4j I don't know

Cc @DamnClin too, as you're the lead on JHLite custom

TO-DO
- [x] add banner modules with `-extension` sufix at the

[2022-10-26 06:32] atomfrede commented on #4067
It looks good with the updated boot-v3 and mongo-data-v4 driver
![image](https://user-images.githubusercontent.com/203401/197951716-aafb037a-7c55-46f1-a1b4-762bb3b29704.png)

[2022-10-26 06:42] #3803 closed

[2022-10-26 07:46] #4057 closed

[2022-10-26 08:19] AnneJacquet commented on #4113
Hi @mshima are you working on this issue as you started the work ? If not I will look into it 🙂

[2022-10-26 08:33] pascalgrimaud commented on #4113
I would say, you can go ahead @AnneJacquet

[2022-10-26 08:44] mshima commented on #4113
You can continue from where I’ve started.

[2022-10-26 08:46] mshima commented on #4113
https://github.com/mshima/jhipster-lite/tree/jwt

[2022-10-26 08:47] pascalgrimaud commented on #4113
Oh didn't expect you already started the work @mshima !

[2022-10-26 08:47] cvirieux opened #4127 "Respect multiword eslint rule for vue"
Eslint multiword rule is not respected for App.vue and Homepage.vue
They should be multiworded and could be suffixed by Vue (like AppVue.vue).

[2022-10-26 08:49] mshima commented on #4113
It’s in the issue description, @AnneJacquet feel free to continue it.

[2022-10-26 08:52] mshima commented on #4113
I think it’s is missing the entrypoint, I couldn’t find it.
Maybe you are relying on the userpasswordfilter?
And since there is almost no component to test, it’s possible to port the authentication integration test from the generator-jhipster.

[2022-10-26 12:48] #4127 closed

[2022-10-26 13:26] #4121 closed

[2022-10-26 13:31] Shegaie opened #4129 "Update end-to-end modules dependencies"
- Cypress and PlayWright modules should depend on ClientCore
- End-to-end test base url should be localhost:9000 to be run with no backend
- Front end maven plugin should depend on spring server (= web server serving front end)

[2022-10-26 13:34] pascalgrimaud commented on #4129
not sure about localhost:9000
if there is only front without backend, yes it should be localhost:9000
if there is back+front, it's better to start the backend, which will provide the front, so it should be localhost:<serverPort>

One reason for that is some e2e tests can't work without backend (like in generator-jhipster)

[2022-10-26 13:53] hdurix commented on #4129
Yes but the current issue is that if you generate frontend + cypress, this does not work out of the box.

Our first idea was to add a dependency from cypress to frontend maven plugin (= server), but this is so painful as you cannot generate only a frontend with cypress through JHipster Lite, which is a must have for me if you want to have component tests for instance for your frontend.

Yes but by

[2022-10-26 13:54] wmarques commented on #4129
I guess that depends on what we want to do with end-to-end.

If they're intended to test only the UI, they should work with the 9000 port and API calls should be mocked.
If we want them to test our app with the backend then we should stick with the 8080 and set the backend as a dependency for the Cypress / Playwright modules.

Or maybe do two modules for each testing philosophy.

[2022-10-26 13:58] DamnClin commented on #4129
I think we should help people using cypress for component tests instead of end to end tests and that mean calling :9000 since :serverPort won't be refresh without restart

[2022-10-26 13:59] hdurix commented on #4129
What about adding a property for testing frameworks `testingServerPort` as we have `serverPort`? With a default as 9000.

Or would it be too much?

[2022-10-26 14:00] hdurix commented on #4129
btw it would be more renaming the actual `serverPort` to `testingServerPort` for those 2 modules

[2022-10-26 14:09] qmonmert commented on #3993
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/103948 :)

[2022-10-26 14:21] pascalgrimaud commented on #3993
@qmonmert : approved, thanks for the hard work

[2022-10-26 14:34] hdurix commented on #4129
not so easy to rename `serverPort` to `testingServerPort`... I'm not sure this is the good way here finally

[2022-10-26 14:37] wmarques commented on #4129
The main issue here is that one tool deserves two different purposes :)
IMO we can choose a default one, like component testing (so port would be 9000), and if the user want to do "real" end-to-end testing he can still tweak the configuration.

[2022-10-26 14:44] hdurix commented on #4129
choosing 9000 would work for both out of the box:
- with backend+frontend, you can run both to launch end-to-end tests
- with frontend only, you just have to run the frontend to launch end-to-end tests

@pascalgrimaud what do you think?

[2022-10-26 14:47] pascalgrimaud commented on #4129
I'm fine so. Let's move to 9000

[2022-10-26 15:50] AnneJacquet commented on #4113
I looked into the module spring-boot-jwt and was hoping to split the responsibility :
- generate a token with a private key
- read a token with the public key

The reason for that is actually my current client : I only need the second part (we receive a jwt).

A solution for that actually exists straight out of the box :
https://docs.spring.io/spring-security/reference/reactive/oauth2/resource-ser

[2022-10-26 16:59] Franceq34 opened #4132 "Add landscape scroll by mouse grabbing"
The idea is to allow the user to scroll vertically and horizontally the landscape view with left mouse click

[2022-10-26 17:05] avdev4j commented on #3650
hi @DamnClin
I can reproduce the bug, here is the stacktrace. Is it because it has not been released yet?
[code]

[2022-10-26 18:22] DamnClin commented on #3650
Hum no, it should not... can you send the .jhipster history file?

[2022-10-26 18:25] avdev4j commented on #3650
It's available here https://github.com/avdev4j/entando-jhipster-lite/blob/main/.jhipster/modules/history.json

Tell me if I can help.

[2022-10-26 18:36] DamnClin commented on #3650
Hum, clone and launched CucumberTest, test is green

[2022-10-26 18:40] DamnClin opened #4133 "Generated readme with readme title at the end"
On the generated apps a Readme title remains at file ends, should not be here

[2022-10-26 18:45] DamnClin commented on #3650
The generated cucumber report

![entandoCucumberReport](https://user-images.githubusercontent.com/59929679/198110319-8bafcf71-c4e7-4470-8189-081bd48cec6d.png)

[2022-10-26 18:57] mshima commented on #4113
Yes, there is support to configure the decoder using a public key using configuration.
I don't think there is support to configure the encoder.

I don't think there is an easy way to support all algorithms.
The current algorithm implementation (symmetric) is quite different from the asymmetric algorithms which your are targeting
There is a `jws-algorithm` reference at https://github.com/spring-pro

[2022-10-26 19:02] mshima commented on #4113
Or generate a https://docs.spring.io/spring-security/reference/servlet/oauth2/resource-server/jwt.html#oauth2resourceserver-jwt-decoder-jwk-response from application properties.

[2022-10-26 19:30] dieppa commented on #4067
The work is done and tested. Thanks @atomfrede for your help, great work!

We expect to have a release by tomorrow.!:rocket:

[2022-10-26 20:09] murdos commented on #2627
FYI I'm working on rewriting these tests

[2022-10-26 20:57] atomfrede commented on #4067
awesome!

[2022-10-27 05:45] dieppa commented on #4067
Hello everyone, I confirm Mongock supports now springboot 3.x and springdata 4. for MongoDB.

Please follow the instructions:

1. Update mongock bom to 5.1.7
[code]
2. If upgrading Mongock, remove runner and driver dependecies
3. Add springboot v3 runner and springdata v4 driver
[code]
Thanks to @jhipster team, @pascalgrimaud, @DanielFran, @mraible and specially @atomfrede for his great work contr

[2022-10-27 05:53] pascalgrimaud commented on #4129
Another idea would be to add a new entry in package.json, something like `e2e:headless:back` and it would override the property to use http://localhost:serverPort

So for the front developers:
- need to launch npm start first
- then: `npm run e2e:headless`

For the back developers or the CI:
- need to start the app, using `java -jar` or `./mvnw`
- then: `npm run e2e:headless:back`

So everyone wil

[2022-10-27 06:21] atomfrede commented on #4067
Thanks @dieppa for your support!

[2022-10-27 06:39] DamnClin commented on #4133
It looks like it was intended to be used in module but there is no module using that... The feature should be deleted I think, agreed @pascalgrimaud ?

[2022-10-27 06:42] pascalgrimaud commented on #4133
Yes, let's remove it. I love the current system which generates new markdown file in `documentation/` folder

[2022-10-27 06:49] pascalgrimaud commented on #3650
@avdev4j : it works for me too

[2022-10-27 07:29] #4133 closed

[2022-10-27 07:50] pascalgrimaud opened #4149 "Issues after using custom-jhlite module"
After using the `custom-jhlite` module, we can't apply new modules.

Steps to reproduce the issue:
- `git clone https://github.com/avdev4j/entando-jhipster-lite`
- start JHLite project
- put the correct folder (where the `entando-jhipster-lite` project was cloned)
- try to apply `prettier` module or `jacoco-check-min-coverage` for example

![image](https://user-images.githubusercontent.com/9156882

[2022-10-27 07:56] DamnClin commented on #4149
You clicked apply selected or apply all?

[2022-10-27 07:57] pascalgrimaud commented on #4149
I clicked on "Apply new"

[2022-10-27 07:58] DamnClin commented on #4149
Ok, the fix should be pretty straightforward but can't do it right now... In `JavaDependencies` need to use collector with a merged function (after reproduction ofc)

[2022-10-27 08:00] DamnClin commented on #4149
Hum, no, not a good fix... sorry, this is a duplicated dependency problem but need to look a little bit into it to get the good fix...

[2022-10-27 08:01] pascalgrimaud commented on #4149
no worry and no hurry, it's just for tracing this issue I found, as I wanted the `entando-jhipster-lite` to have a good quality and force @avdev4j to write tests ahaha :D

[2022-10-27 08:10] DamnClin commented on #4149
The problem comes from the 2 JHLite dep with different classifiers (the one used for tests). Need to dig a little bit into that for a decent fix BUT this is only impacted dependency for now :)

[2022-10-27 09:48] pascalgrimaud opened #4151 "Front: label + field not well displayed"
When editing a field, the label is not well displayed.
It's minor but I think it can be improved

![image](https://user-images.githubusercontent.com/9156882/198252277-bbfcf82a-44da-4a98-bc93-8b4199a0d36f.png)

[2022-10-27 12:38] pascalgrimaud commented on #4067
plz @atomfrede and @dieppa : as I can't put 2 x 500$, just each claim 1 bounty
Thanks a lot for your work here

[2022-10-27 12:38] #4067 closed

[2022-10-27 12:46] pascalgrimaud opened #4153 "Undertow: can't apply springdoc-mvc-openapi module"
When using `spring-boot-undertow` module, the `springdoc-mvc-openapi` can't be applied as it's linked only to `spring-boot-tomcat`

![image](https://user-images.githubusercontent.com/9156882/198287493-c511de84-2499-4389-8860-868b87ed3bf5.png)

[2022-10-27 12:47] DamnClin commented on #4153
I don't see any acceptable solution for that...

[2022-10-27 13:00] pascalgrimaud commented on #4153
The current solution is to go to `patches` page, to bypass the tree

[2022-10-27 13:12] DamnClin commented on #4153
Yep but allowing that in landscape will require a lot of work (something with an or in the organization) and I'm not sure this is worth the effort...

[2022-10-27 13:44] dieppa commented on #4067
that's awesome, didn't expect it! Really appreciate it, I will put in Mongock's open-collective for developments 😃

...but I don't really know how to claim a bounty 😅  ...I will do some digging

Thanks a lot!

[2022-10-27 13:49] pascalgrimaud commented on #4067
@dieppa :
- you can follow the guide here https://www.jhipster.tech/bug-bounties/#-bug-bounties
- quick step:
  - go to https://opencollective.com/generator-jhipster
  - submit an expense
  - use the title $500 bug bounty claim for https://github.com/jhipster/jhipster-lite/issues/4067
  - fill the information
  - and at the end, don't forget to answer to this ticket with the open collective here

[2022-10-27 13:49] atomfrede commented on #4067
Maybe this short overview helps https://www.jhipster.tech/bug-bounties/#how-to-get-the-money

[2022-10-27 14:23] atomfrede commented on #4067
Bounty claimed https://opencollective.com/generator-jhipster/expenses/104167

[2022-10-27 14:35] pascalgrimaud commented on #4067
@atomfrede : approved

[2022-10-27 15:21] dieppa commented on #4067
Bounty claimed [here](https://opencollective.com/generator-jhipster/expenses/104170)

[2022-10-27 15:53] pascalgrimaud commented on #4067
@dieppa : approved

[2022-10-27 20:17] #3601 closed

[2022-10-27 21:36] biergit opened #4154 "Fix dependency declaration for DB drivers and Devtools"
Should be
[code]
and
[code]

[2022-10-28 00:02] Yachef commented on #4111
Noted, working on it :)

[2022-10-28 04:39] pascalgrimaud commented on #4154
Thanks @biergit
I think you're right. Maybe we need to do the same for MariaDB, MySQL etc too

[2022-10-28 08:30] biergit commented on #4154
Ok, I'll try to adapt those as well.

[2022-10-28 12:29] qmonmert commented on #4151
@pascalgrimaud do you speak about borders?

[2022-10-28 12:34] pascalgrimaud commented on #4151
Yes, exactly and I don't know how to fix this, because my css skills are closed to zero

[2022-10-28 12:41] qmonmert commented on #4151
😅

[2022-10-29 10:58] pascalgrimaud opened #4167 "PostgreSQL Dialect module"
- following https://github.com/jhipster/jhipster-lite/pull/4162

The Fixed Dialect used for Blob with PostgreSQL should be in a dedicated module

I'm starting the work

[2022-10-29 13:45] pascalgrimaud opened #4168 "Refactoring: move templates related to mongock to dbmigration"
See https://github.com/jhipster/jhipster-lite/tree/main/src/main/resources/generator/server/springboot/database/mongock

These templates should be in dbmigration instead if database folder

[2022-10-29 16:39] #4151 closed

[2022-10-29 18:25] pascalgrimaud opened #4172 "Drop coverage for fullapp"
See the sonar analysis for the fullapp:

![image](https://user-images.githubusercontent.com/9156882/198847145-119c7f4c-dea4-4b80-9368-949f140a2cc3.png)

I think it's related to the migration from jest to vitest :-(
So finally, I'm not sure about this move, it looks like vitest is not really ready

cc @Gnuk @qmonmert

[2022-10-29 19:01] qmonmert commented on #4172
@pascalgrimaud which line is not covered?

[2022-10-29 19:03] pascalgrimaud commented on #4172
Sorry, power off my computer. I think it's the homepage.component.ts
Maybe it could be fixed by vitest team. Let's wait, as I think the issue comes from there.

This issue is just to track this item

[2022-10-29 19:05] qmonmert commented on #4172
ok tell me tomorrow

[2022-10-29 19:20] niranjanib commented on #4168
Hello @pascalgrimaud, I would like to work on this issue.

[2022-10-29 19:21] DamnClin commented on #4168
Assigned. Don't hesitate to ask if you need help :)

[2022-10-29 19:23] niranjanib commented on #4168
Sure, thank you!

[2022-10-29 19:23] #4154 closed

[2022-10-29 19:23] #4167 closed

[2022-10-29 20:31] Gnuk commented on #4172
I just link the PR from vitest relative to the fix: https://github.com/vitest-dev/vitest/pull/2232

[2022-10-30 07:56] #4168 closed

[2022-10-30 10:46] niranjanib commented on #3959
Hi @DamnClin , I would to pick up this issue :)

I read the referenced comment and from what I understand we need to add the path in the module-creation.md so that the place to add dependency versions whenever a module is created is more explicit.

By file paths, do you mean referencing each of the file/folder managing different dependencies?
For example, adding the filepath for the pom.xml, Docke

[2022-10-30 10:50] DamnClin commented on #3959
Hello,

It's easier than that :). In src/main/resources/generator/dependencies there are different files handling dependencies for different tools (docker, maven, ...). We just need to document each of this file content.

Those files are used to get the latest version of dependencies and are updated by dependabot (so we don't manage versions by hand)

[2022-10-30 10:54] niranjanib commented on #3959
Ah okay, thank you :)

Will work on it 👍

[2022-10-30 10:56] DamnClin commented on #3959
If you want to make this a little bit more challenging you can have a look at how those files are used to resolve versions in JHLite :D. (I'm actually using that for tech interviews :D)

[2022-10-30 13:48] #3967 closed

[2022-10-30 14:43] niranjanib opened #4177 "Clean up CONTRIBUTING.md - link missing for generating the Continuous Integration"
Hi folks,

While going over the CONTRIBUTING.md, I noticed below 2 things under the [Submitting a Pull Request](https://github.com/jhipster/jhipster-lite/blob/main/CONTRIBUTING.md#submitting-a-pull-request) section:

1. There is a step with link reference to generate the Continuous Integration as seen above. Is this step required ? If yes, can the steps be added for it, as the current link is brok

[2022-10-31 06:40] pascalgrimaud commented on #4177
My fault :-)
It was a bad copy/paste from generator-jhipster and it needs to be clean

[2022-10-31 06:43] niranjanib commented on #4177
No worries, it happens :)

So shall I remove both the steps mentioned in the issue?

[2022-10-31 06:49] pascalgrimaud commented on #4177
![Screenshot_20221031-074601](https://user-images.githubusercontent.com/9156882/198947839-b9e10026-d4a3-4415-9807-450108c336ac.png)

The part about CI should be updated
In fact, you could use: ./test-ci/generate.sh fullapp for example to reproduce the build
To have the list of possible app, you need to check inside generate.sh

So 2 solutions:
- we could simply remove the part about talking about

[2022-10-31 06:50] pascalgrimaud commented on #4177
So only this part should change:

[2022-10-31 07:33] niranjanib commented on #4177
I think updating the link and describing generate.sh will be more helpful. I also see there is an existing section in [Contributing.md ](https://github.com/jhipster/jhipster-lite/blob/main/CONTRIBUTING.md#running-integration-tests-locally) that mentions what you said.

I'll link it to this section and add more details on generate.sh.

[2022-10-31 11:03] biergit opened #4194 "Changed package name does not delete old package"
Using the UI to create a Spring Boot app and then changing the package name in the UI followed by "Apply selected" and "Download" results in a zip-File containing old and new package.
It's also not clear how to completely start a fresh composition from the UI.
Clicking on "Patches" then back to "Landscape" seems to do that but then the "Properties" are no longer filled with default values.

[2022-10-31 12:16] DamnClin commented on #4194
The described behavior looks really logical to me. I don't see how we can keep the possibility to come back to an existing project without that... Maybe blocking edition in that case but that would delete the feature of keeping properties when changing package

[2022-10-31 13:11] niranjanib commented on #4177
Hi folks, I've added more details to the existing `Running integration tests locally section` in the CONTRIBUTING.md.
Please review and let me know if more details needs to be added :)

[2022-10-31 16:01] nishit93-hub opened #4196 "Generate project using jdl"
Hi,

Do we need Jhispster up and running, if we can generate the project using Jdl file?

[2022-10-31 16:09] atomfrede commented on #4196
JHipster Lite is still in development and follows another approach and therefore does not support jdl files right now. Only https://github.com/jhipster/generator-jhipster does.

[2022-10-31 16:11] atomfrede commented on #4194
As long as the old package is empty that sounds okay to me. Starting a fresh composition can be achieved by using another path, such that the project is generated into an empty folder (I think).

[2022-10-31 16:13] atomfrede commented on #2819
I will have a fresh look with  boot 3 on main branch.

[2022-10-31 16:28] qmonmert opened #4197 "React: Translate French texts into English"
In react generated app, translate French texts into English

[2022-10-31 16:32] nishit93-hub commented on #4196
Ok Thanks

[2022-10-31 19:01] #4196 closed

[2022-10-31 19:50] biergit commented on #4194
@atomfrede I see no way to deselect previously applied modules without either restarting the whole service or clicking on "Patches" then back to "Landscape".

When I start and select up to "java-base" - apply selected - download - select up to "spring-boot-tomcat" - change "packageName", "projectName" and "baseName" - apply selected - download then I get two different packages with content.

Also

[2022-10-31 20:10] DamnClin commented on #4194
@biergit You are using the online version or a local version? In fact, download is only for online version, useless locally which is the normal usage of JHLite.

You can't "unapply" from the UI since it does not make any sense, you can unapply using git by deleting or  reverting the module commit.

If you want to start a new project change the path so you'll start without any applied module on a f

[2022-10-31 20:24] biergit commented on #4194
@DamnClin thanks that helped. I was using the Docker container locally.

[2022-10-31 20:30] biergit opened #4199 "Changing the format / indent does not seem to work"
I am using the UI provided by the Docker container. I only get indent size of two spaces.
The log shows:

[2022-10-31 20:32] DamnClin commented on #4199
I guess you are clicking the format button somewhere in the process? We need to update this button activation to be bound to prettier application

[2022-10-31 20:39] biergit commented on #4199
Yes I clicked "Apply selected" only then the "Format" button became active and I clicked it. Also I noticed changing the line ending has no effect - I always get "lf".

[2022-10-31 20:40] DamnClin commented on #4199
Did you select prettier module?

[2022-10-31 20:45] biergit commented on #4199
I didn't but I checked now and nothing changed.

[2022-10-31 20:50] DamnClin commented on #4199
Just made some test, forgot the activation updates were already done (here https://github.com/jhipster/jhipster-lite/pull/3545)...

Ok, looks like you don't have npm installed on your computer so the formatting can be done.

[2022-10-31 20:53] biergit commented on #4199
I used the Docker container. And I see that the [TraceProjectFormatter](https://github.com/jhipster/jhipster-lite/blob/fd8f131e453c47491889456bf19215629a87ea59/src/main/java/tech/jhipster/lite/project/infrastructure/secondary/TraceProjectFormatter.java) is not trying too hard to even check for NPM :)

[2022-10-31 20:54] DamnClin commented on #4199
Yep, this the instance used when no npm installation can be found :D. We need to add npm in the published docker image :)

[2022-11-01 05:53] #4177 closed

[2022-11-01 06:06] #4197 closed

[2022-11-01 06:11] pascalgrimaud commented on #4199
Indeed, it would be a good enhancement

[2022-11-01 08:37] DamnClin commented on #4194
For me this is totally intended, closing but don't hesitate to repoen if I missed something

[2022-11-01 08:37] #4194 closed

[2022-11-01 09:52] atomfrede commented on #2819
Short status update, I got the compilation up and running, right now fighting with reflection issues, but it looks the configuration can be done. Will keep you updated. Can't tell if the jgit config works as I don't come to that point right now.

[2022-11-01 11:10] DamnClin opened #4227 "Add dependency type in dependency ID"
Following https://github.com/jhipster/jhipster-lite/pull/4225 we probable can do the same with type (require some refactoring)

[2022-11-01 11:12] DamnClin opened #4228 "Use Node 18 as LTS"
Node 18 is LTS, let's change our update strategy to take that into account

[2022-11-01 13:27] #4149 closed

[2022-11-01 14:07] DamnClin commented on #4227
While doing it I realized that this is not part of the ID :D

[2022-11-01 14:07] #4227 closed

[2022-11-01 14:12] DamnClin opened #4237 "Init stats screen"
We displayed our first stat in the header but the idea is to have a dedicated screen for usage stats. The idea is to create a new page and display the applied module count in it (for now)

[2022-11-01 14:21] pascalgrimaud commented on #2326
We can close this, I can do it for my own jhlite custom

[2022-11-01 14:21] #2326 closed

[2022-11-01 14:23] pascalgrimaud commented on #2819
Good news @atomfrede :-)

[2022-11-01 14:24] DamnClin opened #4238 "Trailling line break for SonarQube commands"
When using the sonar module, the generated readme contains a trailling linebreak:

[code]

Should be removed in SonarModulesFactory

[2022-11-01 14:25] DamnClin opened #4239 "Manage src/main/docker/sonar.yml with dependabot"
Manage versions in `src/main/docker/sonar.yml` with dependenbot

[2022-11-01 14:27] DamnClin commented on #4172
Fixed on main, just run a check

[2022-11-01 14:27] #4172 closed

[2022-11-01 14:31] DamnClin commented on #4239
It is supposed to be done but not updating our sonar version...

[2022-11-01 14:37] DamnClin opened #4241 "Rename sonar* modules to sonar-qube*"
Sonar modules should be SonarQube modules. Files to update:

* JHLiteModuleSlug
* SonarModulesFactory
* SonarModulesFactoryTest
* SonarApplicationService
* SonarModuleConfiguration

[2022-11-01 17:10] #4228 closed

[2022-11-02 09:05] biergit commented on #4066
Which module should provide the `ExceptionTranslator` ? Should this not be in a dedicated `web-exception-handling` module?

[2022-11-02 12:26] pascalgrimaud commented on #4066
@biergit : yes, it should be done in a dedicated module, replacing the current one, Zalando problem

[2022-11-02 19:26] biergit commented on #4153
Another solution would be to provide the modules selected further down the tree (west side on the landscape) to the modules selected further up the tree. Then there would only be one module `springdoc-openapi`.
This would also provide a solution for https://github.com/jhipster/jhipster-lite/issues/4111 where `zalando-problems` could choose the right dependency depending on whether `spring-boot-web

[2022-11-06 11:01] kartiktayal commented on #4241
Hi Everyone,
I would like to contribute by picking this issue. Full disclosure: I am new to open source contribution so pretty excited on learning through this experience since I am a big fan of the amazing work done by Jhipster team

[2022-11-06 11:02] DamnClin commented on #4241
Great! Welcome, affected to you :)

[2022-11-06 17:04] kartiktayal commented on #4241
@DamnClin I had a query, should we change the file names from sonar to sonarqube such as sonar docker file and sonar sh file in tests-ci?
Should we look for other changes in the project if we take this into consideration?

[2022-11-06 17:05] DamnClin commented on #4241
Not in this PR :)

[2022-11-07 03:39] pblanchardie commented on #521
`hibernate.cache.use_second_level_cache` is `true` by default.
As it's not set to `false` in the generated configuration, it's currently enabled.

So it's simply a matter of adding hibernate-jcache dependency.

With ehcache, the above configuration is redundant in our case. The default CacheManager is used for 2nd-level caching out of the box:

![image](https://user-images.githubusercontent.com/67

[2022-11-07 06:16] DamnClin commented on #521
Cc @biergit as you have the opposite here https://github.com/jhipster/jhipster-lite/pull/4163/files

[2022-11-07 06:29] pascalgrimaud commented on #521
I think this PR should update some spring.jpa properties too

[2022-11-07 10:20] DamnClin opened #4271 "Missing apache common dependency"
The `pagination-domain` module should add apache-commons-lang3 as dependency

[2022-11-07 12:33] kartiktayal commented on #4238
@DamnClin This does not seem to be the case when I have generated the fullapp using tests-ci. The sonar.md seems to be okay.
![image](https://user-images.githubusercontent.com/47282169/200311403-fd86c8df-cb8a-48ea-ac5e-7437e381955b.png)
Please correct me in case my understanding is incorrect.

[2022-11-07 17:13] atomfrede commented on #2819
So far so good. I have fixed the configuration for (some) parts of jackson serialization and the git stuff seems to work too. Still have some issues with xml processing and modification. Will try to fix them step by step, but the applied patches look good although an error occurs

[2022-11-07 17:47] #4241 closed

[2022-11-07 19:05] DamnClin commented on #4271
TODO:

- Add [apache commons lang](https://mvnrepository.com/artifact/org.apache.commons/commons-lang3/3.12.0) in `src/main/resources/generator/dependencies/pom.xml`
- Add dependency in `PaginationDomainModuleFactory`

[2022-11-07 19:06] DamnClin commented on #4199
@pascalgrimaud where is the root image used to publish on docker hub?

[2022-11-07 19:24] pascalgrimaud commented on #4199
@DamnClin : it comes from https://github.com/jhipster/jhipster-lite/blob/main/Dockerfile

[2022-11-07 19:27] DamnClin commented on #4199
Ok, adding npm should be pretty straightforward so, do you consider it a good first issue?

[2022-11-07 19:29] pascalgrimaud commented on #4199
I don't think it's a good first issue :-D
Not so easy to find the good solution

[2022-11-07 19:31] DamnClin commented on #4199
Ok, my bad, I though this just needs something like this:

[code]

[2022-11-07 19:32] pascalgrimaud commented on #4199
Maybe your solution can work, but it needs to be tested

[2022-11-07 19:33] DamnClin commented on #4238
It is in the main readme :). There's a trailling line break in the launch command

[2022-11-07 19:34] DamnClin commented on #4199
Of course, just dropped some stuff here

[2022-11-07 22:42] desprez opened #4273 "springdoc-jwt : authorization header didn't exist in requests"
Hi,
I tried to use **springdoc-jwt** module on the dummy appplication

Then after my application started I pass the bearer token (got with the [/api/authenticate] endpoint with admin/admin credentials) into an authentication form with swagger UI:
![image](https://user-images.githubusercontent.com/35764353/200429041-4e383a8c-7dc6-4c83-90ac-5e4d83214e76.png)

When I invoke the getBeers enpoint :

**

[2022-11-08 07:20] DamnClin opened #4313 "Add feature for spring boot oauth2 providers"
The spring boot oauth2 modules for providers should be in the same feature:

* `spring-boot-oauth2-auth0`
* `spring-boot-oauth2-okta`

[2022-11-08 07:25] DamnClin commented on #4273
Reproduced with

[code]

Changing this into a bug

[2022-11-08 07:28] DamnClin commented on #4273
Yep, I don't think this is the way. In my understanding fix should be in `src/main/resources/generator/server/springboot/apidocumentation/springdocjwt/SpringdocJWTConfiguration.java.mustache`

[2022-11-08 08:03] pascalgrimaud commented on #4313
@DamnClin : can you suggest a name for this feature?

[2022-11-08 08:08] DamnClin commented on #4313
oauth-provider sounds good

[2022-11-08 10:55] atomfrede commented on #2819
It seems there is only one or two issues left.

* Applying the maven module results in a null pointer when executed as native executable, can't tell why. Applying a bunch of other modules (e.g. mongo, neo, angular) worked just fine even with git commit
* The landscape view is not displayed because of a javascript error (which confuses me totally why thats the case)
* Swagger UI results in 404

[2022-11-08 11:16] #2627 closed

[2022-11-08 21:27] murdos commented on #2627
bounty claimed: https://opencollective.com/generator-jhipster/expenses/106794

[2022-11-08 21:29] murdos commented on #877
FYI I've started to work on implementing this feature

[2022-11-08 21:31] pascalgrimaud commented on #877
Thanks @murdos
It's an important feature as Datastax is one of our sponsor. And after some years, Cassandra support in generator-jhipster doesn't require too much maintenance so it won't be hard to maintain here

[2022-11-08 21:33] pascalgrimaud commented on #2627
@murdos : approved

[2022-11-09 11:04] pascalgrimaud opened #4338 "JHLite Custom: ignore all children of a parent module"
In JHLite Custom, when ignoring a module, it should ignore all the children too.

It doesn't work, and there is a stacktrace:

[code]

You need to add other children too:

[code]

The problem is:
- there are new modules, which have been coded in JHLite: angular-beer
- there is a new release
- the user upgrades the JHLite custom
- it's broken, unless he/she ignores the new module: angular-beer

[2022-11-09 11:19] atomfrede opened #4339 "New module to add thymeleaf (+HTMX, Alpine) as "client side" technology"
I would like to add a module which adds

- [x] thymeleaf
- [x]  webjars
- [x]  htmx
- [x]  alpine
- [x]  tailwind (or bootstrap)
- [x]  skeleton layout and index files
- [x] reference added webjars in the skeleton index file (PR Pending)

Would you consider this more a server module or a client module or even split the different parts (e.g. webjars a very simple dedicated module)?
Would you say su

[2022-11-10 06:02] pascalgrimaud opened #4351 "custom-jhlite build failed"
See https://github.com/jhipster/jhipster-lite/pull/4317

Probably related to the upgrade to Spring Boot 3 for the engine

It couldn't be detect because the jhlite custom build use a release version, instead of a snapshot one

[2022-11-10 06:05] pascalgrimaud commented on #4153
Adding a bounty as I think it's important to have, when there are more modules

[2022-11-10 06:26] DamnClin commented on #4351
How does it fail? Any stack trace/way to reproduce?

[2022-11-10 06:28] beatfreaker commented on #4351
I see the below stack trace in build logs

[code]

[2022-11-10 13:46] DamnClin commented on #4351
Just did that on main

[code]

and it's working. What are the steps to reproduce?

[2022-11-10 14:15] DamnClin commented on #4351
The problem comes from a version shift for spring boot.Genetated apps comes with spring-boot-starter-web 2.7.5 instead of the required 3.0.0-RC1. This is because the generated app are not in spring boot 3 for now. Not sure about the most suited fix for that:

* Split JHLite to only import module + projects + front;
* Try to exclude Spring 3 dependencies;
* Wait for spring 3 migration;
* Other

[2022-11-10 14:20] DamnClin commented on #4351
Something working:

[code]

[2022-11-10 14:25] DamnClin commented on #4351
Considering spring boot 3 is expected "soon" (https://spring.io/blog/2022/10/20/spring-boot-3-0-0-rc1-available-now#:~:text=This%20is%20our%20first%20release,to%20release%20November%2024%2C%202022.) I think we should wait for this (as it really seems to be the best solution)

[2022-11-11 09:02] pascalgrimaud commented on #4273
Adding a bounty to motivate someone to fix this bug

[2022-11-11 09:46] pascalgrimaud opened #4364 "Tikui: reduce log output"
I wonder if it's possible to reduce the log output, as all these logs are not really usefull:

[code]

[2022-11-11 16:57] #4271 closed

[2022-11-11 16:58] #3779 closed

[2022-11-11 22:33] #4129 closed

[2022-11-12 14:08] DamnClin commented on #4338
In fact, when I did the feature I though about that case and decided to do it that way to avoid "silent" exclusions.

That probably was a mistake and should be reworked but we need to find a way to make it explicit. For example with dedicated properties or values to say "I want to exclude this module or this module and all dependent modules". What do you think?

[2022-11-12 14:44] pascalgrimaud commented on #4338
No worry, I don't think it was a mistake, it was designed like this, that's all :-D

I don't think our user will search and exclude all dependant modules. So IMO, no need to manage 2 different properties:
- one for excluding single module, 1 by 1
- another for exclusing a specific module and all dependant modules

For example, I don't use Angular, and I don't want to use it.
I'll prefer to ignore

[2022-11-13 12:08] #2819 closed

[2022-11-14 08:51] Gnuk commented on #4364
It's from Tikui output because it's packaged on the generation. This needs an issue on [Tikui Core](https://github.com/tikui/tikui-core) I guess to know the best way to do it.

Note: currently it's the same copy process between libs, expositions, ans source files.

[2022-11-15 19:41] renanfranca opened #4401 "Add auth0 login workflow to Angular"
Hello! This is my first issue here at jhipster lite, feel free to drop any feedback.

I came from jhipster and used to choose jwt authentication instead of oauth2. When I decided to use jhipster lite I was advised to try oauth2.

So I decided to use Auth0 (auth0 dot com) and I'm opening this issue because I am working on the feature which adds auth0 login workflow to Angular.

I created a sample a

[2022-11-16 14:55] pascalgrimaud opened #4425 "Git Info Configuration"
The goal is to use the following plugin and provide git info:

[code]

If no one take it, I'll work on it at the end of the month

[2022-11-17 17:48] qmonmert opened #4436 "Migration Angular 15"

[2022-11-19 07:42] swarajsaaj commented on #1956
Do you want to use yaml for all generated properties files (`application.yml` and `bootstrap.yml`) instead of `application.properties` ? or use both somehow giving an option?

[2022-11-19 07:55] DamnClin commented on #1956
Depends :⁠-⁠). Give option for init but stick to existing if the file is here. I also want to keep formatting.

In fact, I really want to do it and, since I'm starting to finally feel better (less sick) I'll probably be able to take that soon :⁠-⁠)

[2022-11-19 08:40] swarajsaaj commented on #1956
Great :) in that case wish you get well soon and take it up when you feel like👍

[2022-11-19 08:57] swarajsaaj commented on #4425
Hi @pascalgrimaud ,
is this about adding the plugin to `jhipster-lite` generator or generated application? or both?
And also exposing the info on an endpoint?

[2022-11-19 09:22] pascalgrimaud commented on #4425
The mail goal is to code the module, so it's for generated applications, but once it's done, we can apply it to JHLite itself :-)

Or another approch could be:
- add git info to JHLite
- once the PR is approved, extract the diff and do it as a module

[2022-11-21 10:18] DamnClin opened #4466 "Start Cucumber test in IntTest"
Cucumber tests are started with surefire, they should be started with failsafe in the generated apps

[2022-11-21 13:45] gmarziou commented on #4339
I think it's a great idea.

Personally, I'm tired of all these javascript frameworks, on the long run they require too much effort to keep your app up to date, fix vulnerabilities and maintain skills.
I imagine I'm not the only one.

I think JHipster Lite is the perfect vehicle for such approach.

[2022-11-22 06:24] atomfrede commented on #4339
@gmarziou Exactly why I would like to have such a module. Most often the decision to use a full blown javascript framework is just rushed because everyone is doing it.

[2022-11-22 20:41] Yourgene commented on #4313
shouldn't `springdoc-oauth2-auth0` and `springdoc-oauth2-okta` follow the same logic ?

[2022-11-22 20:57] DamnClin commented on #4313
Probably

[2022-11-22 21:06] Yourgene commented on #4313
If we all agree to also group them, I can include it in the current PR.

What about `oauth-springdoc` for the name ?

[2022-11-23 06:16] DamnClin commented on #4313
Sounds good

[2022-11-23 17:00] #4313 closed