[2021-09-23 19:44] pascalgrimaud opened #59 "Improve default configuration in Project domain"

[2021-09-24 14:05] pascalgrimaud opened #77 "Maven: do not add dependency or plugin if it already exists"

[2021-09-24 14:19] pascalgrimaud opened #78 "CI: tests real configuration"

[2021-09-26 08:29] pascalgrimaud opened #84 "Improve Arch Unit tests"

[2021-10-02 18:33] pascalgrimaud opened #101 "Maven: add repositories"

[2021-10-02 18:33] pascalgrimaud opened #102 "Maven: add pluginRepositories"

[2021-10-02 18:33] pascalgrimaud opened #103 "Prettier XML"

[2021-10-03 06:46] pascalgrimaud opened #104 "Core: format with prettier after generating files"

[2021-10-03 17:39] pascalgrimaud opened #114 "Spring Boot Security: JWT"
Depends on this ticket first: https://github.com/pascalgrimaud/jhipster-light/issues/217

[2021-10-09 21:11] pascalgrimaud opened #121 "Spring Boot Cache: ehcache support"

[2021-10-12 20:52] pascalgrimaud opened #123 "Core: manage with Properties"
Use Properties instead of needle

[2021-10-25 07:15] pascalgrimaud opened #142 "GitHub: create labels"

[2021-10-25 12:47] pascalgrimaud opened #143 "Refactoring: Hexagonal Architecture"
Following discussion with @Hawkurane

[2021-10-29 10:00] hdurix opened #144 "More REST compliant APIs"
Rework on REST APIs to be self explaining (proposition will follow)

[2021-10-29 10:33] hdurix opened #147 "GitUtilsTest failure for signing commits"
when running with a GPG key, we got this error message:

[code]

maybe something with `setGpgConfig()`

[2021-11-06 14:23] pascalgrimaud opened #167 "Open Source the project"
- [ ] review and validate the hexagonal arch by @hdurix
- [x] license - see https://github.com/pascalgrimaud/jhipster-forge/pull/166
- [ ] contribution guide
- [x] improve readme - see https://github.com/pascalgrimaud/jhipster-forge/pull/172
- [ ] open source
- [ ] verify GitHub actions
- [ ] verify CodeCov

[2021-11-10 20:16] pascalgrimaud commented on #143
Thanks for helping me @hdurix
So if I can resume:
- first, focus on JHipster Project context, with Build Tool, Server Framework, Client Framework etc
- then, we'll see how we can refactorize the existing code

[2021-11-13 15:15] pascalgrimaud opened #195 "Rename project: remove "forge""

[2021-11-13 15:56] pascalgrimaud opened #197 "Spring Boot core: add Spring Boot DevTools"

[2021-11-13 15:56] pascalgrimaud opened #198 "Spring Boot MVC: add Spring Boot Actuator"
New API with this

[2021-11-13 15:59] pascalgrimaud opened #199 "Project: add rules"
- init : can be run without requirement
- maven : can be run without requirement
- spring boot: need build tool, maven or gradle
- spring boot web: need spring boot
- spring boot database : need spring boot
- spring boot liquibase : need sql database and spring boot
- java error : need java

[2021-11-14 19:47] pascalgrimaud opened #209 "Spring Boot core: add default logback to Spring Boot"
Should be included by default when adding spring boot

Need one for src/main and one for src/test

Need to add method to allow adding new entry

[2021-11-20 16:30] pascalgrimaud opened #215 "Spring Boot Web: add springfox dependency"
It should be added by default when using tomcat or undertow.

Need to add this property:

[code]

Need to add dependency:

[code]

[2021-11-20 16:44] pascalgrimaud opened #216 "Spring Boot Web: add Cors Filter"

[2021-11-20 16:45] pascalgrimaud opened #217 "Spring Boot Web: manage exception handler"

[2021-11-20 17:27] pascalgrimaud opened #218 "Spring Boot core: add application-fast.properties"
This properties should be used for adding specific config for starting quickly your application, during development

[2021-11-20 17:30] pascalgrimaud opened #219 "Spring Boot Web: add swagger with springdoc"
The goal here is to have swagger page, to test the different API.

To achieve this:

### In Domain :

1) add this property

[code]

2) add this dependency:

[code]

3) Then, add these 2 files, as mustache templates:

[code]

4) add these properties in application.properties

[code]

### In infrastructure :

`infrastructure/primary/rest/SpringBootWebResource` :

New API: `/api/servers/spring-boot/w

[2021-11-20 21:03] Pragya001 commented on #219
Hi Pascal,
What needs to be done here @pascalgrimaud ?

[2021-11-21 07:04] pascalgrimaud commented on #219
@Pragya001 : just updated the ticket with more details. How did you find this project ? :-) Are you interested in JHipster ?

[2021-11-21 07:05] #215 closed

[2021-11-21 08:10] #218 closed

[2021-11-21 12:57] Pragya001 commented on #219
@pascalgrimaud  Thanks!
I was looking for some work to contribute to Spring-Boot/Java. Bumped into one of the issues you raised on JHipster. :)

[2021-11-21 13:51] pascalgrimaud opened #223 "Bug: copy/template with classpath"
When using a jar, the copy and template don't work, because it should use classpath instead of full path

[2021-11-21 17:38] pascalgrimaud commented on #219
This project is a little bit special:
- done in hexagonal architecture
- generate spring boot project in hexagonal architecture too
- could be similar to generator-jhipster but allow generation step by step
- still in 'alpha' and not official jhipster project yet

[2021-11-21 22:05] #223 closed

[2021-11-22 22:03] pascalgrimaud opened #231 "Spring Boot Database: MySQL"

[2021-11-26 06:24] pascalgrimaud opened #234 "Spring Boot Database Migration: flyway support"

[2021-11-26 14:59] pascalgrimaud opened #236 "Spring Boot Cache: caffeine support"

[2021-11-26 22:42] pascalgrimaud opened #238 "Server Java: UnitTest annotation"

[2021-11-26 22:51] pascalgrimaud opened #240 "Spring Boot Core: add IntegrationTest annotation"

[2021-11-26 23:00] #238 closed

[2021-11-26 23:20] #240 closed

[2021-11-26 23:31] #217 closed

[2021-11-27 07:45] pascalgrimaud opened #243 "Refactoring: rename javatool/error to javatool/base"

[2021-11-27 08:27] #243 closed

[2021-11-27 09:45] pascalgrimaud commented on #142
Already done

[2021-11-27 09:45] #142 closed

[2021-11-27 09:52] pascalgrimaud commented on #167
Already opened source.

The contribution guide is missing but we need to explain the architecture of the project first, in a MD file.

About the Hexagonal Architecture here, I think it's not totally perfect, but it is a good compromise for helping new contributors to understand how each features can be done.

Maybe an idea would be to add specific annotation, like SharedKernel, BusinessContext: Sp

[2021-11-27 09:52] #167 closed

[2021-11-27 09:55] pascalgrimaud commented on #84
A pretty good version was already added here: https://github.com/pascalgrimaud/jhipster-light/blob/main/src/test/java/tech/jhipster/light/HexagonalArchTest.java

It comes from this project: https://gitlab.com/nerp-ippon/nerp

So this ticket can be closed

[2021-11-27 09:55] #84 closed

[2021-11-27 19:18] Pragya001 commented on #219
@pascalgrimaud
Thanks! Will start working on this from tomorrow.

[2021-11-27 20:27] pascalgrimaud commented on #219
Thanks a lot @Pragya001 for helping this project ! It should be soon in the official JHipster organization
I updated the ticket to use springdoc, instead of springfox.
Don't hesitate to ask if you need help

[2021-11-28 08:08] pascalgrimaud opened #247 "Refactoring: Spring Boot Web"
Rename package from web to mvc

[2021-11-28 08:22] pascalgrimaud opened #248 "Init empty package for each options"

[2021-11-28 08:36] pascalgrimaud opened #249 "Refactoring: rename beans package to config"

[2021-11-28 09:57] #247 closed

[2021-11-28 10:18] #248 closed

[2021-11-28 14:28] pascalgrimaud commented on #236
@avdev4j : can you add a comment here plz? So I can assign this ticket to you

[2021-11-28 14:30] avdev4j commented on #236
I'm taking it!

[2021-11-28 14:30] pascalgrimaud commented on #236
Thanks mate :-)

[2021-11-28 16:03] #249 closed

[2021-11-30 17:19] pascalgrimaud opened #263 "Core: change GitUtils to GitRepository"

[2021-12-01 07:39] #263 closed

[2021-12-01 10:59] fdelbrayelle commented on #144
Yep, routes should not contains any verb IMHO.

[2021-12-01 17:26] pascalgrimaud opened #268 "Refactoring: technical/secondary to technical/infrastructure/secondary"
Generate code into: `technical/infrastructure/secondary`

[2021-12-01 17:48] #268 closed

[2021-12-01 18:20] #114 closed

[2021-12-01 18:24] pascalgrimaud opened #270 "Spring Boot Security: OAuth2"

[2021-12-01 18:28] pascalgrimaud opened #271 "Core: project domain"
Do not build if folder is `/`

[2021-12-01 18:56] pascalgrimaud commented on #216
Already done with jwt security

[2021-12-01 18:56] #216 closed

[2021-12-01 19:05] pascalgrimaud opened #272 "Spring Boot Security JWT : missing SecurityUtils"
Missing SecurityUtils to add in application/

[2021-12-01 19:18] pascalgrimaud opened #273 "PostgreSQL: missing DatabaseConfiguration"
Missing DatabaseConfiguration

Can be put into database/sql as it is common with MySQL

[2021-12-01 19:38] pascalgrimaud opened #274 "Spring Boot: AOP Logging"

[2021-12-01 19:39] pascalgrimaud opened #275 "Spring Boot: Async Configuration"

[2021-12-01 19:40] pascalgrimaud opened #276 "Spring Boot: LoggingConfiguration"
To be able to push logs to Logstash for example

[2021-12-01 19:43] pascalgrimaud opened #277 "Maven: delete dependency and property"

[2021-12-01 20:08] pascalgrimaud opened #278 "Extract versions to specific files"
The different version should be extracted to a dedicated `pom.xml` file.
Then, this file can be updated automatically by dependabot

Some examples:
- https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBoot.java#L5
- https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/server/sp

[2021-12-01 20:10] pascalgrimaud opened #279 "Spring Boot: Spring Cloud Config Client"

[2021-12-01 20:11] pascalgrimaud opened #280 "Spring Boot: Eureka client"

[2021-12-01 20:12] pascalgrimaud opened #281 "Spring Boot: Spring Cloud Consul"

[2021-12-01 20:15] pascalgrimaud opened #282 "Java: domain User"

[2021-12-01 20:19] pascalgrimaud commented on #144
any suggestions are welcome !

[2021-12-01 20:46] pascalgrimaud opened #283 "Spring Boot: broker Kafka"

[2021-12-01 20:53] pascalgrimaud opened #284 "Java: add Sonar configuration"

[2021-12-01 22:13] #272 closed

[2021-12-02 06:12] pascalgrimaud opened #286 "Sample Vue project in Hexa Arch"
Init project with Vue

[2021-12-02 09:25] #273 closed

[2021-12-04 07:34] pascalgrimaud opened #289 "Core: rename template folder to generator"
To not confuse with default folder with thymeleaf

[2021-12-04 07:43] pascalgrimaud opened #290 "Core: rename tests to tests-ci"

[2021-12-04 07:45] pascalgrimaud opened #291 "Core: doc about structure of project"

[2021-12-04 07:46] pascalgrimaud opened #292 "Core: doc on how to add features"

[2021-12-04 07:46] pascalgrimaud opened #293 "React: core"

[2021-12-04 07:47] pascalgrimaud opened #294 "Angular: core"

[2021-12-04 07:50] pascalgrimaud opened #295 "JHipster Lite internal: init front"

[2021-12-04 08:38] pascalgrimaud opened #296 "Core: add release drafter and automated release"

[2021-12-04 09:19] pascalgrimaud opened #297 "Core: roadmap with dependency tree for options"
Add a documentation to show the dependency tree of each options
It will help to build the front part of generator to know which API can be used
In the meantime, these rules can be coded inside each options for sure

[2021-12-04 10:02] pascalgrimaud opened #298 "Security JWT: replace patch exception translator"
As the import order can change, the patch can fail.
It's better to replace code instead

[2021-12-04 11:42] #289 closed

[2021-12-04 11:48] #290 closed

[2021-12-04 16:20] pascalgrimaud opened #301 "Maven Wrapper permissions"
mvnw and mvnw.cmd don't have correct permissions

Same thing with .husky/pre-commit

[2021-12-05 08:35] pascalgrimaud opened #302 "CI with Windows"

[2021-12-06 17:48] #298 closed

[2021-12-09 12:45] pascalgrimaud opened #311 "Rename light to lite"
Suggested by @deepu105

[2021-12-09 13:12] #311 closed

[2021-12-10 04:52] #301 closed

[2021-12-10 17:08] fdelbrayelle commented on #283
I can migrate what I've done on Kafka module here!

[2021-12-10 17:10] pascalgrimaud commented on #283
Thanks, I'll complete this ticket with the mini roadmap later

[2021-12-10 17:49] pascalgrimaud commented on #283
So the roadmap is already here!

[2021-12-12 19:21] MSaguer commented on #77
Hi Pascal, I can help on this if you want.

[2021-12-12 19:23] pascalgrimaud commented on #77
Yes, your help is welcome.
My idea is to have **idempotency** for all API.

[2021-12-12 19:31] #277 closed

[2021-12-14 17:50] #231 closed

[2021-12-15 06:46] #143 closed

[2021-12-15 06:47] pascalgrimaud commented on #78
A first part was done.
The next part would be to add matrix configuration

[2021-12-15 09:41] swarajsaaj commented on #209
Hi @pascalgrimaud
what is meant by "Need to add method to allow adding new entry", does it mean adding a new appender dynamically or just the method to add these logback files separately?

[2021-12-15 09:48] pascalgrimaud commented on #209
2 solutions for this ticket, we can discuss:

### 1st solution :

- [spring boot core](https://github.com/jhipster/jhipster-lite/tree/main/src/main/java/tech/jhipster/lite/generator/server/springboot/core) : it should generate a new file `logback.xml` which should be as minimal as possible with a needle

- add a new context, similar to [properties](https://github.com/jhipster/jhipster-lite/tree/ma

[2021-12-15 16:44] swarajsaaj commented on #209
I would agree with the 1st solution, as its more in-line with the overall architecture, and ofcourse would be shared with business-contexts, and can be enhanced whenever a new functionality is added.

In 2nd solution, it would either have a lot of unwanted content or may end with too many conditionals in future. (Neither of them seems desirable).

If some contexts need custom appenders too (for e.

[2021-12-15 18:07] pascalgrimaud commented on #209
so let's choose the 1st solution :)

[2021-12-15 21:24] pascalgrimaud opened #324 "JaCoCo: check minimum coverage"
Add a new API, related to JaCoco, for adding this:

[code]

[2021-12-15 23:00] #324 closed

[2021-12-17 12:22] #296 closed

[2021-12-17 18:29] #209 closed

[2021-12-17 22:19] MSaguer commented on #77
I have proposed PR to have idempotency on add methods.

I could add tests on delete methods but I'm not sure if it's really usefull. What do you think?

[2021-12-18 06:45] pascalgrimaud commented on #77
@MSaguer : thanks for helping this project

For delete methods, no need for now.
It's better to add these checks only when we need.

[2021-12-18 17:14] swarajsaaj commented on #198
Should it be in "mvc" context instead? Do you feel any use of actuator without a web dependency?

[2021-12-18 17:17] pascalgrimaud commented on #198
Indeed @swarajsaaj you're right, about putting this in MVC

But I don't think actuator should be added by default, so it should be optional, do you agree?

[2021-12-18 17:28] swarajsaaj commented on #198
@pascalgrimaud  Yes I agree with a separate API for adding actuator in MVC resource with:-
- Basic endpoints in application properties
- Core health probes
- Keep it under "/management" to match generator-jhipster path
- And core metrics

[2021-12-18 17:34] pascalgrimaud commented on #198
sound perfect. Can I assign to you this ticket ?

[2021-12-18 17:35] swarajsaaj commented on #198
Yes please :)

[2021-12-18 18:26] swarajsaaj commented on #198
There is a conflict with springfox+actuator and `spring.mvc.pathmatch.matching-strategy` property already added at https://github.com/jhipster/jhipster-lite/blob/8d4c8bc555232f74046afcaa899a216ab5920b34/src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java#L118.

Spring actuator's path matching strategy cannot be configured to `AntPathMatcher`

[2021-12-18 18:33] pascalgrimaud commented on #198
Oh I see: it's because I added springfox by default when adding Tomcat MVC or Undertow MVC.
I shouldn't do that:
- so springfox should be removed from MVC
- adding springdoc could be done separately, or maybe should be by default with MVC, I don't' know

[2021-12-18 18:35] pascalgrimaud commented on #198
We could remove first springfox in a 1st PR, then you can continue the work for this ticket separately. What do you think?

[2021-12-18 18:35] pascalgrimaud commented on #198
We could remove first springfox in a 1st PR, then you can continue the work for this ticket separately. What do you think?

[2021-12-18 18:53] swarajsaaj commented on #198
Sure, Looks good 👍

[2021-12-18 18:55] pascalgrimaud commented on #198
@swarajsaaj : I'm doing the PR for removing springfox. I'll submit it in few minutes

[2021-12-18 19:15] #77 closed

[2021-12-18 20:47] MSaguer commented on #274
Do you confirm that this issue consists in adding aop logging just like [LoggingAspect.java](https://github.com/jhipster/jhipster-sample-app/blob/main/src/main/java/io/github/jhipster/sample/aop/logging/LoggingAspect.java) and all its configuration?

I could create new package server/springboot/aop/logging

[2021-12-18 20:53] pascalgrimaud commented on #274
@MSaguer : exactly, with this https://github.com/jhipster/jhipster-sample-app/blob/main/src/main/java/io/github/jhipster/sample/config/LoggingAspectConfiguration.java too

Yes, I think it should be created in a new context

[2021-12-18 20:55] MSaguer commented on #274
Ok. Second file was what I meant by "all its configuration".
You can assign it to me

[2021-12-19 07:07] pascalgrimaud opened #347 "JHipster Lite Logo"
The logo should be added to this project https://github.com/jhipster/jhipster-artwork

Then in the current README, we will be able to use the link

The work is already started by @sabrinapayet

[2021-12-19 07:39] #198 closed

[2021-12-19 07:55] swarajsaaj commented on #284
I propose following approach:-
1. Add plugin configuration in pom.xml
2. Add sonar.properties
3. Add sonar.yml in src/main/docker for sonarqube community server.

@pascalgrimaud would you suggest anything more to be done?

[2021-12-19 07:59] pascalgrimaud commented on #284
Yes it's the good approach I think

Anyway:
- I don't know if we have all method to add the configuration in pom.xml. We need to check this part first and do a 1st PR separately if needs
- then, I wonder where to put this. Maybe in server/java/sonar. Not sure it's specific to java, as it could be similar if it was kotlin. Maybe simply server/sonar ?

[2021-12-19 08:16] swarajsaaj commented on #284
Yes, would enhance the `BuildToolDomainService` with required configurations in plugins

I agree, its not just `java`, as per current structure it should be `server/sonar`.
Then I think its not limited to only server-side applications, then even `server/javatool` should not be in `server`. Isn't it?

[2021-12-19 08:35] pascalgrimaud commented on #284
oh by `server`, it means backend, so I think javatool is in the right place. Anyway, it would be easy to move if needed.

About sonar, we could have another / similar configuration for "client", like Angular, React or Vue later.

So I'm suggesting this:
- put it into `server/sonar` for now, and then later we could move it if it's necessary

What do you think?

[2021-12-19 08:38] swarajsaaj commented on #284
Yes, let's start with `server/sonar` and move it later if needed :)
You may assign this ticket to me.

[2021-12-19 08:42] pascalgrimaud commented on #284
Not sure if it can help: https://github.com/pascalgrimaud/jhipster-lite/commit/cfd245cfbf042c016f6fec46995ae508be98582b

I did this for JHLite, and to reduce the code smells, before working on pushing an analysis to Sonarcloud

[2021-12-19 21:03] MSaguer commented on #274
Hi,

This development requires to add "jhipster-dependencies" in the dependencyManagement section.

Can this element be added directly in the pom.xml.mustache file? Else new addDependencyManagement should be added in maven service by another issue.

[2021-12-19 23:08] pascalgrimaud commented on #274
Why do we need jhipster-dependencies for this?

[2021-12-19 23:14] pascalgrimaud commented on #274
Oh I see. Maybe because of https://github.com/jhipster/jhipster-sample-app/blob/main/src/main/java/io/github/jhipster/sample/config/LoggingAspectConfiguration.java#L13 ?

I think this constant should be replaced by a value in application.properties, which can be activated or not.

More simpler than the dev profile.

I'll give more details what I have in mind if needed, tomorrow :-)

[2021-12-20 11:50] pascalgrimaud opened #355 "Spring Boot Security: split Security JWT and basic auth"
The Security JWT part alone can be used for microservice.

The basic auth (primary) is needed for authenticate.

So these 2 parts need to be splitted

[2021-12-20 16:44] #355 closed

[2021-12-20 17:17] MSaguer commented on #274
Yeah, my message was lacking details. As you guessed, the aim was to access JHipsterConstants for the profile definition.

Let's use the spring.profiles.active properties.

I've started to add the addDependencyManagement methods. I keep it in a branch just in case it could be usefull later.

[2021-12-20 17:21] pascalgrimaud commented on #274
I'd prefer a property instead of profile.
Something like:
application.aop.logging=false

By default, it's false, in application.properties
It can be true in application-fast.properties as this profile is used specially for dev

One of big change with generator-jhipster is to remove dev/prod profile, which is so confusing.
default/fast is better

[2021-12-20 17:23] pascalgrimaud opened #359 "Security JWT: basic auth with account API"
Add account API to basic auth

[2021-12-20 21:45] pascalgrimaud commented on #359
Closed by https://github.com/jhipster/jhipster-lite/pull/362

[2021-12-20 21:45] #359 closed

[2021-12-21 07:59] pascalgrimaud opened #365 "SonarCloud Analysis"
A Sonar analysis should be pushed at https://sonarcloud.io/organizations/jhipster/projects

[2021-12-21 15:40] pascalgrimaud commented on #365
Done: https://sonarcloud.io/project/overview?id=jhipster_jhipster-lite

[2021-12-21 15:40] #365 closed

[2021-12-21 15:59] pascalgrimaud commented on #78
closed by https://github.com/jhipster/jhipster-lite/pull/354

[2021-12-21 15:59] #78 closed

[2021-12-21 18:24] pascalgrimaud commented on #103
Yes, let's test it first in jhlite project.
If it works well, we can do the same for the generated projects :)

[2021-12-22 11:13] #103 closed

[2021-12-22 11:39] pascalgrimaud commented on #347
Adding a bounty as I know you spent hours to do this!
Thanks a lot!

[2021-12-22 11:47] #347 closed

[2021-12-22 13:32] pascalgrimaud commented on #274
Adding a bounty on this.
As it's not so difficult, but the missing LoggingAspectTest is important, as it's not coded in main generator-jhipster. We need to code it here.

[2021-12-22 13:35] pascalgrimaud commented on #123
happy with the current implementation. So let's close this

[2021-12-22 13:35] #123 closed

[2021-12-22 16:53] #284 closed

[2021-12-22 17:46] swarajsaaj commented on #295
What are the thoughts/ideas here? I guess the front would be web-based. Is the vision to have something similar to jhipster-online (with zip and github/gitlab integrations in future?)

[2021-12-22 17:47] pascalgrimaud commented on #295
Yes that's my idea. But this is a big ticket, I have a lot of ideas I should detail, which can be splitted into several small tickets

[2021-12-22 21:54] pascalgrimaud commented on #295
Before starting this ticket, we should focus on this ticket first
- Vue: https://github.com/jhipster/jhipster-lite/issues/286

Because, once the Vue init is done, we can use it in this project.
Yes, we can use JH Lite on itself :-)

[2021-12-22 22:01] pascalgrimaud commented on #286
I'm starting this.
- generate JHipster + Vue project with last release 7.4.1
- clean all unnecessary files, like register, settings, user-management, etc

The goal is to have:
- home page
- login popup

Nothing more.

[2021-12-22 23:42] pascalgrimaud commented on #286
Here a first version of clean project: https://github.com/pascalgrimaud/jh-vue-lite

Then, there is some work to change the structure and use Hexagonal Architecture

[2021-12-23 13:57] pascalgrimaud commented on #286
In this repo https://github.com/pascalgrimaud/jh-vue-lite (not in jhipster-lite), the next steps would be (in webapp folder)
- try to clean useless files
- most important and hardest part: refactoring in Hexagonal Architecture
- add missing unit tests, the coverage must be at 100%

Once it's done, we can consider to include this part in JHipster Light

I'm adding a bounty on this, as it's hard and

[2021-12-23 14:00] pascalgrimaud commented on #286
Cc @franceq34, following our discussion

Maybe cc @nonomoho and @seraphinandrieux as you can be interested by this.

[2021-12-23 20:07] pascalgrimaud opened #397 "Refactoring: remove indentation management"
Do not allow changing default indentation.
Let's keep the default value to 2 for all. It will make all code simpler, and less config to test

[2021-12-23 20:10] pascalgrimaud commented on #397
This is related to the indentation of sonar plugin:

[code]

This is because the indentation of plugin is different between default plugins and pluginManagement/plugins

[2021-12-24 12:22] swarajsaaj commented on #397
Yes and `pluginsManagement/plugins` is one step ahead, so a common `getPlugin` is not possible. If i understand correclty, are you suggesting to use only prettier for this formatting and not using java?

[2021-12-24 12:28] pascalgrimaud commented on #397
For this little indentation problem, we could code a getPluginManagement

About removing the possibility of changing indentation, it is for simplifying our based code:
- no need to test indentation=2 and indentation=4
- simpler for regexp
- simpler for applying git patch
- etc

[2021-12-24 14:28] hdurix commented on #147
@pascalgrimaud it does not seem to be easy to fix this error. I tried to add a Signing service for `jgit` by adding the Maven dependency `org.eclipse.jgit.gpg.bc` but I've got a new error that I can't fix like "Failed to parse secret key file".

The other idea I've got: force the commit to not be signed, it's really easy to do and it might not be such a bad idea. As a developer, you want to sign y

[2021-12-24 14:30] pascalgrimaud commented on #147
Yes agree. Let's do this

[2021-12-24 14:55] pascalgrimaud commented on #197
Closed by https://github.com/jhipster/jhipster-lite/pull/400

[2021-12-24 14:55] #197 closed

[2021-12-24 15:45] #147 closed

[2021-12-25 10:08] Franceq34 commented on #286
I'm in !

[2021-12-25 18:30] #271 closed

[2021-12-25 21:15] #274 closed

[2021-12-25 21:36] MSaguer commented on #274
many thanks @pascalgrimaud for this bug bounty and for your reviews. It was quite interresting to work on this.

I claimed it in https://opencollective.com/generator-jhipster/expenses/59408

[2021-12-25 21:39] pascalgrimaud commented on #274
@MSaguer : approved :-)

[2021-12-26 21:40] pascalgrimaud opened #408 "Gradle support: init and wrapper"
Similar to what was done for Maven

[2021-12-26 21:47] pascalgrimaud opened #409 "Vue: core"
depends on https://github.com/jhipster/jhipster-lite/issues/286

[2021-12-26 21:59] pascalgrimaud opened #410 "Command repository"
Create this repository in project for:
- git init
- git add / git commit
- npm install
- npm run prettier:format

Not sure about this, need to be discussed

[2021-12-27 00:06] jhcao23 opened #411 "feature request - users want to customize mustache template"
sometimes developers want to provide their customized mustache template they prefer but they don't wanna override the existing jhipster-lite src code. I hope there is a way for dev users to input the path to the customized template from the cli, for example, `jhipster-lite-cli-command ... --override-mustache-template SecurityConfiguration.java.mustache=SOME_LOCAL_FILE_PATH`.

if this is through AP

[2021-12-27 07:33] pascalgrimaud commented on #411
This is a possibility provided by [generator-jhipster](https://github.com/jhipster/generator-jhipster) -> see the full documentation at https://www.jhipster.tech/modules/creating-a-blueprint/

But in my opinion, this approach makes the generator-jhipster really complex, and hard to maintain, because it needed to be sync with generator-jhipster -> https://www.jhipster.tech/modules/official-blueprin

[2021-12-27 08:19] jhcao23 commented on #411
Thank you @pascalgrimaud! I think I gave a bad example - should be "controller/service/repository". But Solution 3 is definitely a good option if we want to keep jhipster-lite simple - the only drawback is the forked new repo would need to keep updating by pulling from upstream whenever there is a new feature/version published from upstream. What I really mean is something like [Shadowing in Gatsb

[2021-12-27 08:21] pascalgrimaud commented on #411
@jhcao23 : another possibility is to publish jhipster-lite as a library, so you could use it as a Maven Dependency. You'll have all the template engine with mustache

[2021-12-27 08:50] pascalgrimaud commented on #411
yes, we are in a very early stage. We need to :
- add more options
- add at least 1 front framework
- build a front, to call different APIs, instead of using Swagger

Then, we can add docs to help users to fork / use JHipster Lite as library, as the current structure / architecture of generator can still completely change

[2021-12-27 08:53] pblanchardie opened #413 "JHipster Lite Framework?"
The overall developer experience is great, but after working on #275 I must admit that I had concerns when copying classes from JHipster Framework to templates in JHipster Lite.

It reminds me of old school JHipster, before jhipster-framework was separated as an external dependency. I fear that we'll end up with "JHipster Fat" instead of "JHipster Lite".

Is it the chosen approach to avoid JHipste

[2021-12-27 09:25] pascalgrimaud commented on #413
As you probably know, during 7 versions of JHipster, we tried different approach:
- without jhipster framework
- with jhipster framework, like today, with jhipster-bom project

In my opinion, using an external lib is a pain to maintain, to synchronize between cross CI, to release, etc.

Now, let's take the position of a real developer, in real world.
You have a technical user story to add configur

[2021-12-27 09:32] pascalgrimaud commented on #413
I forgot to say I'm not against your proposition, it has already suggested by Julien D. when I discussed with him about this project.

But all feedbacks I got about the different developers who used JHIpster is the same: they don't want to rely to a jhipster lib (like ng-jhipster, react-jhipster) because of:
- break changes introduced during minor version
- not well maintained (see react-jhipster)

[2021-12-27 10:04] pascalgrimaud commented on #275
Closed by https://github.com/jhipster/jhipster-lite/pull/403

[2021-12-27 10:04] #275 closed

[2021-12-27 10:16] pblanchardie commented on #413
Thanks for the explanation, now I understand why it's a principle of JHipster Lite to generate and test everything.

To be consistent, perhaps it brings another principle: "only add a class if it's absolutely needed to make the feature work"... I'll elaborate on this, as we don't want to have stuff copied from a dzone blog post 8 years ago in our projects!

I agree with the maintenance pain and it

[2021-12-27 10:44] pascalgrimaud commented on #413
Big +1 about `only add a class if it's absolutely needed to make the feature work`

[2021-12-27 11:25] pblanchardie commented on #276
JHipser's LoggingConfiguration was responsible for logstash, but was also configuring console logging.
The `useJsonFormat` property was convenient for logstash, but I think it shouldn't impact console logging: it was a pain to have console logging in JSON when you only wanted JSON in logstash.

I'd go with a logstash configuration that does not impact console logging.

`LogstashConfiguration`

`/a

[2021-12-27 13:30] pascalgrimaud commented on #276
As it is for logstash, I think renaming is better.

Agree about log in console, it should never be in JSON format, it is not readable.

As both are related to logging, we could use spring-boot/logging

[2021-12-27 17:26] pblanchardie opened #416 "Add Spring Boot configuration annotation processor"
https://docs.spring.io/spring-boot/docs/current/reference/html/configuration-metadata.html#configuration-metadata.annotation-processor

It automagically generates the `spring-configuration-metadata.json` file and makes IntelliJ IDEA happy.

The only thing to do is adding:
[code]

As we replaced the big old JHipsterProperties with module-specific configuration classes, it would be convenient.

Can

[2021-12-27 17:35] pascalgrimaud commented on #416
It is already added by Security JWT.
But indeed, I think it's better to add it when initializing Spring Boot project, so in Core

[2021-12-27 18:02] swarajsaaj commented on #279
In generator-jhipster, the Jhipster registry (https://github.com/jhipster/jhipster-registry) was shipped together. I think we can use the same (not just for config server, also for the eureka registry part). Any opinions for not using that and using https://hub.docker.com/r/springcloud/configserver instead?

[2021-12-27 19:49] jhcao23 commented on #411
looking forward and willing to contribute whenever possible!

[2021-12-27 19:49] #411 closed

[2021-12-28 11:01] pblanchardie commented on #276
Yes, #415 is only about TCP and does not impact console logging, that's better.

If you can't or don't want to use TCP, you'll have to produce JSON logs with console or file appenders. I guess it was the idea behind the hack in JHipster but it messed up in my case.
If it's frequent, it will be easy to provide alternatives to "logstash TCP", eg. "logstash file"

[2021-12-28 12:39] pascalgrimaud opened #419 "Spring Boot Database: refactoring SQL"
We could extract some common files / common methods to a common folder related to sql:
server/spring-boot/database/sql

These common files/methods can be used by:
- PostgreSQL
- MySQL
- MariaDB

[2021-12-28 12:40] pascalgrimaud opened #420 "Spring Boot Database: MariaDB"
Similar to MySQL

Maybe it should be done after the refactoring : https://github.com/jhipster/jhipster-lite/issues/419

[2021-12-28 12:42] pascalgrimaud opened #421 "Spring Boot Database: MongoDB"
Nice to have as there are some stats
See https://start.jhipster.tech/statistics

[2021-12-28 13:15] pascalgrimaud commented on #397
Let's close this for now, as the issue has been fixed

[2021-12-28 13:15] #397 closed

[2021-12-28 13:18] #416 closed

[2021-12-28 15:16] pascalgrimaud opened #422 "CI: GitHub Actions"
Need to be discussed about how to propose something smart

For a 1st version, it could be really simple:
- a GitHub Actions file to launch mvnw clean verify
- it can contain a needle for adding step

It can work later with the front part, as mvnw verify will test the front part too

[2021-12-28 15:22] pascalgrimaud opened #423 "CI: GitLab CI"
Similar to https://github.com/jhipster/jhipster-lite/issues/422

[2021-12-28 15:35] pascalgrimaud opened #424 "Build Docker Image"
I don't know what is the best solution :
- use JIB
- add a Dockerfile at root folder (which will contain the build part too)

Maybe we can provide 2 options

[2021-12-28 15:43] pascalgrimaud opened #425 "Liquibase: add new xml"
- add missing needles: https://github.com/jhipster/jhipster-lite/blob/main/src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/master.xml#L16
- add methods for adding new xml

[2021-12-28 15:49] pascalgrimaud opened #426 "Spring Boot PostgreSQL: User / Authority Entities"
Can be done after https://github.com/jhipster/jhipster-lite/issues/425

- create UserEntity and AuthorityEntity
- create UserJpaRepository, AuthorityJpaRepository
- add new xml entry in Liquibase: need to think about flyway, once the support is added, but for now, let's focus on liquibase

[2021-12-28 15:55] pascalgrimaud opened #427 "History in .jhipster folder"
Each time an API is used, we could add an entry in a history file, something like: .jhipster/history

I don't know how to achieve this for now, so any suggestion is welcome:
- shared context which is called after each API
- using AOP for methods in primary/rest and only for output
- spring events

[2021-12-28 16:00] pblanchardie commented on #121
Work in progress.

[2021-12-28 16:20] pascalgrimaud opened #428 "Spring Boot Database: MSSQL"
Need to do this, first: https://github.com/jhipster/jhipster-lite/issues/419

The stats with MSSQL is not low, so I think the support is easy and can be added

[2021-12-28 16:22] pascalgrimaud opened #429 "Hexagonal Arch Unit test"
2 steps:
- add dependency
- generate these files:
  -  https://github.com/jhipster/jhipster-lite/blob/main/src/test/java/tech/jhipster/lite/HexagonalArchTest.java
  - https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/SharedKernel.java
  - https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/BusinessContext.java

[2021-12-28 17:14] pascalgrimaud opened #430 "Refactoring: rename methods in Maven"
See https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java#L21

Rename :
- addPomXml to addJavaPomXml
- init to initJava

So, later we could use: addKotlinPomXml and initKotlin

[2021-12-28 17:49] pascalgrimaud commented on #429
Credits to this project https://gitlab.com/nerp-ippon/nerp/-/tree/main/webservices/src/main/java/com/ippon/nerp mainly coded by @DamnClin

[2021-12-29 14:33] atomfrede commented on #408
@pascalgrimaud Started to look into it recently. Some question popup. Right now the `BuildToolService` interface contains e.g. `addParent(...)` or `addPluginManagement(...)` while the second one has a quite similar thing in gradle imho, there is no such thing as parent pom. How would you handle such cases where two options are not supporting the same things? Would it be okay to throw something lik

[2021-12-29 16:05] pascalgrimaud commented on #408
@atomfrede : thanks for looking into this. I'm not a Gradle user at all, so your ideas are really welcome here.

After playing a little bit with Spring Initializr, indeed there is no parent with Gradle
So I think:
- in build tool at https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java#L25 we can remove t

[2021-12-29 16:06] pascalgrimaud commented on #408
I should open a new ticket for:
- init project with gradle (minimal libs and config files)

This ticket can be used for adding utils methods but it can be done in several PRs

[2021-12-29 18:27] MSaguer commented on #425
Hi Pascal, can I help on these issue?

[2021-12-29 18:28] pascalgrimaud commented on #425
@MSaguer : sure, your help is really welcome

[2021-12-29 19:39] swarajsaaj commented on #279
Instead of microservice, it can be `spring-boot/spring-cloud/config-client` and in addition following approach:-

- [ ] Add config-client dependency
- [ ] Setup `spring-cloud/config-client` context
- [ ] Add `jhipster-registry.yml` in `src/main/docker`
- [ ] Add properties for connecting to config-client

[2021-12-29 19:46] pascalgrimaud commented on #279
Look good to me, excepting there are 2 possibilities:
- jhipster registry as config server
- consul as config server

[2021-12-29 19:55] swarajsaaj commented on #279
For consul as config provider (with 'spring-cloud-starter-consul-config'), it has pre-requisite that consul is in place already as using only config KV without registry capabilities is unusual.
Can add the config as an option in Consul context. WDYT?

[2021-12-29 20:48] pascalgrimaud commented on #279
Mhhh it's related to another ticket.
Let's start with your 1st idea + jhipster registry, we'll see later for spring cloud consul

[2021-12-30 00:39] pblanchardie commented on #281
let's go!

[2021-12-30 08:47] pascalgrimaud commented on #279
@swarajsaaj : so I had a look and indeed you're right - see https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/resources/config/application-dev.yml.ejs#L93-L114

There are 2 configs:
- spring.cloud.consul.config
- spring.cloud.config.uri

So this ticket should be related only to spring cloud config (not consul)
I wonder if we should implement this ticket

[2021-12-30 09:19] pascalgrimaud commented on #121
More work than expected, so increasing the bounty
- cache/common shared kernel
- cache/simple
- cache/ehcache

[2021-12-30 09:24] swarajsaaj commented on #279
@pascalgrimaud :

Yes agreed, as I have seen projects using only config-server for dynamic configuration without need of eureka at all (like in kubernetes based deployments, where you may not need additional registry but dynamic configuration is required instead of configmaps)

The fact that `jhipster-registry` is a combination of both eureka and config-server, doesn't mean project would require b

[2021-12-30 09:26] pascalgrimaud commented on #279
thanks @swarajsaaj ! agree with you

[2021-12-30 09:37] swarajsaaj commented on #279
thanks. will submit a PR today/tomorrow.

[2021-12-30 13:44] pblanchardie opened #438 "fix failing tests on windows"
- [x] assertion of posix file permissions should not be done on non-posix (aka Windows^^) file system.
- [x] replaceText fails with CRLF
- [ ] handle path separator `\`

[2021-12-30 13:58] pblanchardie commented on #270
Ready!

[2021-12-30 14:26] pblanchardie opened #440 "Use maven to read and write pom.xml"
hand-made regex-based pom.xml generation code is error-prone.

why not using [Maven](https://maven.apache.org) itself for proper pom.xml management and validation?

at least we can rely on base objects like [Dependency](https://maven.apache.org/ref/3.5.2/maven-model/apidocs/org/apache/maven/model/Dependency.html) instead of creating custom ones, with strings

see
[Model](https://maven.apache.org/r

[2021-12-30 14:36] pblanchardie opened #441 "IntelliJ IDEA plugin"
Currently we only have the HTTP API.
Perhaps we'll have a CLI, a web app with Vue, a desktop app and so on.
Why not having a plugin in your IDE to add features to your project?

About the use case:
"As a Developer, I want to use my IDE for development so I only use my web browser for browsing docs and testing" ;)
Provide code-generation features straight from the IDE.
There are plenty of code gene

[2021-12-30 14:44] pascalgrimaud commented on #441
Can you give more details on what you have in mind plz?

[2021-12-30 14:57] pblanchardie opened #442 "Spring Boot Session-based authentication"
- Built-in
- Spring Session
  - Data Redis
  - Hazelcast
  - JDBC (buggy with constraint violations)

[2021-12-30 15:06] pblanchardie commented on #441
updated description, still needs some thinking about it.

[2021-12-30 15:11] pblanchardie commented on #270
Options:

- Custom
- Keycloak
- Okta
- Auth0

[2021-12-30 18:00] #276 closed

[2021-12-30 18:16] pascalgrimaud commented on #438
Yes plz, I don't have Windows, I can't test this kind of thing :-(

[2021-12-30 18:17] pascalgrimaud commented on #438
I thought it should be enough ? https://github.com/jhipster/jhipster-lite/blob/main/src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java#L497-L511

Maybe it's not related to this code ?

[2021-12-30 18:21] pascalgrimaud commented on #440
Yes, we could use Maven to read in pom.xml but the problem is: it's a little bit slow :-D
When you generate a lof of files, calling Maven in each methods is not acceptable.
We could give a try but I'm afraid it won't work nice.

Instead, we could play with regexp:
- check if dependency is already here or not
- then, try to find needle and add dependency at this place
- if there is no needle, add i

[2021-12-30 18:26] pascalgrimaud commented on #441
I think it's a good idea, but honestly, I think it's too early.

I would prefer to focus on features first, and see the adoption of this project.

If it's a success, we could focus on how to use JHipster Lite.

As discussed, I have a ton of ideas:
- local with swagger (current version)
- local with a front part (probably Vue.js)
- in a Cloud like JHipster Online (need to work on Git methods: creat

[2021-12-30 18:30] pascalgrimaud commented on #442
Spring Session can be supported, like JWT.
But I don't understand why you mention Redis and Hazelcast. I don't think it's mandatory, unless I'm wrong.

Anyway, just remember it's not an option which is used a lot in generator-jhipster.
The stats are very low. So I'm not sure it deserves a support.
But we can give a try and you can maintain it :)

[2021-12-30 19:04] pblanchardie commented on #440
Yes after writing this I also reminded that  simple text processing is much faster.
As long as our use cases stay simple we won't need such tooling.

[2021-12-30 19:15] pblanchardie commented on #442
Very low priority indeed, let's focus on newer solutions if sessions are abandonned by most people.

Multiples choices :
- Without spring session, built-in.
- With spring session: there are multiple session storage solutions for distributed apps: redis, hazelcast, jdbc.

[2021-12-31 10:01] #425 closed

[2021-12-31 10:09] MSaguer commented on #426
User entity is different when generated with jwt or oauth2 options.
* With Jwt, user has an integer ID and UserRepository contains methods related to password
* With oauth2, user ID is a string

I think that this issue could be limited to the jwt option for a moment. It depends if #270 is close before this one :)

[2021-12-31 10:13] pascalgrimaud commented on #426
Yes I know :)

For JWT, the User Entity can be used for authentication
For OAuth2, the User Entity is not used for authentication, but the developer can created this entity in the database. Then, he'll be in charge of sync between Keycloak and this table

The use case is simple:
- given an existing project with Database PostgreSQL
- when calling this API
- then I want to have UserEntity, Authority

[2021-12-31 10:31] pascalgrimaud opened #446 "Init: add API to launch npm install and prettier"
In Init context, add API to launch `npm install` and `npm run prettier:format` from CommandRepository

[2021-12-31 16:35] pblanchardie commented on #438
you're properly checking that you're on posix before **setting** execution permission, but the problem is that https://github.com/jhipster/jhipster-lite/blob/deb0d8be2d279ae15483c136b6481db73f6371ac/src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenAssertFiles.java#L29 tries to check that execution permission is set, without checking we're on posix.

[2022-01-01 17:55] swarajsaaj commented on #427
This kind of history/log can also be used to make dependencies while generating project using frontend/cli.
A few thoughts:-
- The project information like baseName, packageName etc. should also be persisted (to make the project directory more stateful), currently we need to pass it on every request in REST, which can cause mismatches.
- Version of the jh-lite could also be stored for providing up

[2022-01-01 18:03] pascalgrimaud commented on #427
@swarajsaaj : thanks for thinking about it, but plz don't start this ticket before we agree together :-)

I'm still thinking about baseName and packageName.

baseName is used at init
packageName is used at maven
Then, once it is used, we can find the information by reading package.json or pom.xml, it means we don't need to store it.
It means there are some API which can be used in existing Spring

[2022-01-01 19:08] swarajsaaj commented on #427
Sure @pascalgrimaud :)

Yes, that is a benefit we get without depending on a persisted information and taking it from pom/pacakge.json.

And I think there are 2 concepts that are being mixed (at least in my mind :)),
- To be able to reconstruct the current state of application (like we did from .yo-rc.json in generator-jhipster to allow user further commands based on existing structure)
- Maintain

[2022-01-02 14:24] #413 closed

[2022-01-02 15:03] swarajsaaj commented on #446
I did #460 for this, but I doubt if doing with with a synchronous API is best for very long running `npm install` (Timeouts?)

[2022-01-02 15:18] pascalgrimaud commented on #446
Indeed, I think it should be async

[2022-01-02 15:23] pascalgrimaud commented on #446
Or maybe it could be async by default, and sync as an option? I need to think about the use case, as it is need to run prettier

[2022-01-02 15:47] swarajsaaj commented on #446
We could keep prettier execution first and npm install later as the latter is more prone to be long running.
Or we could also keep a fixed time to wait for an error (a few seconds) and return the response if execution keeps running after that.

[2022-01-02 15:51] pascalgrimaud commented on #446
We could look at https://github.com/jhipster/jhipster-online as the process to generate JHipster project is done via API too, but without `npm install`

[2022-01-02 17:30] pascalgrimaud opened #461 "Package Manager NPM"
Following this: https://github.com/jhipster/jhipster-lite/issues/446

A little bit similar to Maven (backend part), this context is for the frontend part

[2022-01-02 19:36] #446 closed

[2022-01-02 19:37] pascalgrimaud opened #463 "Refactoring: npm install and prettier"
Move to context: npm

[2022-01-02 20:46] #463 closed

[2022-01-02 22:31] pascalgrimaud opened #467 "Refactoring: POM_XML"
- [ ] move POM_XML from Maven to Constants
- [ ]  change all hard coded "pom.xml"

[2022-01-03 07:36] #467 closed

[2022-01-03 10:43] pascalgrimaud opened #471 "Spring Boot Properties: empty line and comment"
In [SpringBootPropertiesService](https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/server/springboot/properties/domain/SpringBootPropertiesService.java), add methods for
- adding empty line
- adding comment

[2022-01-03 20:50] #121 closed

[2022-01-03 21:16] pascalgrimaud commented on #121
Thanks a lof for all your work here @pblanchardie !

[2022-01-03 22:14] pascalgrimaud opened #475 "Improve app startup log"
Use cases:

- should only display this, when there is no server:

[code]

- should display this, when there is a server app (tomcat or undertow)

[code]

- should display this, when there is a central config server:

[code]

[2022-01-03 22:14] pascalgrimaud commented on #475
cc @pblanchardie and @swarajsaaj as you worked respectively on Spring Cloud Consul and Spring Cloud Config

[2022-01-03 22:22] pascalgrimaud opened #476 "Refactoring: CommandRepository to NpmRepository"
- rename CommandRepository to NpmRepository
- move it to packagemanager/npm context

[2022-01-03 22:25] pascalgrimaud commented on #219
@Pragya001 : do you still plan to work on this? If you don't have time or motivation, no worry, you can tell us. It's an Open Source project, we work during our free time.

I'm asking it because we'll need this very soon.
It will help to test easily the security part

[2022-01-03 23:05] pblanchardie commented on #121
You're welcome, thanks for your help!

[2022-01-04 03:41] pblanchardie opened #477 "System.lineSeparator is not relevant in all cases"
- won't make sense on a remote server (aka JHipster Online)
- is not appropriate on some local workstations (Windows with LF project: adds CRLF in LF files)

suggestions:
- only support LF? what is the problem with that?
- auto-detect file line separators when applying modifications?
- switch to a project config with default to LF?

[2022-01-04 06:11] pascalgrimaud commented on #477
Great ticket ! Important to fix these issue
Instead of using lineSeparator or hard code \n, we could use our own constant + dedicated method to do some replace when needed

Then, I don't know which is the best solution for our Windows users.
What do you think @swarajsaaj ?

[2022-01-04 06:25] pascalgrimaud commented on #477
I think there is 2 issues here:
- the tests in generator should work on Windows and Linux
- the generated code could support only LF. I think it is the choice in generator-jhipster, as it's forced with git, but I'm not sure :-D

[2022-01-04 06:27] swarajsaaj commented on #477
It would be really nice to have a consistent convention for line endings in pproject.
Even Java text blocks use only '\n' for new lines, irrespective of OS (currently to get our test cases working on all platforms, we replace it manually with System.lineSeparator() ).

Need to think more on how will it behave for non jhipster-lite projects, as we currently are open to even non-jhipster-lite genera

[2022-01-04 06:39] pblanchardie commented on #477
Yes @swarajsaaj.

Moreover, when you programmatically add an import in java, it's \n so I'm not sure we should bother with that for some files and not for other.

If we want to handle non-jhipster projects, better abandon the needle and opt pour xml processing with maven library or any other IMHO.

[2022-01-04 06:42] pascalgrimaud commented on #477
Handle non jhipster project is an idea and could be done really later. I don't think we should put our effort on this now

[2022-01-04 06:45] swarajsaaj commented on #477
Great, then lets go ahead with the LF convention. (also maybe add the same in .gitattributes for sanitizing commits)

[2022-01-04 06:50] pblanchardie commented on #477
Almost done, will provide PR.

[2022-01-04 06:54] pascalgrimaud commented on #477
It should already be the case ?
https://github.com/jhipster/jhipster-lite/blob/main/.gitattributes

[2022-01-04 07:22] pblanchardie commented on #477
It only forces ending for bat, sh... and leave the rest up to the system, which is not sufficient indeed.

@swarajsaaj do have gitattributes you like? Else I can provide something.

Yes!

[2022-01-04 07:46] pascalgrimaud commented on #477
When building the Project object, can't we calculate the EOL (by calling some function or reading some existing files), and store it in the Project object?
Then, we could reuse it in our code?

I'd like to keep the gitattributes as closer to the generator-jhipster one as possible.

[2022-01-04 08:05] pblanchardie commented on #477
Yep, I'll begin with "switch to a project config with default to LF" then add "auto-detect file line separators".

[2022-01-04 08:30] swarajsaaj commented on #477
Nothing specific for now, you can go ahead with one's you already mentioned.

[2022-01-04 09:14] pblanchardie opened #481 "Default project configuration howto"
In generation domain services, sometimes we see 2 lines:
[code]
And sometimes one line:
[code]

@pascalgrimaud what should we generalize?

The first adds the default to project configuration, but anyway the second defaults to the same default.

[2022-01-04 09:36] pascalgrimaud commented on #481
My suggestion would be to calculate it here: https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/project/domain/Project.java#L30-L44

Then, simply have the method project.getEOL (or getLineSeparator())

[2022-01-04 10:36] pblanchardie commented on #481
OK, I was not sure if it was allowed.

But the question remains for other config items (package, indent, etc.).

[2022-01-04 10:53] pascalgrimaud commented on #481
Yes it was my idea in https://github.com/jhipster/jhipster-lite/issues/59 but I didn't provide enough details in this ticket as I was alone at the beginning of the project :p

But I'd prefer to do it in separate PR
- 1 for packageName
- 1 for indent
- etc...
Easier to review

[2022-01-04 14:44] pblanchardie commented on #302
`git config --global core.autocrlf true` to properly test #480

[2022-01-04 15:45] pblanchardie commented on #477
after playing and fixing in #480, I'd say the best option for Windows users is to stick with LF ;)
hope one day CRLF will disappear!

[2022-01-04 20:32] #281 closed

[2022-01-04 20:57] #279 closed

[2022-01-05 07:33] pascalgrimaud opened #483 "Spring Boot: dummy context"
Generate a dummy context:
- application
- domain, with dummy domain class
- infrastructure
  - primary (could be an API)
  - secondary (could be in memory map)

So we'll have an API to play with

[2022-01-05 12:03] #475 closed

[2022-01-05 13:54] pblanchardie commented on #475
@pascalgrimaud i didn't implement it yet

[2022-01-05 14:48] pascalgrimaud commented on #475
The work is done and it works well :-)

@pblanchardie : I need to improve the Consul part, to include the central-config

[2022-01-05 20:16] pascalgrimaud commented on #483
As it's for test only, it can be generated using git patch.

[2022-01-06 06:35] #477 closed

[2022-01-06 07:57] #461 closed

[2022-01-06 22:26] pascalgrimaud opened #497 "Typescript: init"
- dependency in package.json
- .eslintrc.js
- jest.config.js
- tsconfig.json

Maybe it can be used just before init Vue

Inspired by https://gitlab.ippon.fr/twitch/live-coding-fr/-/tree/master/diamond-ts, coded by @nonomoho

[2022-01-07 14:58] pblanchardie commented on #121
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/60551

[2022-01-07 14:59] pascalgrimaud commented on #121
@pblanchardie : approved, thanks so much for helping this project! <3

[2022-01-07 15:01] pblanchardie commented on #276
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/60553

[2022-01-07 15:02] pascalgrimaud commented on #276
@pblanchardie : approved

[2022-01-07 15:07] pblanchardie commented on #281
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/60554

[2022-01-07 15:08] pblanchardie commented on #477
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/60555

[2022-01-07 15:09] pascalgrimaud commented on #281
@pblanchardie : approved

[2022-01-07 15:10] pascalgrimaud commented on #477
@pblanchardie : approved

[2022-01-07 16:40] #476 closed

[2022-01-07 17:15] pascalgrimaud commented on #270
work in progress here: https://github.com/pascalgrimaud/tmp-jhlite-oauth2

[2022-01-08 17:28] swarajsaaj commented on #424
I think atleast `JIB` must be there as its the simpler+efficient way to build java container images.
Will do a PR for jib soon.

For Dockerfile, I think it would not serve anything extra over Jib, unless the project needs some custom commands/build process etc, which ofcourse will require changes by user later on

[2022-01-08 18:04] pascalgrimaud commented on #424
@swarajsaaj : I would say `springboot/docker/jib` as we could add other stuff later under `springboot/docker/xxxx` :-)

[2022-01-08 18:11] #438 closed

[2022-01-08 18:14] pascalgrimaud commented on #302
- closed by https://github.com/jhipster/jhipster-lite/pull/509

[2022-01-08 18:14] #302 closed

[2022-01-08 18:16] swarajsaaj commented on #424
Thanks @pascalgrimaud , yes the url would be 'springboot/docker/jib' but all this under a new common docker business context in folder 'springboot/docker' or you suggest a dedicated context for jib too?

[2022-01-08 18:20] pascalgrimaud commented on #424
I would suggest these folders, but I'm not totally sure, so don't hesitate to suggest if you have a better idea :-)

![image](https://user-images.githubusercontent.com/9156882/148655252-bc345554-386a-4f41-920b-a88e4fff6fbe.png)

[2022-01-09 18:06] #430 closed

[2022-01-09 18:54] pascalgrimaud opened #514 "Spring Boot: refactoring main test"
Refactoring Main class to use UnitTest instead of IntegrationTest :
- do not start a real app
- speed up the test
- as for OAuth2, we can't start real app without appropriate config

[2022-01-10 22:12] #514 closed

[2022-01-11 06:25] #101 closed

[2022-01-11 09:06] DanielFran commented on #101
@pascalgrimaud Should I create a variant for snapshotRepository?

[2022-01-11 09:08] pascalgrimaud commented on #101
@DanielFran : if you think it can be usefull in short roadmap yes. Otherwise, I'd think it's better to add new methods only when needed :)

[2022-01-11 12:59] #497 closed

[2022-01-11 17:59] DanielFran commented on #101
@pascalgrimaud Bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/60925

[2022-01-11 18:20] pascalgrimaud commented on #101
@DanielFran : approved

[2022-01-11 18:22] DanielFran commented on #102
@pascalgrimaud Can you assign it to me please?

[2022-01-11 18:22] pascalgrimaud commented on #102
Done

[2022-01-11 20:11] DanielFran commented on #278
@pascalgrimaud Can you assign to me, please?

My proposition:
1- Create a module with only the pom where it will be declared all the dependency versions
2- Create a property file from the pom.xml
3- Create a class to read a property and use it each time we need a dependency version.

[2022-01-11 21:30] pascalgrimaud commented on #278
Yes exactly what I have in mind too

[2022-01-11 23:06] pascalgrimaud commented on #278
Let me think a little bit about the folder structure before starting something.
I'll propose it here

[2022-01-12 08:24] pascalgrimaud commented on #278
After thinking a little bit, I would suggest to add the method in existing BuildTooService:

![image](https://user-images.githubusercontent.com/9156882/149090135-e369e48a-f867-4b42-b19b-ad1000b9b3d7.png)

Here the mini roadmap to do this:
- 1st PR
  - add a new `pom.xml` to `src/main/resources/generator/buildtool/` folder with old dependencies (it's intended)
  - update [dependabot](https://github

[2022-01-12 15:47] #102 closed

[2022-01-12 16:51] pblanchardie opened #521 "Hibernate cache configuration"
Configure hibernate cache manager:
[code]

I'll provide a PR.

[2022-01-12 17:06] pascalgrimaud commented on #521
We should add this by default with PostgreSQL and MySQL, right?

[2022-01-12 18:32] DanielFran commented on #278
Seems OK for me.

For 3rd part, `3- Create a class to read a property and use it each time we need a dependency version.`, I was thinking if the property file can be used as any other application property and then use @Value annotation to have access to the property value, so no need to create a specific class/method to have access to the versions ;)

Anyway, let's do it step by step with small PR

[2022-01-12 20:14] pascalgrimaud commented on #278
Mhhh unless I miss understood, the 3rd part is similar to the 2nd part I mentioned

Anyway, I don't think we need `@Value`, as we'll be in the domain, so we can't rely on framework and we don't need framework in fact here. Simple Java code can read files

[2022-01-13 10:08] pblanchardie commented on #521
With any JPA/Hibernate option, when JCache is present.

There are plenty of cache configuration options between Spring and Hibernate, not sure which is the simplest one, and which is mandatory - will re-check.

any advice?

[2022-01-13 22:37] pascalgrimaud opened #524 "Security: add WithMockUser to IntegrationTest"
As there can be another existing resources, `WithMockUser` should be added to `IntegrationTest` instead of ExceptionTranslatorIT:

https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java#L53-L69

[2022-01-14 08:22] #524 closed

[2022-01-14 08:35] pascalgrimaud opened #526 "Refactoring: Spring Boot Common"
- merge logging methods, properties methods to spring-boot/common, as it's a shared kernel

[2022-01-14 08:47] #483 closed

[2022-01-14 08:48] pascalgrimaud opened #527 "Improve Swagger"

[2022-01-14 09:11] #527 closed

[2022-01-14 09:41] #526 closed

[2022-01-14 09:42] pascalgrimaud opened #530 "Refactoring: AOP and Logstash"
Move under same folder `logging` but keep separated contexts

[2022-01-14 10:10] #530 closed

[2022-01-14 11:00] pascalgrimaud opened #532 "CI: refactoring and reduce tests"

[2022-01-14 13:02] #532 closed

[2022-01-14 22:07] pascalgrimaud commented on #278
I'm trying to do the NPM part, with a fresh `package.json`, but I wonder where we should put these new files:
- `pom.xml`
- `package.json`
- Dockerfile / docker-compose for Docker ?
etc

I'd suggest:
- for `pom.xml`, it could be `src/main/resources/generator/buildtool/dependencies/pom.xml`
- for `package.json`, it could be `src/main/resources/generator/packagemanager/dependencies/package.json`

An

[2022-01-16 17:39] #219 closed

[2022-01-16 20:41] pblanchardie commented on #270
[AdminUserDTO:12](https://github.com/pascalgrimaud/tmp-jhlite-oauth2/blob/6b78b9506b12d5c60495a4963842c658a875d80b/src/main/java/tech/jhipster/beer/account/application/AdminUserDTO.java#L12)
Do we still want to provide such login regex? see https://github.com/jhipster/generator-jhipster/issues/12740.

[SecurityConfiguration:194](https://github.com/jhipster/generator-jhipster/blob/ae3817af228408680

[2022-01-16 23:02] pascalgrimaud commented on #270
AdminUserDTO needs some refactoring, it's related to Account context, I didn't finish this part yet.

About aurh-info, see https://github.com/jhipster/jhipster-sample-app-oauth2/blob/main/src/main/java/io/github/jhipster/sample/web/rest/AuthInfoResource.java

[2022-01-17 02:53] pblanchardie commented on #270
Now I have a clear understanding of everything JHipster currently generates (a bit late I admit!).

JHipster OAuth2 simply relies on the default session-based login for monoliths, but it also enables a JWT resource server so the generated API can be consumed by other applications with Authorization Bearer.
I just tested it and it works pretty well on your [tmp-jhlite-oauth2](https://github.com/pas

[2022-01-17 12:12] pblanchardie commented on #438
https://opencollective.com/generator-jhipster/expenses/61424

[2022-01-17 12:13] pascalgrimaud commented on #438
@pblanchardie : approved

[2022-01-17 13:45] #471 closed

[2022-01-17 17:17] pascalgrimaud opened #545 "Springdoc with Security JWT"
Following this https://github.com/jhipster/jhipster-lite/pull/538#issuecomment-1013892448

[2022-01-17 21:33] pascalgrimaud commented on #278
@DanielFran :  I'm adding a bounty on this. I don't need this, as the NPM part was pretty easy

[2022-01-18 17:23] Bolo89 commented on #234
Hello,

I can develop this feature. The steps could be :

Add the dependencies in the pom.xml

Add in the application.properties file the values :
- spring.flyway.enabled=true
- spring.flyway.driver-class-name=
- spring.flyway.url=
- spring.flyway.user=
- spring.flyway.password=

And add in the Project domain (in the config map, without default values)
- flywayDriverClassName=
- flywayUrl=
- flywa

[2022-01-18 17:30] pascalgrimaud commented on #234
Thanks a lot @Bolo89 !

About default values, I'm not sure it is necessary, as after generation, the user should edit, if needed.
It's better than providing all real values (user/password) in the API

Then, another question:
- spring.flyway.url, spring.flyway.user, spring.flyway.password depend on the database, right ?
- which value will you put by default?
- maybe, one suggestion would be to use

[2022-01-18 17:37] Bolo89 commented on #234
I will use directly the properties of the datasource. Thanks.

[2022-01-22 15:55] MSaguer commented on #429
I'm in

[2022-01-22 17:01] MSaguer commented on #429
Shall these files be generated by default? It so, it could be added in SpringBootDomainService.init(), else we may create new new package tech.jhipster.lite.generator.server.springboot.arch.

What do you prefer?

[2022-01-22 17:10] pascalgrimaud commented on #429
I don't think it should be generated by default, it should be optional, as it will add arch unit as dependencies, maybe some users don't want it

Another thing: it's not related to spring boot, because you can: init, maven, java base, hexagonal arch unit tests, then code your domain. No need spring boot yet

So I think the location would be here https://github.com/jhipster/jhipster-lite/tree/main/

[2022-01-22 17:37] MSaguer commented on #429
So, let's create a new server.javatool.arch package

[2022-01-22 21:42] pascalgrimaud commented on #294
I assigned this ticket to you @qmonmert and added a bounty
Will see if it's not enough, according to the amount of work, I can increase it later :)

[2022-01-22 22:21] #426 closed

[2022-01-23 15:52] #545 closed

[2022-01-23 16:37] MarlonLuan opened #579 "Using Spring Boot without the Parent POM"
Sugestion: Change spring-boot-starter-parent to dependency management,

Allowing greater decoupling between the software and the framework

When migrating to other framework like quarkus it would be simpler

https://docs.spring.io/spring-boot/docs/current/maven-plugin/reference/htmlsingle/#using.import

[2022-01-23 17:41] pascalgrimaud commented on #579
I'm not against this.
The use of parent is the default solution when using Spring Initializr: https://start.spring.io/

As the result is the same, but the use of dependency management give more flexibility, let's do it

[2022-01-23 17:51] pascalgrimaud opened #581 "Improve generated README"
When generating some important part, like Maven, Sonar, etc... it would be nice to improve the generated README

I don't know where to put this new method

Solution 1:
- add new method in InitService
- generator/init, and change from business context to shared kernel
- inject InitService each time we need

Solution 2:
- add new method in ProjectRepository
- projectRepository is already injected in

[2022-01-23 17:57] pascalgrimaud opened #582 "Flyway: adding User and Authority SQL file"
- following https://github.com/jhipster/jhipster-lite/pull/570
- similar to what was done for Liquibase

[2022-01-23 18:01] pascalgrimaud opened #583 "Liquibase: rename changelog for User and Authority with timestamp"
With JHipster Lite:
- https://github.com/pascalgrimaud/jhlite-sample-app/tree/main/src/main/resources/config/liquibase/changelog/user/postgresql

With generator-jhipster:
- https://github.com/jhipster/jhipster-sample-app/tree/main/src/main/resources/config/liquibase/changelog

All steps:
- the generated folder should be: `config/liquibase/changelog` (instead of user/postgresql)
- the name of file

[2022-01-23 18:10] pascalgrimaud opened #584 "Reduce output log in generated projects"
When launching tests in a generated projects, there are still a lot of useless logs
It means we should add more logger name to ignore in `logback.xml`

[2022-01-23 20:49] pascalgrimaud opened #585 "Docker: add Dockerfile"
Alternative to Jib, we could generate a simple Dockerfile at the root folder of generated project

Could be done in same context than Docker with Jib

[2022-01-24 22:07] pascalgrimaud opened #590 "Spring Boot Common: read properties"
Add method to read value of a property key
It can be used:
- to know if the key already exists
- to know if database is mysql or postgresql for example

[2022-01-25 07:37] pascalgrimaud opened #591 "Maven frontend-maven-plugin"
Extract the frontend-maven-plugin to do it in a separated PR
- see https://github.com/jhipster/jhipster-lite/pull/559

[2022-01-25 14:52] pascalgrimaud commented on #278
@DanielFran : I'm closing this one as I think the main work is finished.

Now we can improve other context (spring boot, postgresql, liquibase, etc), step by step, for using this new system of version -> and it should be done in another PRs

[2022-01-25 14:52] #278 closed

[2022-01-25 21:48] #590 closed

[2022-01-26 18:32] #234 closed

[2022-01-27 17:47] pascalgrimaud opened #602 "Rename generated fast profile to local profile"
Currently, in generator-jhipster, we have dev and prod profile, which is so confusing

In JHipster Lite, I created 'fast' profile but I don't think the name is correct. I think it's better to name it: local

[2022-01-27 17:50] pascalgrimaud opened #603 "Split package.json related to dependencies"
In this folder  https://github.com/jhipster/jhipster-lite/tree/main/src/main/resources/generator/dependencies, there is a package.json which is auto updated.

This file should be splitted into different files, related to each front which will be support

The idea would be:
- common
- angular
- react
- vue
- svelte (one day :-)

[2022-01-27 17:55] pascalgrimaud opened #604 "CI: wait instead of sleep"
Similar to what is done here https://github.com/hipster-labs/jhipster-daily-builds/blob/main/test-integration/jdl-scripts/25-tests-e2e-docker-compose.sh#L18

It's better to wait the app is started, instead of random sleep

[2022-01-28 10:58] pascalgrimaud opened #606 "Refactoring: Logging templates"

[2022-01-28 11:03] #604 closed

[2022-01-28 12:03] #606 closed

[2022-01-28 15:24] #603 closed

[2022-01-28 18:04] #583 closed

[2022-01-28 18:11] pascalgrimaud opened #612 "MySQL: user / authority + Liquibase"
No need to add the sequence, so it's a little bit different with PostgreSQL
To do:
- new UserEntity / AuthorityEntity templates without sequence
- extract the add sequences in specific method
- call this method only for PostgreSQL

[2022-01-28 20:14] DanielFran commented on #278
@pascalgrimaud Bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/62472

[2022-01-28 20:26] pascalgrimaud commented on #278
@DanielFran : approved

[2022-01-29 05:45] pascalgrimaud opened #615 "Use get version, managed by dependabot"

[2022-01-29 09:36] pascalgrimaud commented on #426
@MSaguer : don't forget your bounty here :-)

[2022-01-29 09:37] pascalgrimaud commented on #424
@swarajsaaj : don't forget your bounty here :-)

[2022-01-29 09:38] pascalgrimaud commented on #426
@MSaguer : my bad, it was already claimed :-D forget my comment ahah

[2022-01-29 17:38] #612 closed

[2022-01-29 17:52] pascalgrimaud opened #619 "UserJpaRepository: add missing integration test"
Add Integration Tests for [UserJpaRepository](https://github.com/jhipster/jhipster-lite/blob/main/src/main/resources/generator/server/springboot/user/sqldatabase/UserJpaRepository.java.mustache)

- clean a little bit the [unused variables](https://github.com/jhipster/jhipster-lite/blob/main/src/main/resources/generator/server/springboot/user/sqldatabase/UserJpaRepository.java.mustache#L17-L19)
- a

[2022-01-29 17:56] pascalgrimaud commented on #615
easy ticket but a little bit long, as it needed to be done in each context
As you started this, I'm assigning this to you @DanielFran

[2022-01-29 18:12] pascalgrimaud commented on #591
Not sure yet about what to add here
- only npm install + npm build ?
- including tests too ?
- etc.

[2022-01-29 18:35] qmonmert commented on #602
I'm on it

[2022-01-29 19:05] Bolo89 commented on #427
Hello,

I can develop the feature. The generator will add in a json file at the init of a project.
Each rest service can be annotated with à custom annotation (with an unique id for the moment).
With aop, we can intercept all rest service called, and get the id from the annotation, to save it in the history file.

It's good for you ?

[2022-01-29 19:09] pascalgrimaud commented on #427
Fine, thanks @Bolo89
Let's give a try with your suggestions

[2022-01-29 21:40] #602 closed

[2022-01-29 21:42] qmonmert commented on #602
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/62533 😛

[2022-01-29 21:44] pascalgrimaud opened #621 "Security: update CORS configuration"
Following this https://github.com/jhipster/jhipster-lite/pull/620, the CORS configuration should be updated:
- in comment by default in application.properties
- uncommented in application-local.properties

This config should be added here too: https://github.com/jhipster/generator-jhipster/pull/17683/files

[2022-01-29 21:46] pascalgrimaud commented on #602
Thanks and approved @qmonmert
I needed this ticket for this one: https://github.com/jhipster/jhipster-lite/issues/621

[2022-01-29 21:47] qmonmert commented on #602
thanks @pascalgrimaud :)

[2022-01-31 14:57] beatfreaker commented on #579
@pascalgrimaud Can you please assign this issue to me?
created a PR with the fix.

[2022-01-31 17:30] MarlonLuan commented on #579
It is necessary to verify the need to configure the plugins, since with the change of the parent for the dependency management, the plugin configurations are not inherited

[2022-01-31 19:03] beatfreaker commented on #579
@MarlonLuan thank you for catching that

[2022-02-01 08:39] #579 closed

[2022-02-01 11:00] beatfreaker commented on #621
@pascalgrimaud can I work on this ?

If I understand correctly we want to modify
https://github.com/jhipster/jhipster-lite/blob/53e8f6d20a045d0250a570eb9f3462ac109bf188/src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java#L144-L156

so that it adds `cors` configuration in both `application.properties` as commented and in `application-lo

[2022-02-01 11:27] pascalgrimaud commented on #621
Yes exactly what you said
- in application.properties: CORS are commented
- in application-local.properties: CORS are here too and not commented

This additional property should be added too: `allowed-origin-patterns: 'https://*.githubpreview.dev'`

[2022-02-01 16:44] #621 closed

[2022-02-01 17:14] beatfreaker commented on #619
@pascalgrimaud `UserJpaRepository` is added by `/postgres` or `/mysql` resource/api,
now to write integration test we need some datasource, for test we can use `h2databse`
but we are adding its dependency when `/liquibase` or `/flyway` api is called
so while writing `UserJpaRepositoryIT` can we assume that `h2databse` dependency will be available ? means user will first invoke `/liquibase` and the

[2022-02-01 17:21] pascalgrimaud commented on #619
We can assume there is already liquibase (or flyway), to create the table User
So you don't need to worry about that.
To be more precise, h2 is added with liquibase to test sync/async, not for real integration tests which are with PostgreSQL or MySQL + testcontainers instead

[2022-02-01 17:25] beatfreaker commented on #619
okay, so for this integration test we want to use testcontainer + MySQL docker container, or we can use in-memory db i.e. h2 ?

[2022-02-01 17:30] pascalgrimaud commented on #619
Sorry, my ticket is not clear enough :-)

The context for Integration Tests is already here, and well configured, it means you don't need to worry about that.

What is missing here is simply `UserJpaRepositoryIT.java`
It should:
- be annotated with `@IntegrationTest`
- test each requests in UserJpaRepository

Don't hesitate to tell me, if I'm not clear enough and I can show you some examples

[2022-02-02 14:34] beatfreaker commented on #619
@pascalgrimaud I think there is some issue whith how `liquibase` scripts are generated.

After generating the project if I try to save `UserEntity` I am getting this error
[code]
I fixed it by adding `autoIncrement="true"` while creating `id` column of `jhi_user` table in `liquibase`

after that if I try to save `UserEntity` I am getting this error
[code]

This is the object which I am trying to s

[2022-02-02 14:51] pascalgrimaud commented on #619
Just had a look and you're right, we need `autoIncrement="true"` for MySQL only

See this line: https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs#L43

So finally, I was wrong when refactoring this: we should not have a single common user.xml for PostgreSQL / MySQL.
We should have 2 different fil

[2022-02-02 15:20] pascalgrimaud commented on #619
That's why this ticket is important, to find these kind of bugs :)

Can you try to update this part for PostgreSQL, in your sample project ?

[code]

[2022-02-02 15:20] beatfreaker commented on #619
Sure, let me try that

[2022-02-02 15:28] beatfreaker commented on #619
Got this
[code]

Seems either something is wrong with this
[code]
or may be this
[code]
debuggin will, will update whatever I'll find

[2022-02-02 15:46] pascalgrimaud commented on #619
I play a little bit with PostgreSQL and these tests work fine for me:

![image](https://user-images.githubusercontent.com/9156882/152187402-58d8f3a5-5bef-44c8-a691-63879942ca24.png)

[2022-02-02 16:08] beatfreaker commented on #619
`repo.find` works, but `repo.save` don't
In my integration test first I am trying to generate some data, but saving new entity
and then testing the repository by calling `repo.find` methods, but `repo.save` method is throwing the exception which I mentioned in my previous comment.

[2022-02-02 17:12] pascalgrimaud commented on #619
In my screen, I manage to save a User without changing the default ManyToMany relationship
Don't hesitate to post your complete integration tests, so I can help

[2022-02-02 17:19] beatfreaker commented on #619
This is how my `UserJpaRepositoryIT` looks like

[code]

[2022-02-02 17:24] pascalgrimaud commented on #619
If you need Authority, you need to save it separately. See my Integration Test, I played with:

[code]

[2022-02-02 17:27] beatfreaker commented on #619
This is interesting, will write in this way, thank you for the suggestion

[2022-02-02 17:28] pascalgrimaud commented on #619
Thanks for helping this project :-)))

[2022-02-03 08:18] #619 closed

[2022-02-03 09:19] beatfreaker commented on #585
@pascalgrimaud for this is there any specific requirement for `Dockerfile` content ? or we can go with very basic setup as below

[code]

[2022-02-03 10:22] pascalgrimaud commented on #585
it's a little bit more complex. I'd like the build part in this Dockerfile, so I can do: `docker build -t xxxx .`

Some ideas:
- https://github.com/jhipster/jhipster-online/blob/main/Dockerfile
- https://github.com/jhipster/jhipster-registry/pull/517/files

[code]

[2022-02-03 10:28] Bolo89 opened #641 "Utils in common domain use external library"
Utils, in common/domain, should not depend on external libraries (ObjectMapper / jackson).
They can be moved in common/ infra/utils

[2022-02-03 10:38] pascalgrimaud commented on #427
added a bounty as it's a lot of work here, and this feature will be very usefull

[2022-02-03 11:01] swarajsaaj commented on #424
Thanks @pascalgrimaud for reminder :)
Submitted at https://opencollective.com/generator-jhipster/expenses/63108

[2022-02-03 11:02] pascalgrimaud commented on #424
@swarajsaaj : in Open Collective, the title refers to another pull request. Can you update it plz ?

[2022-02-03 11:09] swarajsaaj commented on #424
Oops... fixed.

[2022-02-03 11:22] pascalgrimaud commented on #424
@swarajsaaj : approved :-)

[2022-02-03 17:28] #427 closed

[2022-02-04 08:56] Bolo89 commented on #641
@pascalgrimaud , as discussed, for me, it is useless to implement hexa architecture in utility class. The coupling is too strong with the external libs and create min 3 files for each util only to respect the architecture is overkill.

[2022-02-04 10:45] Bolo89 commented on #582
I've develop the flyway feature, i can continue ?

[2022-02-04 10:45] pascalgrimaud commented on #582
sure, you're welcome !

[2022-02-04 10:46] pascalgrimaud commented on #641
then, you're right, let's close this so

[2022-02-04 10:46] #641 closed

[2022-02-08 16:31] matthieulapatate opened #658 "Add IPPON banner as API request"
Create an endpoint for adding a new ascii IPPON banner in jhipster-lite API.

[2022-02-08 19:44] #582 closed

[2022-02-08 21:49] #591 closed

[2022-02-09 16:09] #658 closed

[2022-02-09 16:57] pascalgrimaud opened #661 "Maven default goal for JHipster Lite"
Currently, for starting JHipster Lite, we need to use: `./mvnw spring-boot:run`
I think we can add the default goal `spring-boot:run` in the `pom.xml` file.
With this change, we'll be able to use simply: `./mvnw` to start the project

Then, we can update the README too, with this change.

[2022-02-09 17:08] pascalgrimaud opened #662 "Add .devcontainers"
Same than:
- https://github.com/jhipster/generator-jhipster/issues/17612
- https://github.com/jhipster/generator-jhipster/pull/17792

The dev to do here:
- add a new business context in `generator/setup/codespaces`
- the goal is to generate 2 new files, in the project:
  - `.devcontainer/devcontainer.json`
  - `.devcontainer/Dockerfile` -> must be Java 17, instead of Java 11
- the API could be: `/

[2022-02-11 09:06] matthieulapatate commented on #293
Hello, would that be an executable application or web-based one ? I would be interested in working on it.

[2022-02-11 09:14] seraphinandrieux opened #663 "Upgrading Node LTS version to 16.14"

[2022-02-11 09:28] nonomoho commented on #409
First step is to put the minimum things to make a Vue project work (linter, test framework, config files).
I will propose something.

[2022-02-11 10:36] pascalgrimaud commented on #419
not easy one, but I can help you if needed :)
The important part to move in common is spring boot properties (JPA, Hibernate, etc)

[2022-02-11 10:37] pascalgrimaud commented on #293
@matthieulapatate : you can have a look at https://github.com/jhipster/jhipster-lite/pull/648 and help there, as the work has already been started

[2022-02-11 10:50] pascalgrimaud opened #665 "Vite+Vue3: core"
- not the same than: https://github.com/jhipster/jhipster-lite/issues/409

The generation should be similar to `npm init vite@latest viteapp` (vue-ts), but:
- must be in webapp
- must include unit test

[2022-02-11 13:07] #663 closed

[2022-02-11 13:39] juliensadaoui commented on #421
Hello @pascalgrimaud, i can take this issue.

[2022-02-11 17:09] fdelbrayelle commented on #283
:heavy_check_mark: What has been done today:
- Apache Kafka Clients dependency
- Testcontains dependency
- Docker Compose

:monocle_face: WIP:
- Dummy Producer with Kafka Properties and topic name management (POST endpoint)
- Dummy Consumer with Kafka Properties and topic name management (POST endpoint)
- AKHQ support through a Docker Compose file

[2022-02-11 17:10] Bolo89 commented on #280
Hello @pascalgrimaud, i'm interrested to do this ticket. Possible ?

[2022-02-11 17:11] pascalgrimaud commented on #280
Yes go ahead @Bolo89
Tell me if you need details?

[2022-02-11 17:15] pascalgrimaud commented on #286
closing this and migrate the bounty to https://github.com/jhipster/jhipster-lite/issues/295

[2022-02-11 17:15] #286 closed

[2022-02-11 17:26] pascalgrimaud commented on #615
I don't know, if you think it's ok, we can close it, and later, if needed, we'll improve other part

[2022-02-11 20:37] #615 closed

[2022-02-11 20:39] pascalgrimaud commented on #662
@matthieulapatate : if I'm correct, you already started it. Is it the case?

[2022-02-11 20:54] pascalgrimaud opened #670 "Init: call git init"
When `init` the project, it would be nice to call git init, at the end of this workflow

suggested by @fdelbrayelle

[2022-02-12 07:36] pascalgrimaud opened #671 "Dependabot: Docker images"
The first step would be:
- read Dependabot docs about Docker :-D
- create some Dockerfiles or Docker Compose, which contains the version of the image we use
- then, add the config in dependabot file of the project
- check if the images are regularly updated

Then, we can create a service to read these versions in another PR

[2022-02-12 10:31] #295 closed

[2022-02-12 10:32] pascalgrimaud opened #672 "Codecov for front part"
- following this https://github.com/jhipster/jhipster-lite/pull/668

Codecov should analyze the front part too

[2022-02-12 15:58] #665 closed

[2022-02-12 16:35] pascalgrimaud opened #675 "Sonar: backend and frontend"

[2022-02-12 16:55] #675 closed

[2022-02-12 17:02] pascalgrimaud opened #677 "Warning during Sonar Analysis for JHipster Lite"
When launching local Sonar Analysis, we got these warnings/errors:

[code]

It would be nice to put appropriate config in `sonar-project.properties`

To reproduce:

[code]

[2022-02-13 09:57] juliensadaoui opened #691 "Spring Boot Database Migration: Mongock support"

[2022-02-13 17:38] pascalgrimaud commented on #294
You need a crazy job @qmonmert ! Really. Increasing the bounty as it will be well deserved

[2022-02-13 21:31] qmonmert commented on #294
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/64145 😅

[2022-02-13 21:32] pascalgrimaud commented on #294
@qmonmert : approved

[2022-02-14 10:09] pascalgrimaud opened #712 "Vite/Vue: remove vue-class-component"
As suggested by @nonomoho and @seraphinandrieux, vue-class-component should be removed (for the generated part)

[2022-02-14 11:35] nonomoho commented on #712
I take it

[2022-02-14 12:28] nonomoho opened #715 "JHipster lite front: add axios"
In order to make request to the backend. I propose to use axios.

We need to create a new infrastructure "service" on the front for that.

[2022-02-14 12:57] #712 closed

[2022-02-14 20:29] pascalgrimaud commented on #615
@DanielFran : dont forget to claim your bounty here

[2022-02-14 21:30] DanielFran commented on #615
@pascalgrimaud Latest PR done ;)

[2022-02-14 21:50] DanielFran commented on #615
@pascalgrimaud Bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/64241

[2022-02-14 21:55] pascalgrimaud commented on #615
@DanielFran : approved, thanks for your help

[2022-02-14 21:58] pascalgrimaud opened #721 "Vite/Vue: provide home page with minimal css"
The Vite/Vue context should contain 2 apis:
- one with empty home page, without CSS (what it is currently)
- another one with minimal css (similar to what is generated by vite+vue)

The 1st one can be used for starting real project
The 2nd one is used for demo, as it's better to have minimal CSS than a simple text

[2022-02-15 09:07] flcarre opened #723 "Permission Error"
Hello !

I just clone the project then run ``` ./mvnw clean verify ``` and i got this error, i don't know how to reproduce this error.

[code]

Complete stack trace:

[message.txt](https://github.com/jhipster/jhipster-lite/files/8067522/message.txt)

[2022-02-15 09:12] pascalgrimaud commented on #723
We check together, and some additional information:
- you use Windows wsl ubuntu
- the java --version and javac --version are correctly Java 17
- permissions are ok for projects and /tmp

[2022-02-15 13:22] matthieulapatate commented on #721
For now, only the files responsibles for starting the project have been created, so we just need to generate them throught APIs right ?

[2022-02-15 15:31] pascalgrimaud commented on #721
yes, the new API with new methods will only generate another index.html file

[2022-02-15 15:59] flcarre opened #734 "Suggestion: automatically init a project"
Instead of actual error 500 when i want to add a modules in a new path, maybe automatically init a project if path destination do not exist

[2022-02-15 16:50] matthieulapatate commented on #721
Currently in process, soon available.

[2022-02-15 17:14] flcarre opened #735 "[suggestions] add different folder archi in front projects"
For instance we can add atomic design pattern, which is more communly use in front project than hexagonal archi.

https://blog.ippon.tech/atomic-design-in-practice/

https://blog.ippon.fr/2018/05/29/atomic-design-dans-la-pratique/amp/

[2022-02-15 17:23] pascalgrimaud commented on #735
I know atomic design pattern, but unless I'm wrong, it's totally another subject.
The goal of JHipster Lite is to generate code and try to organize it in an Hexagonal Architecture, using primary, domain, secondary folders.

For Atomic Design Pattern, it can be related to https://github.com/tikui but it would be another "type" of project.

So in fact, I don't understand well the ticket here :-D

[2022-02-15 17:57] pascalgrimaud opened #737 "Current failures during npm test: Maximum call stack size exceeded"
Probably related to a recent upgrade of one library with dependabot

[code]

[2022-02-15 18:54] flcarre opened #743 "Add Vite+React"

[2022-02-15 19:14] pascalgrimaud commented on #743
I think we can keep both options:
- simple default React
- Vite+React

Both can be used to init front part, then later, we could add account, user management etc, which are common for these 2 options

So Vite+React would be similar to Vite+Vue :-)

[2022-02-15 21:56] pascalgrimaud opened #744 "Codecov configuration"
Add codecov.yml at root of the project:

[code]

[2022-02-15 22:00] #421 closed

[2022-02-15 22:03] pascalgrimaud commented on #294
- closed by https://github.com/jhipster/jhipster-lite/pull/571

[2022-02-15 22:03] #294 closed

[2022-02-15 22:07] pascalgrimaud commented on #440
Let's close this one as the current code works well

[2022-02-15 22:07] #440 closed

[2022-02-15 22:15] pascalgrimaud commented on #743
Do you want to work on this @flcarre ?
If yes, I'm assign this ticket to you

[2022-02-15 22:44] jridgewell commented on #737
This is caused by https://github.com/babel/babel/issues/14273#issuecomment-1040869361, which is now fixed in v7.17.4

[2022-02-15 23:08] yelhouti opened #745 "Project Scope/purpose and difference with Jhipster"
Hi all,

can anyone explain how this project is different from JHipster, whether we are talking about the scope or the technologies used?

Are there feature in JHipster that we know we don't want here ?

Will this project support generating entities from JDL or json ?

Are users of JHipster expected to switch once this project is mature enough ?

Maybe the README could have a section about all the

[2022-02-16 05:02] flcarre commented on #743
Yes i have already start

[2022-02-16 05:34] pascalgrimaud commented on #737
Thanks a lot for this quick fix @jridgewell

[2022-02-16 05:55] pascalgrimaud commented on #745
Hello @yelhouti, I don't know if you saw the long mail in our mailing list. If not, here the story of JHipster Lite: https://groups.google.com/g/jhipster-dev/c/LufZy80i_BQ

About entities:
For the moment, I don't plan to support entities, because when you code in TDD in Hexagonal Architecture, you must not think about entities, but think about domain model and business rules.
Entities can be gener

[2022-02-16 06:09] #737 closed

[2022-02-16 06:51] juliensadaoui commented on #421
Bounty claimed at https://opencollective.com/generator-jhipster/expenses/64369

[2022-02-16 07:42] pascalgrimaud commented on #421
@juliensadaoui : approved

[2022-02-16 10:53] flcarre opened #746 "Add SvelteKit"

[2022-02-16 10:54] flcarre commented on #746
I already have a fully configured Vite+svelte project, so please assigne me on this issues.

[2022-02-16 10:59] pascalgrimaud commented on #746
cc @vishal423 : as you are the lead on svelte blueprint, so you know the work will start soon

[2022-02-16 11:12] yelhouti commented on #745
@pascalgrimaud no I missed that, thanks for the link.

I also find it very difficult to maintain blueprints with the way the code is done today in jhipster. Hopefully, this approach will be better suited for customization, I like the idea anyway.

I don't fully understand how the hexagonal architecture is supposed to work (how the final code should look like). Hopefully when I have a clearer I cou

[2022-02-16 11:15] pascalgrimaud commented on #745
@yelhouti : I don't know if you're french. If it's the case, you can have a look at https://blog.ippon.fr/2021/02/17/spring-boot-hexagone/

You have an example of generated project with JHipster Lite at: https://github.com/pascalgrimaud/jhlite-sample-app
The dummy context is the perfect example for showing adapters and ports, with a domain model:
- https://github.com/pascalgrimaud/jhlite-sample-ap

[2022-02-16 11:18] pascalgrimaud commented on #745
As I already said, me too I'm totally lost when trying to help in existing blueprints. I don't understand all the process, so I can't imagine for new contributors who would like to code their blueprints...

That's why I say to all my customers: don't code your own blueprint, it's impossible to maintain

[2022-02-16 11:39] yelhouti commented on #745
@pascalgrimaud thanks for the links, and yes I can speech french. I "maintain" two blueprints and yes it is a a huge pain every few months I try merge there is a big refactoring :s

[2022-02-16 15:15] #715 closed

[2022-02-16 16:04] vishal423 commented on #746
I think we should go with svelte/kit as used in the blueprint

[2022-02-16 16:10] flcarre commented on #746
Svelte kit is faster than vite ?

[2022-02-16 18:44] vishal423 commented on #746
SvelteKit is a framework for web apps and it internally uses Vite

[2022-02-16 19:00] flcarre commented on #746
Ok fine, let's use SvelteKit so

[2022-02-16 20:34] #744 closed

[2022-02-16 21:08] flcarre commented on #735
I guess a controller that will create placeholder components following atomic design rules in the primary app folder.

[2022-02-17 07:42] seraphinandrieux commented on #419
PR #722

[2022-02-17 08:02] Bolo89 opened #753 "Spring cloud : refactoring to add common dependency in common domain"
The spring cloud management dependency is added in :
- spring cloud config
- consul
- eureka

It's better to move the code in spring cloud common domain to avoid duplicated code.

[2022-02-17 08:43] pascalgrimaud commented on #280
Increasing the bounty as it was more work than expected, because it needed to do some refactoring part

[2022-02-17 09:31] flcarre commented on #734
When i call
POST
/api/vite/vue

with a folder path in my request body that doesn't exist, i've got an Internal Server Error cause my folder is not init. Instead of this error 500, why not call the POST /api/projects/init ?

[2022-02-17 21:23] #280 closed

[2022-02-18 15:50] flcarre opened #761 "Add NextJS"

[2022-02-18 15:50] flcarre commented on #761
@pascalgrimaud pls assigne me

[2022-02-19 09:22] #662 closed

[2022-02-20 11:56] flcarre opened #776 "React: add cypress"

[2022-02-20 15:10] flcarre commented on #776
pls assigne me @pascalgrimaud

[2022-02-20 15:18] pascalgrimaud commented on #776
Unless I'm wrong, I think it could be created in a new context here:
https://github.com/jhipster/jhipster-lite/tree/main/src/main/java/tech/jhipster/lite/generator/client

We'll have client/cypress or client/e2e/cypress
This new API could be used by Angular, React or Vue, as it does not depend on Client.
What do you think ?

[2022-02-20 16:19] flcarre commented on #776
I think as Vue and React are on vite, It could bé possible that they need the same configuration. But for Angular and Svelte i have to check to confirm

[2022-02-20 17:55] #661 closed

[2022-02-20 19:15] MSaguer commented on #584
I can work in this

[2022-02-20 19:52] pascalgrimaud commented on #584
Thanks @MSaguer
If possible, small PR in each contexts would be cool :-)

[2022-02-21 09:28] flcarre commented on #776
React and Vue have `@cypress/react` and `@cypress/vue`, so the dependencies are different. This dependencies contains utils fonction for testing. It's possible to use cypress without this packages but this will affect the DX. Svelte and Angular haven't this utils fonction for now. As Vue and React use Vite, the configuration will be different for Svelte and Angular than Vue and React. I think the

[2022-02-21 10:40] nonomoho opened #780 "Use `@` instead of `../../../../`"
we really need to find a way to use `@` instead, but can be done in another PR

_Originally posted by @pascalgrimaud in https://github.com/jhipster/jhipster-lite/pull/724#discussion_r808102670_

[2022-02-21 10:40] nonomoho commented on #780
I take it @pascalgrimaud

[2022-02-21 10:59] pascalgrimaud commented on #780
adding a bounty as I spent hours on this and didn't manage to find the fix!
Thanks so much @nonomoho

[2022-02-21 10:59] #780 closed

[2022-02-21 14:39] nonomoho opened #787 "JHipster front: Add Vue Router"

[2022-02-21 14:39] nonomoho opened #788 "Init a project with JHipster Front"

[2022-02-21 16:04] flcarre opened #790 "React: account with authentication JWT"

[2022-02-21 22:13] #419 closed

[2022-02-21 22:14] pascalgrimaud commented on #419
increasing the bounty as it's much much work than expected
thanks a lot @seraphinandrieux

[2022-02-22 08:23] seraphinandrieux commented on #420
I can work on it

[2022-02-22 08:30] pascalgrimaud opened #793 "CI: add sonar analysis"
Similar to what is done in generator-jhipster: https://github.com/jhipster/generator-jhipster/blob/main/test-integration/scripts/25-sonar-analyze.sh#L19-L27

But the CI should fail if there is a single code smell

Here my local test:

[code]

[code]

[2022-02-22 14:46] #787 closed

[2022-02-22 16:38] pascalgrimaud opened #803 "Spring Cloud: base name with lower case in configuration"
The configuration in bootstrap.properties should use base name with lower case
The properties are:
- instanceId
- service-name

![image](https://user-images.githubusercontent.com/9156882/155554184-938ffe7c-7467-45f2-8c0e-3d4bbb6f4d1e.png)

[2022-02-22 17:26] pascalgrimaud opened #804 "SpringDoc: fix method name with lower case 1st letter"
![image](https://user-images.githubusercontent.com/9156882/155185369-42fbb44e-11aa-4489-93be-8bd52860449f.png)

To change:
- https://github.com/jhipster/jhipster-lite/blob/main/src/main/resources/generator/server/springboot/mvc/springdoc/src/SpringDocConfiguration.java.mustache#L19
- https://github.com/jhipster/jhipster-lite/blob/main/src/main/resources/generator/server/springboot/mvc/springdoc/sr

[2022-02-22 19:58] #753 closed

[2022-02-22 21:03] juliensadaoui opened #805 "Mongock: adding User and Authority"
- related at #691
- similar to what was done for Liquibase and Flyway

[2022-02-22 21:28] pascalgrimaud commented on #293
Following discussion with @qmonmert, it's better to not confuse our users by supporting 2 React options.
We can rethink about it, if one day, we're not happy with Vite anymore.

So you can claim a part or the full bounty, for all the work done here, @qmonmert
Thanks so much for your help on this project.

[2022-02-22 21:28] #293 closed

[2022-02-22 21:46] pascalgrimaud opened #807 "Angular: empty home page"
Similar to what is done in Vue/Vite

[2022-02-22 21:47] pascalgrimaud opened #808 "React: empty home page"
Similar to what is done in Vue/Vite

[2022-02-22 21:49] pascalgrimaud commented on #790
As discussed, plz provide first a sample project, before working on the generator part
it will be easier for you

[2022-02-22 21:51] qmonmert commented on #807
I take this ticket

[2022-02-22 22:37] pascalgrimaud opened #809 "Project folder"
The project folder should be used to create another folder inside
If it's not filled, we could use /tmp

Then, another sub folder inside /tmp will be create. The sub folder could be:
- baseName
- baseName + timestamp if the 1st one is used
- random uuid

[2022-02-22 22:37] pascalgrimaud commented on #809
As it needs a lot of refactoring, we need to think and discuss first

[2022-02-22 22:40] pascalgrimaud commented on #809
Another possible improvement, with less refactoring could be:
- when building the project, if the folder is empty, just use /tmp/randomUuid

[2022-02-23 07:37] Bolo89 commented on #804
@pascalgrimaud can u assign me the issue ? Thanks

[2022-02-23 08:33] pascalgrimaud opened #810 "Security JWT: use 1 single ControllerAdvice"

[2022-02-23 10:32] #429 closed

[2022-02-23 18:21] pascalgrimaud opened #821 "Using same script to start front and use same port"
Each front uses his own script:
- Angular: `npm run start`
- React: `npm run dev`
- Vue: `npm run dev`

I think we should have at least 1 common same script to start the front
So I suggest to add: `start` for React and Vue, so the users from generator-jhipster won't change
But for React and Vue, we can keep `dev`, which could be used too

Then, I suggest to change the port, and use the same one in

[2022-02-24 07:21] pascalgrimaud opened #823 "Update README with last features"

[2022-02-24 08:54] pascalgrimaud opened #825 "CORS configuration"
- related to https://github.com/jhipster/jhipster-lite/pull/801

The CORS configuration needs to be added in JHipster Lite

[2022-02-24 08:54] pascalgrimaud opened #826 "Security JWT: move CORS configuration to spring mvc"

[2022-02-24 09:03] #810 closed

[2022-02-24 09:07] pascalgrimaud opened #828 "ArchUnit: add properties"
- add archunit.properties similar to https://github.com/jhipster/jhipster-lite/blob/main/src/test/resources/archunit.properties
- upgrade the dependency like https://github.com/jhipster/jhipster-lite/pull/812

[2022-02-24 09:45] #825 closed

[2022-02-24 11:06] pascalgrimaud opened #831 "React: consistency of home page with other front"
- Similar to what was done here https://github.com/jhipster/jhipster-lite/pull/766

[2022-02-24 11:27] #826 closed

[2022-02-24 13:01] #788 closed

[2022-02-24 13:06] pascalgrimaud opened #838 "Maven: forcing UTF8"
It's to avoid having:

![image](https://user-images.githubusercontent.com/9156882/155529569-0158a587-93fb-4bc8-9450-0eb1203184d6.png)

[2022-02-24 13:59] #838 closed

[2022-02-24 14:05] matthieulapatate commented on #831
I take it :+1:

[2022-02-24 15:09] #828 closed

[2022-02-24 15:53] #823 closed

[2022-02-24 18:47] #803 closed

[2022-02-24 21:05] pascalgrimaud opened #849 "JH Lite: ignore target during npm test"
Here the logs during `npm test` :

[code]

The configuration should ignore target/classes

[2022-02-24 22:21] #793 closed

[2022-02-24 22:23] pascalgrimaud opened #851 "CI: add Sonar Analysis for generated projects"
- following https://github.com/jhipster/jhipster-lite/issues/793

We should do the same but for generated projects

[2022-02-25 06:08] #849 closed

[2022-02-25 07:21] pascalgrimaud commented on #409
Replaced by Vite+Vue3

[2022-02-25 07:21] #409 closed

[2022-02-25 07:21] pascalgrimaud opened #853 "Refactoring: rename vue3 to vue"

[2022-02-25 07:55] #853 closed

[2022-02-25 12:51] #851 closed

[2022-02-25 18:29] #831 closed

[2022-02-26 09:18] Bolo89 commented on #677
@pascalgrimaud can u assign me the issue ?

[2022-02-26 14:00] #677 closed

[2022-02-26 15:21] #804 closed

[2022-02-27 06:16] flcarre commented on #808
Please assign me

[2022-02-27 06:32] flcarre opened #868 "Svelte: empty home page"

[2022-02-27 06:34] flcarre commented on #868
i take this ticket

[2022-02-27 20:54] #807 closed

[2022-02-27 20:56] qmonmert commented on #807
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/65404 :)

[2022-02-27 21:55] pascalgrimaud commented on #807
@qmonmert : approved

[2022-02-27 21:55] qmonmert commented on #807
thanks @pascalgrimaud

[2022-02-27 22:00] qmonmert commented on #808
I take this ticket

[2022-02-28 06:31] flcarre commented on #808
Already done

[2022-02-28 06:34] pascalgrimaud commented on #808
@flcarre : oh sad, don't forget to comment the ticket, so there is no double work

[2022-02-28 06:35] flcarre commented on #808
I havent work on this, i just was pranked Yesterday too 😅

[2022-02-28 06:36] flcarre commented on #808
Done in #862

[2022-02-28 06:43] pascalgrimaud commented on #808
@flcarre : no, see https://github.com/jhipster/jhipster-lite/tree/main/src/main/resources/generator/client/vite/react/src/main/webapp/app/common/primary/app

The default App.tsx still contain some CSS, it should be simple text.

[2022-02-28 06:48] flcarre commented on #808
Oh ok 😅 i thought the issue was for the "styled" api

[2022-02-28 06:50] pascalgrimaud commented on #808
Time to wake up and take a coffee :-)

[2022-02-28 08:48] matthieulapatate commented on #585
Hello @beatfreaker, did you work on this ?

[2022-02-28 13:16] matthieulapatate commented on #670
I did a pull request #869 on draft because the tests doesnt run correctly.

[2022-02-28 16:06] beatfreaker commented on #585
@matthieulapatate Yes, creating PR in some time, sorry was caught with something so couldn't push the code

[2022-02-28 16:07] matthieuRioual opened #877 "Spring Boot Database: Cassandra"
Like generator-jhipster is currently doing, the goal of this issue would be to help users to add configuration for cassandra into their application.

[2022-02-28 17:28] Bolo89 commented on #671
@pascalgrimaud possible to assign me this issue ?

[2022-02-28 17:30] pascalgrimaud commented on #671
@Bolo89 : done. Plz do it in different pull requests, as suggested in the ticket

[2022-03-01 08:01] #585 closed

[2022-03-01 19:59] pascalgrimaud opened #897 "Vue: account with authentication JWT"
**TO-DO**
- [x] Create a sample project that adds the jwt authentication to the `vue-core` module and shows it working with login and logout
- [x] https://github.com/jhipster/jhipster-lite/pull/11047
- [ ] Add `vue-jwt` and `vueoauth2app` at the matrix in `github-actions.yml`. Delete the `vueapp` from `generate.sh`. Must be done in different pull request (I can't update the matrix before merge the

[2022-03-01 19:59] pascalgrimaud opened #898 "Angular: account with authentication JWT"

[2022-03-01 20:08] pascalgrimaud opened #899 "GitHub Actions: concurrency cancel in progress"

[2022-03-01 21:00] #899 closed

[2022-03-02 08:07] seraphinandrieux opened #901 "Database: Don't expose method to add TestContainers associated to DB modules"
Task => Keep `addTestContainers()` method into `DomainService` when initializing, however don't expose this method.

[2022-03-02 21:06] #808 closed

[2022-03-02 21:16] qmonmert commented on #808
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/65923 🙂

[2022-03-02 21:17] pascalgrimaud commented on #808
@qmonmert : approved and thanks for helping this project!

[2022-03-02 21:18] qmonmert commented on #808
thanks 🙂

[2022-03-03 08:25] #420 closed

[2022-03-04 07:02] seraphinandrieux opened #916 "Spring Boot Database: Add User changelogs with MariaDB and liquibase"
Same as Postgresql or Mysql, the point is to add an user context linked to MariaDB and liquibase.

[2022-03-04 07:03] seraphinandrieux opened #917 "Spring Boot Database: Add User sql scripts with MariaDB and Flyway"
Similar to #916. Instead of using liquibase, here use flyaway.

[2022-03-04 07:05] seraphinandrieux commented on #916
@pascalgrimaud , could you assign to me this ticket please ?

[2022-03-04 07:08] pascalgrimaud commented on #916
sure @seraphinandrieux : done
thanks a lot :)

[2022-03-04 07:11] pascalgrimaud commented on #917
I'll assign it to you @seraphinandrieux when you start it :D

[2022-03-04 07:47] seraphinandrieux commented on #917
for sure :)

[2022-03-04 09:04] #901 closed

[2022-03-04 16:58] pascalgrimaud opened #920 "Spring Security without the WebSecurityConfigurerAdapter"
Following these links:
- https://twitter.com/mraible/status/1499752697406361601
- https://spring.io/blog/2022/02/21/spring-security-without-the-websecurityconfigureradapter

Todo here, 2 PRs:
- update Spring Security, related to JWT
- update Spring Security, related to OAuth2

[2022-03-04 21:23] #270 closed

[2022-03-04 21:23] pascalgrimaud opened #921 "OAuth2: resource-server / client"
- following https://github.com/jhipster/jhipster-lite/pull/443

Currently, the API OAuth2 generates:
- client - https://www.baeldung.com/spring-security-5-oauth2-login
- resource-server - https://www.baeldung.com/spring-security-oauth-resource-server

After some discussion with @Bolo89 and following this very important comment https://github.com/jhipster/jhipster-lite/issues/270#issuecomment-10140

[2022-03-05 10:15] pascalgrimaud opened #923 "OAuth2: account context"
User domain:
- [User](https://github.com/pascalgrimaud/jhipster-minimal/blob/main/src/main/java/io/github/jhipster/user/domain/User.java)

Primary: similar to [AccountResource](https://github.com/jhipster/jhipster-sample-app-oauth2/blob/main/src/main/java/io/github/jhipster/sample/web/rest/AccountResource.java), 2 API to implement:
- /api/account
- /api/authenticate

[2022-03-05 11:21] pascalgrimaud commented on #761
I'm closing this, as I don't think it's a good idea to implement it, specially if you don't want to maintain it in the future
Let's focus on Angular / React / Vue, it's enough, I think

[2022-03-05 11:21] #761 closed

[2022-03-05 11:52] pascalgrimaud opened #927 "Refactoring: Vite+Vue to simply Vue"

[2022-03-05 11:52] pascalgrimaud opened #928 "Refactoring: Vite+React to simply React"

[2022-03-05 14:10] #927 closed

[2022-03-05 15:03] #928 closed

[2022-03-05 15:24] pascalgrimaud opened #935 "History: API to list history"
Simply read the history file and send it
I think it can be used in front when displaying button

[2022-03-05 15:27] pascalgrimaud opened #936 "Front: add maven button"
Similar to the init button, it should be nice to have maven button

[2022-03-05 15:41] pascalgrimaud opened #937 "Refactoring: rename SpringDoc to Springdoc"

[2022-03-05 17:51] #937 closed

[2022-03-05 18:15] DanielFran opened #939 "Liquibase: Update changelog URI to use https"
Update changelog URI to use https

[2022-03-05 19:10] #939 closed

[2022-03-05 19:12] #422 closed

[2022-03-05 20:11] Hawkurane commented on #422
Thank you for the review and merging my PR @pascalgrimaud

By the way, i've just claimed the bounty on open collective. Almost forgot how to do this since it's a been a long time I did this 🤣

https://opencollective.com/generator-jhipster/expenses/66175

[2022-03-05 20:13] pascalgrimaud commented on #422
It's fine @Hawkurane, but can you update the title in your Invoice plz?

https://github.com/jhipster/issues/422 -> https://github.com/jhipster/jhipster-lite/issues/422

[2022-03-05 20:34] pascalgrimaud opened #943 "ExceptionTranslator for GeneratorException"
The `GeneratorException` is not managed by `ExceptionTranslator` so all GeneratorException errors are 500, instead of 400

[2022-03-05 20:48] Hawkurane commented on #422
My bad, it's all done now :)

[2022-03-05 20:51] pascalgrimaud commented on #422
Thanks, approved @Hawkurane :)

[2022-03-05 21:33] MSaguer commented on #584
@pascalgrimaud, I'm struggling with the traces generated by LogstashTcpLifeCycleTest unit test.
[code]

I first though that it could be solved by setting logback configuration on 'net.logstash.logback' but it has no effect.
Any idea?

[2022-03-06 05:44] pascalgrimaud commented on #584
I'll have a look

[2022-03-06 07:15] pascalgrimaud commented on #584
I tried and I didn't find the good configuration to ignore these logs.
I think it's because of `LogstashTcpLifeCycle` which uses internal logger to send logs to Logstash.
So we can simply ignore these logs for now:
- it's during tests
- logstash is not used a lot I think, as least not at the beginning of project

Another solution would be to try to completely rework the `LogstashTcpLifeCycleTest`

[2022-03-06 08:14] pascalgrimaud commented on #584
Following your other comment @MSaguer, I think there are some work before closing this ticket:

![image](https://user-images.githubusercontent.com/9156882/156914923-0cb386c4-34fa-4e3f-96d2-499fd78be690.png)

![image](https://user-images.githubusercontent.com/9156882/156914892-3611ffc2-b3dc-481c-93a3-4dce6082a566.png)

[2022-03-06 08:37] MSaguer commented on #584
Unit tests seems OK for me but Integration Tests are not.
It requires new needle in application-test.properties to be able to configure logging. It's in progress.

[2022-03-07 06:55] pascalgrimaud opened #949 "Refactoring: GitHub Actions"
2 refactoring:
- move to correct folder
- maybe rename GithubActions* to GitHub*, so we could easily add later some other workflow (labeler, releaser, etc)

Currently:
- generator/githubactions

Some possible refactoring:
- ci/githubactions
- ci/github
- setup/github: we could move codespaces here too

What do you think @Hawkurane ?

[2022-03-07 10:05] pascalgrimaud opened #950 "Front: add java & springboot"
- following this https://github.com/jhipster/jhipster-lite/pull/941

It could be cool to add the following buttons + apis:
- java base
- spring boot
- spring boot mvc tomcat

[2022-03-07 14:24] Franceq34 commented on #950
working on it :office_worker:

[2022-03-08 06:50] pascalgrimaud opened #954 "ProjectRepository: method to rename a file"
Add to FileUtils a method to rename a file
Then, use it in ProjectRepository

[2022-03-08 08:07] #954 closed

[2022-03-08 08:33] pascalgrimaud opened #956 "Front: add Cypress"
We should add Cypress to test the front part.
The first step would be:
- add all dependencies and configuration
- add tests
- launch Cypress in CI -> I can take care of this part

[2022-03-08 08:38] Franceq34 commented on #956
WIP :construction: :warning:

[2022-03-08 09:19] pascalgrimaud commented on #950
closed by https://github.com/jhipster/jhipster-lite/pull/953

[2022-03-08 09:19] #950 closed

[2022-03-08 12:24] #916 closed

[2022-03-08 14:29] seraphinandrieux commented on #917
Hey again @pascalgrimaud ,
Could you assign to me this ticket, I'm working on it

[2022-03-08 14:31] pascalgrimaud commented on #917
done! Thanks @seraphinandrieux

[2022-03-08 14:33] pascalgrimaud commented on #917
Adding a bounty for the work done for this ticket + https://github.com/jhipster/jhipster-lite/issues/916

[2022-03-08 17:46] #670 closed

[2022-03-08 17:57] #917 closed

[2022-03-08 18:20] pascalgrimaud commented on #956
The CI part is done. I'm letting your play with additional tests, related to the Generator

[2022-03-09 07:22] seraphinandrieux commented on #935
@pascalgrimaud Is it possible to work on it ?
Thanks :)

[2022-03-09 08:41] Franceq34 commented on #956
working on it :construction:

[2022-03-09 20:56] pascalgrimaud commented on #956
closed by https://github.com/jhipster/jhipster-lite/pull/969

[2022-03-09 20:56] #956 closed

[2022-03-10 09:26] Franceq34 opened #984 "Front: add project name, package and port to front generator"
- rename bounded context generator to springboot
- add generator object to API and update form
"generator-jhipster": {
    "baseName": "beer",
    "projectName": "Beer Project",
    "packageName": "tech.jhipster.beer",
    "serverPort": 8080
  }

[2022-03-10 10:09] Hawkurane commented on #949
I think it's not such a bad idea if you want to generate something not a YML ci.

However I would instead use something like:

- generator/ci/github/actions

because in the future we might have

- generator/ci/gitlab/gitlab-ci
- generator/ci/azure/pipelines

since codespaces all of these CI are somewhat built different in terms of package setups it's not so bad to keep it "abstract"

[2022-03-10 10:11] pascalgrimaud commented on #949
Let's do the refactoring -> `generator/ci/github/actions`

[2022-03-10 13:55] matthieulapatate commented on #943
I'm on it

[2022-03-10 16:20] #984 closed

[2022-03-10 17:03] pascalgrimaud opened #988 "Front: add Spring Boot MVC Tomcat button"

[2022-03-10 17:21] pascalgrimaud opened #990 "CSS to choose"
Need to be discussed first.

The final app should have less than 5 pages I think:
- account for login, register, forgot password (only for the Cloud version)
- Spring Boot generator
- maybe one day Quarkus generator
- Micronaut generator
- etc

Several options here:
- build our own CSS, and embedded in the app -> most simplest
- use an existing CSS (but we won't use all elements, so maybe it's ove

[2022-03-10 17:44] #988 closed

[2022-03-10 17:58] pascalgrimaud opened #991 "Vue: add Cypress"
This PR https://github.com/jhipster/jhipster-lite/pull/957 can help to know the diff to generate

[2022-03-10 18:04] Franceq34 commented on #990
I'm open to discuss about it.
My thoughts is that we shouldnt use bootstrap or materialize as they are too complex for our small needs. However, Tailwind could be great.
I would like to mention @nonomoho and @seraphinandrieux here 🎨

[2022-03-11 07:46] pascalgrimaud opened #992 "README: improve with front part"

[2022-03-11 07:55] seraphinandrieux commented on #990
@Franceq34 I'm glad to see you have thought to me for this subject ^^
On my side, i'm not an expert at all about CSS subjects. I only had the opportunity to use a custom Pattern Library.
However I agree on the idea to go to the simplest option for now.
Maybe Later we will have to refactoring this part...

[2022-03-11 08:10] #992 closed

[2022-03-11 09:12] Franceq34 opened #995 "Front: Add existing endpoints calls and organize repositories"

[2022-03-11 13:47] pascalgrimaud opened #1002 "Dependabot configuration: enable auto merge for patch and minor"
- related to https://github.com/jhipster/generator-jhipster/issues/12746

See documentation: https://github.com/dependabot/fetch-metadata#enabling-auto-merge

I think it's a good idea to enable auto merge for patch and minor version

[2022-03-11 14:54] #943 closed

[2022-03-12 06:16] pascalgrimaud opened #1007 "Upgrade to Spring Boot v2.7.0-MX"
To try only in JHipster Lite, not in generated projects

[2022-03-12 07:52] pblanchardie commented on #921
For user-facing monoliths without reusable APIs, a better minimal option would be "login-only" (without resource server). It was the first version of the previous PR, so it would be easy to reproduce.

Microservices and standard Web Services should not provide "login" but only JWT, so SecurityConfiguration should override the default configuration **without** `oauth2Login()`. See https://www.baeld

[2022-03-12 08:07] pascalgrimaud commented on #921
Thanks for clarification @pblanchardie

Indeed you're right about `oauth2Login()`, see the generator-jhipster:
- [monolith](https://github.com/jhipster/generator-jhipster/blob/980ca577b72a846208d2fec0d85267a995bc8e53/generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs#L275-L278)
- [reactive](https://github.com/jhipster/generator-jhipster/blob/bb4fd162681f7d9d06d

[2022-03-12 08:08] beatfreaker commented on #1002
@pascalgrimaud can I work on this ?

[2022-03-12 08:19] pascalgrimaud commented on #1002
yes @beatfreaker and thanks a lot :)

[2022-03-12 08:57] pascalgrimaud commented on #144
I know our current APIs are not so nice, but without any suggestions, it can't be improved.
So your opinions are needed here, @fdelbrayelle @hdurix

[2022-03-12 09:12] pascalgrimaud opened #1009 "Upgrade to Keycloak 19"
Similar to what was done here by @yelhouti :
- https://github.com/jhipster/generator-jhipster/pull/18441

[2022-03-12 09:57] #1002 closed

[2022-03-12 10:33] pascalgrimaud commented on #671
it's so huge work. I'm increasing the bounty

[2022-03-12 12:39] #671 closed

[2022-03-12 15:58] seraphinandrieux commented on #897
Hi Pascal,
Is it possible to work on this feature ?

[2022-03-12 16:16] pascalgrimaud commented on #897
@seraphinandrieux : sure, but before starting the generator part, I would suggest to tackle this ticket with a sample project, then share it here, so we can be sure it's the right way
What do you think?

[2022-03-12 16:17] pascalgrimaud commented on #897
So the order:
- working on sample project
- push to github project
- discuss
- once we agree, then working on the generator part in JH Lite

[2022-03-12 16:18] pascalgrimaud commented on #897
Starting with this bounty. If it's more work than expected, I'll increase it

[2022-03-12 16:22] seraphinandrieux commented on #897
Let's doing that :)

[2022-03-12 16:22] seraphinandrieux commented on #897
agree

[2022-03-12 16:25] pascalgrimaud commented on #897
Don't hesitate to have a look at https://github.com/jhipster/jhipster-sample-app-vuejs

There are some good code there, we can take, polish and reorganize in HexaArch, specially the auth part with token

[2022-03-13 10:00] seraphinandrieux commented on #897
@pascalgrimaud , I'm a bit confused about the limit of this ticket :
Should I also create a login form and the resource to get JWT token ? or just the front app with form or just automatically get JWT from front before building app ?

[2022-03-13 10:34] Franceq34 opened #1013 "Frontend: Add Console Logger for errors"

[2022-03-13 15:04] pascalgrimaud commented on #897
@seraphinandrieux : if the ticket is too big, it can be splitted into smaller tickets

The idea is:
- given a Vue project with Security JWT and basic auth
- when I add account with Vue
- then, I should be able to log into the application

For generating a Vue project :
init, maven, java base, spring boot, spring boot tomcat, security jwt, basic auth, frontend maven plugin, vue

Then, about the wor

[2022-03-13 15:22] #935 closed

[2022-03-13 17:54] Franceq34 commented on #935
I see this ticket was merged and closed, I tested it it works fine congrats @seraphinandrieux :) May I create a ticket to retrieve in the generator ? @pascalgrimaud

[2022-03-13 18:30] pascalgrimaud commented on #935
@Franceq34 : yes you can. First, we can build the secondary in a common context, to retrieve the history. Then later, we'll see how we can use it

[2022-03-13 19:32] Franceq34 opened #1015 "Frontend: Retrieve commands history from API"

[2022-03-13 19:50] pascalgrimaud commented on #1013
Adding a bounty on this, as it's really important to have

[2022-03-14 09:06] matthieulapatate commented on #1007
Seems like the version 2.7.0 is not yet deployed on maven repositories. Witness this link : https://repo.maven.apache.org/maven2/org/springframework/boot/spring-boot/

[2022-03-14 09:16] pascalgrimaud commented on #1007
Yes it's normal. You need to add repositories and pluginRepositories for this.
See the generator-jhipster:

https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/pom.xml.ejs#L33-L61

[2022-03-14 10:29] seraphinandrieux opened #1018 "Frontend: Add router into Vue app generated"
As already implemented into the webapp generator, the point is to generate by default the router into a vue app

[2022-03-14 10:30] seraphinandrieux commented on #897
I think we have to do  ticket #1018 before

[2022-03-15 04:16] beatfreaker commented on #1007
@pascalgrimaud working on this.

[2022-03-15 05:55] pascalgrimaud commented on #1018
Do you think we should include it by default in a generated vue app?
Or should it be a separated additional feature?

[2022-03-15 06:21] #1007 closed

[2022-03-15 07:13] seraphinandrieux commented on #1018
We could begin by an additional feature. However I cannot imagine a front app without router.
As you prefer :)

[2022-03-15 07:24] pascalgrimaud commented on #1018
It won't change anything, I think, as it will be new method in domain, so we can compose and use it in init
Let's do this:
- new method addRouter in domain service
- use it in init too

What do you think ?

[2022-03-15 07:25] seraphinandrieux commented on #1018
Deal

[2022-03-15 07:25] seraphinandrieux commented on #1018
Deal

[2022-03-15 08:49] Franceq34 opened #1028 "Bug: Whitelabel Error Page"
How to reproduce :
- Start the genrator with `./mvnw`
- F5 on http://localhost:7471/generator

![Capture d’écran de 2022-03-15 09-45-40](https://user-images.githubusercontent.com/24738688/158339788-3d688978-27e7-4e7f-b81f-e3436f92ff7c.png)

Hints :
"Either the controller class is not loaded in the spring boot context or the rest call is not available." -> https://www.yawintutor.com/application-has

[2022-03-16 07:57] pascalgrimaud opened #1041 "Upgrade to Spring Boot v3.0.0-MX"
- following https://github.com/jhipster/jhipster-lite/issues/1007

[2022-03-16 17:47] #746 closed

[2022-03-17 06:33] #1041 closed

[2022-03-17 06:36] pascalgrimaud commented on #1013
@Franceq34 : is it fixed by https://github.com/jhipster/jhipster-lite/pull/1014 ? Can we close this ?

[2022-03-17 07:05] pascalgrimaud opened #1064 "prettier xml: No parser could be inferred for file"
Following upgrade of prettier from 2.5.1 to 2.6.0:
- https://github.com/jhipster/jhipster-lite/pull/1055
- https://github.com/jhipster/jhipster-lite/pull/1047
- https://github.com/jhipster/jhipster-lite/pull/1043

There are some errors when running prettier:

[code]

[2022-03-17 07:44] #1064 closed

[2022-03-17 08:31] Franceq34 commented on #1013
Yes it is !

[2022-03-17 08:41] pascalgrimaud commented on #1013
ok @Franceq34 : so you use `fix` for closing automatically the ticket in the description of PR :)

[2022-03-17 08:41] #1013 closed

[2022-03-17 16:51] flcarre commented on #868
Done in #760

[2022-03-17 19:50] #923 closed

[2022-03-17 20:18] #1015 closed

[2022-03-17 20:22] pascalgrimaud commented on #868
Thanks @flcarre

[2022-03-18 06:55] pascalgrimaud opened #1072 "Refactoring: improve Constants"
This [class](https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java) should be improved

[2022-03-18 11:35] pascalgrimaud opened #1081 "Dependabot: auto merge before other workflows"
- following https://github.com/jhipster/jhipster-lite/issues/1002
-
It seems to not work as intended, as sometimes, it's merged before all other workflows run
So the best would be to move at the end of workflow

[2022-03-18 12:33] pascalgrimaud opened #1082 "Refactoring: update IntegrationTest"
IntegrationTest needs to be in common, so other context can update it

[2022-03-18 13:11] seraphinandrieux opened #1084 "Use relative path into vue generated"

[2022-03-18 13:30] #1082 closed

[2022-03-18 14:29] seraphinandrieux commented on #1028
Found how to fix it.
When e user enters the URL directly into the Browser, we get a Whitelabel Error Page because our Spring Boot backend gives us a HTTP 404 - since this URL isn’t present in the backend.
The solution is to redirect or better forward the user to the frontend (router) again.

I can handle this ticket

[2022-03-18 15:02] #1084 closed

[2022-03-18 15:09] pascalgrimaud commented on #283
increasing the bounty as in this PR, there are 3 features:
- kafka dependencies + configuration
- dummy consumer
- dummy producer

[2022-03-18 15:24] fdelbrayelle commented on #581
Can you assign me on this @pascalgrimaud please?

[2022-03-18 16:05] pascalgrimaud opened #1088 "Vue: jest should be launch without cache"
This [part](https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainService.java#L84-L88) should be similar to this [one](https://github.com/jhipster/jhipster-lite/blob/main/package.json#L22-L30)

[2022-03-18 17:20] pascalgrimaud commented on #1018
adding a bounty as it's important to have, before working on account + jwt

[2022-03-18 17:33] #1088 closed

[2022-03-18 21:10] pascalgrimaud commented on #1018
I reopen this to not forget to add the new API to generate.sh in CI

[2022-03-19 07:32] pascalgrimaud commented on #1018
oh I see, the router is added by default in Vue.
Sounds good, so let's close this

[2022-03-19 07:32] #1018 closed

[2022-03-19 07:33] #1081 closed

[2022-03-19 09:23] pascalgrimaud commented on #809
I'm starting to work on this

[2022-03-19 16:58] fdelbrayelle commented on #283
Remaining work to do:
- AKHQ support to monitor topics
- Dummy consumer
- Front button to add Kafka support

[2022-03-19 17:02] fdelbrayelle commented on #144
@hdurix Maybe we can discuss this soon?

[2022-03-19 17:11] fdelbrayelle opened #1096 "Spring Boot - Kafka - Dummy Consumer"
Add a generic and a dummy consumer to generated code through a new endpoint.

@pascalgrimaud Can you assign me this one please?

[2022-03-19 17:11] fdelbrayelle opened #1097 "Front - add Kafka buttons"
Add a new button in the front-end to call Kafka endpoints.

@pascalgrimaud Can you assign me this one please?

[2022-03-19 17:12] fdelbrayelle opened #1098 "Spring Boot - Kafka - AKHQ support"
Add a new endpoint to add [AKHQ](https://github.com/tchiotludo/akhq) support.

@pascalgrimaud Can you assign me this one please?

[2022-03-19 17:14] pascalgrimaud opened #1100 "Update maven version to 3.8.5"
The upgrade was done here: https://github.com/jhipster/jhipster-lite/pull/1089

But I revert this PR here: https://github.com/jhipster/jhipster-lite/pull/1099

There are some problems with IntelliJ:
- https://youtrack.jetbrains.com/issue/IDEA-290419
- https://youtrack.jetbrains.com/issue/IDEA-290590
- https://youtrack.jetbrains.com/issue/IDEA-290482

[2022-03-19 17:18] #283 closed

[2022-03-19 17:22] pascalgrimaud opened #1101 "Kafka: improve KafkaTestContainerExtension"
The `KafkaTestContainerExtension` needs to be improved.

If I write an Integration Test for DummyProducer, it looks like the msg can't be send as the Spring Context doesn't use Kakfa Container

[2022-03-19 17:23] pascalgrimaud commented on #1097
@fdelbrayelle : no new button, only the secondary part in front. The button will be added later

[2022-03-19 17:25] pascalgrimaud commented on #1100
cc @DanielFran : it's important that you're aware of the problem with IntelliJ

[2022-03-19 17:29] DanielFran commented on #1100
@pascalgrimaud thanks for the info. Will revert it in other projects

[2022-03-20 10:24] fdelbrayelle commented on #1101
Take example on: https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/test/java/package/RedisTestContainerExtension.java.ejs#L37

[2022-03-20 17:15] fdelbrayelle commented on #1101
@pascalgrimaud I've not reproduced the issue with this IT:

[code]

Here is the result:

[code]

Can you send me the IT you've created please? :pray:

[2022-03-21 07:05] pascalgrimaud commented on #1028
Adding a bounty as it's a bug and need to be fixed

[2022-03-21 07:52] pascalgrimaud opened #1104 "sonarcloud: shallow clone"
It should be nice to avoid having:

![image](https://user-images.githubusercontent.com/9156882/159221984-81453195-3d21-45f1-b8f7-d91afd8a3e3c.png)

[2022-03-21 08:32] #1104 closed

[2022-03-21 08:46] matthieulapatate opened #1107 "Cloud providing JHipster-lite application"
The idea would be to host the application on cloud in order to permit the application to be accessible everyone by everyone.

In a first hand, i would like to deploy the application on a simple Heroku server, kind of staging website in tests the new front-end fonctionnalities. The server will generate the asked files locally on the server and then when the user will ask for it, he will receive a z

[2022-03-21 11:06] #1101 closed

[2022-03-21 11:15] nicolasey commented on #735
If I may.
I have seen different hexagonal templates with ability to place folders diffrently, using an array as following :

`initial/path => different/initial/path`

The goal was to let users choose their own way of organizing their modules. That array allows path customization of a future generated module

[2022-03-21 12:35] pascalgrimaud commented on #735
Ok, I got it, thanks for clarification @nicolasey
It's for giving the possibility to customize like:

[code]

It could be nice to have but, for now, I don't think we should do this:
- today, this project is not popular enough and giving this possibility will complexify the generator for no real gain
- if the user is not happy with the generated code, he/she can refactorize it to apply the correct

[2022-03-21 17:41] Bolo89 commented on #991
@pascalgrimaud can u assign me this ticket please ?

[2022-03-21 17:45] pascalgrimaud commented on #991
Done @Bolo89

[2022-03-22 07:22] seraphinandrieux opened #1117 "[VueJS] Add Pinia into Vue generator + generated"
We could add an API to add Pinia which replaces VueX for state management into a Vue app

[2022-03-22 07:22] seraphinandrieux commented on #1117
Besides it's usefull for ticket #897

[2022-03-22 07:23] pascalgrimaud commented on #1117
@seraphinandrieux : which are the recommandations from Vue core team about this subject?

[2022-03-22 07:26] pascalgrimaud commented on #1117
Ok here the answer: https://vuejs.org/guide/scaling-up/state-management.html

![Screenshot_20220322-082534](https://user-images.githubusercontent.com/9156882/159429072-a281ed57-d729-4308-bfe7-e3b42c3af917.png)

[2022-03-22 07:44] seraphinandrieux commented on #1117
Yep :)
Could you assign this ticket to me ?

[2022-03-22 19:42] pascalgrimaud opened #1130 "Kafka: DummyProducerIT should not be generated"
When adding Kafka, DummyProducerIT is generated, but it should not.
It should be generated only when adding Dummy Producer

See https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java#L138

[2022-03-23 07:28] #1130 closed

[2022-03-23 08:37] matthieulapatate opened #1132 "Allow user to download project as zip file."
The idea would be to allow users to upload their project as a zip by clicking a button in the webapp.

[2022-03-23 08:46] Franceq34 opened #1133 "Vue: add OAuth2 keycloak authentication"
**Prerequisites**
- [x] https://github.com/jhipster/jhipster-lite/pull/10712
- [x] https://github.com/jhipster/jhipster-lite/issues/10876

**TO-DO**
- [x] Create a sample project that adds the OAuth2 Keycloak module to the Vue frontend client and shows it working with login and logout
- [x] Create the `vue-oauth2-keycloak` module in the JHLite project which depends on `vue-core` module
  - [x] Use

[2022-03-23 08:48] pascalgrimaud commented on #1132
Do you mean download the generated project instead ?
Because I don't understand why the user should upload the code to JHipster Lite

[2022-03-23 08:59] matthieulapatate commented on #1132
Yes dowload, it would be another option than just directly creating in their repository.

[2022-03-23 09:51] pascalgrimaud commented on #1132
So, can you update the title plz?

[2022-03-23 09:58] pascalgrimaud commented on #1132
The 1st step would be to add this to `ProjectRepository.java` :

[code]

Then, you need to work on the implementation

[2022-03-23 13:37] Franceq34 opened #1140 "Vue: remove favicon from generated project"
Generated vue project include
`<link rel="icon" href="/content/favicon.ico" />`
but it doesnt exist

[2022-03-24 08:46] pascalgrimaud commented on #1132
@matthieulapatate : I'm waiting this 1st small PR, which should contain only:
- the method in interface
- the implem in secondary
- the unit test
- maybe the lib in pom.xml

Nothing more.

[2022-03-24 23:27] DanielFran commented on #1100
@pascalgrimaud All 3 issues reported have been fixed

[2022-03-25 04:37] pascalgrimaud commented on #1100
@DanielFran : thanks, will have a look

[2022-03-25 06:19] pascalgrimaud opened #1147 "Hexagonal Arch Test: forbid framework"
The current Hexagonal Arch Tests in JH Lite do not forbid the use of external framework

It's an important improvement so adding a bounty on this

[2022-03-25 06:32] Bolo89 commented on #1147
Yes

[2022-03-25 06:37] pascalgrimaud commented on #1147
Yes? Do you want to work on this @Bolo89 ? I can assign it to you

The goal would be to forbid org.springframework and some other package in domain
Maybe org.*, com.*, etc

[2022-03-25 09:32] Franceq34 opened #1148 "Vue: Change build target directory"
when building a generated vue app the outdir is :
`build: {
    outDir: '../../../target/classes/static',
  },
`
building an app outside the project

[2022-03-25 09:42] Franceq34 commented on #1148
nevermind this is because I moved index.html in my generated project I'm closing this issue

[2022-03-25 09:43] #1148 closed

[2022-03-26 15:14] #1140 closed

[2022-03-26 15:26] #1147 closed

[2022-04-01 07:37] matthieulapatate commented on #1107
State of progress :

- On backend : It is now possible to call the download API to package your application into a zip which can be use much way wilder than just in jhipster way

- For hosting, i created a buildpack that i hosted on my repository https://github.com/matthieulapatate/jhipster-lite-buildpack (not ended) that in the future will be hosted on jhipster github account

=> Soon you will be

[2022-04-01 13:21] pascalgrimaud commented on #1107
Just created the repo: https://github.com/jhipster/jhipster-lite-heroku-buildpack

[2022-04-01 21:12] pascalgrimaud commented on #990
After thinking about this, it took too much time to start from scratch.
So the idea would be to use an existing CSS.

I tried [quasar](https://quasar.dev/) and I'm really happy with this, so I think we should go in this direction

[2022-04-02 09:44] #776 closed

[2022-04-02 09:52] pascalgrimaud opened #1220 "Refactoring: move cypress folder from component to javascript"

[2022-04-02 09:57] pascalgrimaud opened #1222 "Front: primary with methods to call secondary"

[2022-04-02 10:02] pascalgrimaud opened #1223 "Spring Reactive/Webflux"
New context:
- `server/springboot/webflux/web`

It's similar to `springboot/mvc/web`

Need to implement, something like:

[code]

[2022-04-02 10:40] #1220 closed

[2022-04-02 11:23] DanielFran commented on #1100
@pascalgrimaud confirmed working with _IDEA 2021.3.3 Build #IU-213.7172.25 built on March 15, 2022_

[2022-04-02 11:48] pascalgrimaud commented on #1100
Ok so we can revert the revert :-)

[2022-04-02 12:37] #1100 closed

[2022-04-02 14:05] pascalgrimaud commented on #1222
I'm starting this boring part :trollface:

[2022-04-02 16:00] pascalgrimaud opened #1225 "Refactoring: use constants for GeneratorStep"

[2022-04-02 16:15] pascalgrimaud opened #1227 "Init project without package.json + husky"
Some project don't need `package.json` and husky config

So it would be nice to add a new API for adding only:
- readme
- editor config
- git config

[2022-04-02 18:05] pascalgrimaud commented on #1225
Closed by https://github.com/jhipster/jhipster-lite/pull/1230

[2022-04-02 18:05] #1225 closed

[2022-04-02 18:15] pascalgrimaud opened #1231 "README in each context"
Add a README in each context, with a description and a maintainer part. So we'll know quickly who can be ping when this part need to be updated.

[2022-04-03 19:12] #1117 closed

[2022-04-05 06:03] pascalgrimaud commented on #408
So the scope of this ticket has changed, it would be only for adding:
- properties files
- gradle wrapper

Nothing more, so the user can use:
- init
- gradle
- then code a new lib in Java, for example

[2022-04-05 09:27] flcarre commented on #790
Work In Progress here: https://github.com/flcarre/jhipster-lite-react-login-template

[2022-04-05 11:28] Bolo89 commented on #1223
@pascalgrimaud i'm interrested, can u assign me the ticket please ?

[2022-04-05 12:06] pascalgrimaud commented on #1223
thanks @Bolo89 : it can be done in 3 separated pull request. The easiest one is addSpringBootWebflux

The hardest is ExceptionHandler :)

[2022-04-08 07:49] hdurix commented on #144
today? :)

[2022-04-08 08:29] hdurix commented on #144
Things I have in mind:
- add `/clients` before Vue.js, React, angular... As we have `/servers/` for servers API:
  - `/api/servers/spring-boot` is compliant
  - `/api/vue` is not compliant
- try to have something like `<collection>/<id>/<collection>/<id>/.../<element>` (URL "leaf" can be either a collection, an id or an element):
  - `/api/servers/spring-boot/databases/mysql` is compliant
  - `/ap

[2022-04-08 08:33] pascalgrimaud commented on #990
It was hard to write unit tests with Quasar, so the current choice is to choose simple bootstrap. We use it since several years with generator-jhipster, it's simple, it works well.
So I'm fine to use it

[2022-04-08 08:36] pascalgrimaud commented on #144
some good idea here
To ease this ticket, it's better to improve each context in separated PR, it will be easier to review and discuss

[2022-04-08 08:38] hdurix commented on #144
OK I'm creating a ticket by topic.

[2022-04-08 08:43] pascalgrimaud opened #1271 "Quasar support"
@ctamisier will lead this part
The idea comes from this blueprint https://github.com/ctamisier/generator-jhipster-quasar

The goal here is to generate a front with [Quasar](https://quasar.dev/)
- init a project with : init, maven, java base, spring boot, tomcat
- add frontend maven plugin
- add Quasar (need to be developped)

It can be done in:
- generator/client/quasar/core

I suggest you to star

[2022-04-08 08:43] hdurix opened #1272 "[REST-compliance] Add collection `clients` for each front-end URLs"
Following https://github.com/jhipster/jhipster-lite/issues/144:

At the beginning, we started to build our API for back-end URLs with `/api/servers/<server-name>`.

It would be easier to understand and more REST compliant to do the same for client/front-end URLs.

Need to adapt:
- JHipster Lite front-end URLs
- CI tests called URLs

[2022-04-08 09:15] hdurix opened #1273 "[REST-compliance] Naming convention for APIs"
Following https://github.com/jhipster/jhipster-lite/issues/144

Try to have something like `<collection>/<id>/<collection>/<id>/.../<element>` (URL "leaf" can be either a collection, an id or an element):
-  `/api/servers/spring-boot/databases/mysql` is compliant
- `/api/svelte/styled` is not compliant, could be renamed to something like `/api/clients/svelte/style`
- `/api/servers/spring-boot/mvc/

[2022-04-08 09:21] hdurix opened #1274 "[REST-compliance] Use request body options to merge similar APIs"
Following #144

maybe try try to thing about using request bodies to specify some options like:
- `/api/servers/spring-boot/banner` with a required request body attribute of the wanted type instead of `/api/servers/spring-boot/banner/jhipster-v2` & others
- merge `/api/servers/sonar/java-backend` and `/api/servers/sonar/java-backend-and-frontend` in `/api/servers/sonar` (btw, `sonar` is not a serv

[2022-04-08 12:01] #1272 closed

[2022-04-08 12:52] hdurix commented on #1273
Below a summary of the changes I want to do:

| Old URL                                                       | New URL                                                                      |
|---------------------------------------------------------------|------------------------------------------------------------------------------|
| /api/typescript

[2022-04-08 12:54] pascalgrimaud commented on #1273
looks good !

[2022-04-08 12:56] qmonmert commented on #898
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/71824 :)

[2022-04-08 13:01] pascalgrimaud commented on #898
@qmonmert : approved, thanks for your hard work

[2022-04-08 13:03] fdelbrayelle commented on #1273
It seems OK for me as well :) Already compliant in brokers part :+1:

[2022-04-08 13:04] hdurix opened #1284 "[REST-compliance] Create a test to be sure APIs are REST compliant"
See if there is a way to create a test to be sure all JHipster Lite's APIs are REST compliant (more details in #1273).

Could be something like a integration tests getting all the exposed APIs (not sure there is easier with Spring, to check), and checking that:
- starts with `/api/`
- n+1 terms ending with `s`
- n+2 terms not ending with `s`

Check if those rules can be applied for every URIs. If

[2022-04-08 13:06] hdurix opened #1285 "[REST-compliance] Add a version in all APIs"
For now, simply add `v1/` after `/api/` for all the URIs, just to be sure that if we would eventually need to have a API with breaking change, we are ready to create a new version (`v2/`).

[2022-04-08 13:15] hdurix commented on #1284
Thinking twice, not sure this is doable and correct because of exceptions like:
- `codespaces` should not be considered as a collection but as an element even if it's ending by `s`
- `feet` is the plural of `foot` (I can't find a "tech" example) so maybe not all collections should be ending by `s`

[2022-04-08 13:20] pascalgrimaud commented on #1284
@hdurix : it's like "chips" :D

[2022-04-08 13:35] DanielFran commented on #1285
API versioning is always a pain, and there are at least 3 choices I would consider:
- URI path: http://www.example.com/api/v1/products
- Custom Header: Accept: version=1.0
- Vendor media type: Accept: application/vnd.example.v1+json or application/vnd.example+json;version=1.0

I used preferentially "Vendor media type," less impact on dev/client usage than the 1st option

Just my 2 cents... to be s

[2022-04-08 14:39] hdurix commented on #1285
Thanks for your reply @DanielFran. With the "Vendor media type", is there something to do now? Or could it be done once we need a first "second" version?

[2022-04-08 14:41] hdurix opened #1286 "Rename all `Initxxx` to `Projectxxx`"
As we now have both init and download inside `InitResource`, `InitApplicationService`, maybe it would be better to rename all to `ProjectResource`, `ProjectApplicationService` and so on.

[2022-04-08 14:42] hdurix commented on #1286
Or otherwise extract all downloading part to something new like `ProjectDownloadResource`

[2022-04-08 15:07] #991 closed

[2022-04-08 15:18] pascalgrimaud opened #1288 "Refactoring: Generator.component.ts"
`Generator.component.ts` can become very big.
It could be nice to split into sub component, like:
- SpringBoot.component.ts
- Angular.component.ts
- React.component.ts
- Vue.component.ts
- etc.

So SpringBoot.component.ts will call only SpringBootService for example

[2022-04-08 15:25] Franceq34 commented on #1288
🔧WIP🔨

[2022-04-08 15:49] #1273 closed

[2022-04-08 15:55] Bolo89 commented on #1273
Hello,

For me all is good! I have only one remark; it's normal that the urls related to spring doc keep the verb " init " ?

/api/servers/spring-boot/api-documentations/springdoc/init
/api/servers/spring-boot/api-documentations/springdoc/init-with-security-jwt

[2022-04-08 16:26] hdurix commented on #1273
Hello @Bolo89.
Indeed I didn't touch them as for me it will be cover by #1274: it's only different options that can be given as body to the web service. Only one POST `/springdoc` then.

[2022-04-08 16:28] hdurix commented on #1273
We merged the PR as it was pretty impactful but don't hesitate to challenge naming, strategy, etc. This can be considered as a draft preceding many improvements :)

[2022-04-08 17:17] ctamisier commented on #1271
Starting quasar sample project here: https://github.com/ctamisier/jhlite-sample-quasar

[2022-04-08 17:20] pascalgrimaud commented on #1271
@ctamisier : oh nice, you should add github actions so you'll have a CI

[2022-04-08 19:23] DanielFran commented on #1285
@hdurix Should be done now, like define in POST the consumes/produces mediatype used like:
[code]

[2022-04-08 19:27] pascalgrimaud commented on #1285
Indeed, we need to discuss if it's important to version the api because the user can still use old jar if needed, so not sure if we should maintain and keep old/new version in same app

Let's think and discuss :-)

[2022-04-09 19:04] atomfrede opened #1296 "Add playwright as additional e2e framework"
I love playwright and I think it would be nice to have it here. There will be a blueprint for the jhipster "large" generator, but it takes more time to rewrite the tests. WDYT?

[2022-04-09 19:11] atomfrede opened #1297 "Add gradle support to github actions generator"
Right now the generated github action does only support maven. After #1292 is merged it would be fine to have github actions support too.

[2022-04-09 19:53] pascalgrimaud commented on #1296
Yes we can take care of it, here :-)

[2022-04-09 20:14] #1227 closed

[2022-04-10 04:43] atomfrede commented on #408
Guess this can be closed now.

[2022-04-10 04:44] pascalgrimaud commented on #408
Yes it's done !

[2022-04-10 04:44] #408 closed

[2022-04-10 05:36] pascalgrimaud opened #1301 "Gradle: utils methods"
Similar to what was done for Maven, this ticket is for adding different utils methods:
https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java#L11

At the same time, for each methods, we need to add the entry in https://github.com/jhipster/jhipster-lite/blob/main/src/main/java/tech/jhipster/lite/generator/buildtool/gen

[2022-04-10 09:54] Bolo89 commented on #1284
Maybe to handle the exceptions, in the test, add 2 lists " en dur " :
[code]
And if a word in the uri does not match the rule, check if it's present in corresponding list of exceptions.
It's not very clean :/ but I've no better idea

[2022-04-11 09:39] atomfrede commented on #1301
You can assign it to me, already started something.

[2022-04-11 09:41] atomfrede opened #1303 "new option/endpoint to add gradle enterprise (aka build scans) to a generated application"
As the build scans feature is very nice to have to get detailed analytics we should support adding it if desired. With that we could also get build scans for generated sample applications or during ci.

[2022-04-11 09:43] atomfrede commented on #990
I used tailwind and like it very much, but I guess bootstrap is the best choice as it is used widely troughout the industry and can be custimized very well if desired for the use case.

[2022-04-11 09:47] pascalgrimaud commented on #990
yes we choose bootstrap
I'm waiting @sabrinapayet to submit some pull requests to improve this part
Then, we'll be able to add more button/api to generate all the features

[2022-04-11 13:29] flcarre opened #1320 "React: localhost is running on port 9000 but cypress try to connect on port 8080"
While i'm running e2e test via cypress, tests failed cause my app server is running on port 9000 as defined in vite.config.ts and cypress baseUrl is on port 8080 as defined in cypress-config.json

[2022-04-11 13:32] pascalgrimaud commented on #1320
@flcarre : in JHipster projects (generator-jhipster and here too), the use of cypress is a real E2E tests, it's not component tests. For that, we already have jest, which is enough.
That's why you need to really start the application: ./mvnw spring-boot:run and then, run e2e test with Cypress

This part was refactor by @Bolo89 recently to make it common for all fronts

[2022-04-11 13:33] flcarre commented on #1320
ok sorry i wasn't up to date ^^'

[2022-04-11 13:34] flcarre commented on #1320
In my mind, run cypress only in the complete application make it much harder to test and debug

[2022-04-12 14:50] flcarre commented on #776
https://opencollective.com/generator-jhipster/expenses/72260

[2022-04-12 14:59] pascalgrimaud commented on #776
@flcarre : approved

[2022-04-13 04:59] pascalgrimaud commented on #1271
@ctamisier : as soon as you consider having a good sample, ping me, so I can have a look and review the sample

[2022-04-16 07:16] #1296 closed

[2022-04-16 07:56] pascalgrimaud commented on #1296
@atomfrede : just gave a try and it didn't work well yet. Can you have a look ?

- start JH Lite
- generate an app : ./tests-ci/generate.sh reactapp
- go into /tmp/jhlite/reactapp
- start the app: ./mvnw
- launch npm run e2e

Some wrong config, maybe:

[code]

[2022-04-16 07:58] pascalgrimaud commented on #1303
I don't know exactly what you means, but I'm fine for adding this

[2022-04-16 07:59] pascalgrimaud commented on #1320
Closing this, as the behavior is explained

[2022-04-16 07:59] #1320 closed

[2022-04-16 08:35] pascalgrimaud commented on #1288
Any progress on this, @Franceq34 ? If it can motivate to achieve this, I can put a bounty :)

Then, if I can have one example with 1 component, I can implement the other components.

[2022-04-16 08:40] atomfrede commented on #1296
will Check in the afternoon.

[2022-04-16 10:11] pascalgrimaud opened #1370 "Front: conditional sections"
In front part, each section should be displayed when the option is selected

When we open the 1st time the page:
- only initialization is displayed
- only the maven button is displayed (as maven should be selected by default)

When selecting Gradle:
- the Gradle button should be displayed instead of Maven

When selecting Spring Boot:
- the Spring Boot section should be displayed, with all related

[2022-04-16 10:33] pascalgrimaud opened #1372 "Tests: Generator.vue and Generator.spec.ts"
Currently, the `Generator.vue` + `Generator.component.ts` are covered by `Generator.spec.ts`
`Generator.spec.ts` contains some clicks + fill fields etc

But I wonder if we should use create and maintain `Generator.component.spec.ts` instead
I think about this:
- `Generator.component.spec.ts` would be used to test function in `Generator.component.ts`
- the Cypress part would be used to test click

[2022-04-16 15:11] atomfrede commented on #1297
Closing this as the corresponding PR is merged.

[2022-04-16 15:11] #1297 closed

[2022-04-17 05:13] pascalgrimaud opened #1375 "CI: wait sonar to start"
Change the behavior of the CI about Sonar

Wait until we have 'SonarQube is up' when reading Docker logs before going further

[2022-04-17 06:07] pascalgrimaud commented on #1370
removing the bounty as I did the fix and do not deserve it

[2022-04-17 06:07] #1370 closed

[2022-04-17 16:24] pascalgrimaud commented on #990
I think it was done!
Thanks @sabrinapayet for your work!

[2022-04-17 16:24] #990 closed

[2022-04-17 16:56] pascalgrimaud commented on #1132
closed by https://github.com/jhipster/jhipster-lite/pull/1266

[2022-04-17 16:56] #1132 closed

[2022-04-17 16:56] pascalgrimaud commented on #1107
closed by this last PR: https://github.com/jhipster/jhipster-lite/pull/1266

[2022-04-17 16:56] #1107 closed

[2022-04-19 06:47] seraphinandrieux commented on #1372
I totally agree with you.
If we can only test methods into component, go to do it into Generator.component.spec.ts.
Like that, cypress tests will only test user's interactions and displaying.

[2022-04-20 06:17] Bolo89 opened #1393 "Add sample context for webflux"

[2022-04-20 06:22] Bolo89 opened #1394 "Refactoring exceptionHandler for webflux and mvc"
The code to add properties, copy main files and copy test files for exceptionHandler is duplicated.
Maybe add in common Web context ?

[2022-04-20 06:27] Bolo89 opened #1395 "Add actuator for webflux"

[2022-04-21 05:02] beatfreaker commented on #691
@pascalgrimaud can you please assign this issue to me ?

[2022-04-21 05:06] pascalgrimaud commented on #691
@juliensadaoui : did you already start something? As I'm assigning this to @beatfreaker

[2022-04-21 06:14] pascalgrimaud opened #1397 "Front: add toast"
Add toasts each time a code is generated with different status:
- success
- error

[2022-04-21 10:24] MSaguer opened #1398 "Maven : Same dependency can be added twice in dependencyManagement section"
**Reproduction steps**

- Run the tests-ci generation.sh script with eurekaapp parameter
- open the generated pom.xmk file

the `dependencyManagement` section contains twice the same `spring-cloud-dependencies` dependency lines.

**Analyze**

During `eurekaapp` generation, `spring-cloud-dependencies` is added 2 times but a protection is defined in MavenDomainService.addDependency() : https://githu

[2022-04-21 11:03] pascalgrimaud commented on #1398
Yes agree, it would be important to have idempotency for all API
This part needs to be improved

[2022-04-21 13:34] pascalgrimaud commented on #1397
thanks a lot @swarajsaaj !

[2022-04-21 16:01] swarajsaaj commented on #1397
Thanks for assigning the issue to me @pascalgrimaud .
My intuition earlier was to use bootstrap-vue but it doesn't yet support Vue 3 and Bootstrap 5, so we are left with following options:-
- Implement custom toast component in Vue using bootstrap's toast as base (https://getbootstrap.com/docs/5.1/components/toasts)
- Implement/Evaluate a supporting UI library like Quasar, VuePrime etc.
- Use a sp

[2022-04-21 16:03] pascalgrimaud commented on #1397
The current front uses bootstrap, so why do using it directly? No need to add more lib here, I think

[2022-04-21 16:08] pascalgrimaud commented on #1397
So I would go to option 1 :-)

[2022-04-21 18:06] pascalgrimaud commented on #1397
Just to be sure @swarajsaaj

It's related to the front part of JHipster Lite:
- start with ./mvnw
- go to localhost:7471
- fill the fields
- click on init, for example
- a toast should appear

[2022-04-21 18:09] swarajsaaj commented on #1397
Yes @pascalgrimaud, as a feedback for code generation success/failure at each option 👍

[2022-04-22 06:23] assimbly opened #1426 "Front: Generator"
Here is some feedback on the UI/UX of version 0.1 (in addition https://github.com/jhipster/jhipster-lite/issues/1397)

1) Sections

Make clearer sections. For example:

- Configuration
   - Project
   - Options
- Generator.

Where project and options are subsections of Configuration.

2) UI Elements

Currenlty several UI parts next to each other (for example Project configuration and options, or L

[2022-04-22 07:01] pascalgrimaud commented on #1426
Thanks for your suggestion @assimbly : it's just a 1st version, and indeed, it should be improved, the work is not finished. As another section should be added like Spring Boot Database, Spring Security, Spring Tools, etc. I'm waiting https://github.com/jhipster/jhipster-lite/issues/1288 to do it, because it will impact the work.

@swarajsaaj as you started the toast ticket. What do you think abou

[2022-04-22 08:01] assimbly commented on #1426
![jhipster_UI](https://user-images.githubusercontent.com/35961736/164644698-93ede170-a579-4579-9611-60e7372a96e6.JPG)

[2022-04-22 08:03] assimbly commented on #1426
It's unclear if I need to click on initialization or the other buttons. And should I click one by one? In a particular order?

[2022-04-22 08:13] pascalgrimaud commented on #1426
I totally understand your point of view.

But, I would say:
- in a real project, you start by creating an empty folder
- how can you add frontend maven plugin ? if you don't have maven in your project, it won't work

So my ideas would be (for now):
- expose all possible features in the front page, and don't care about the order
- the user will be responsible for what he/she wants to generate in hi

[2022-04-22 08:38] assimbly commented on #1426
Yes, the approach is different, but you can be sure that most users that will try JH Lite are still in the JH Classic mindset. That's why the UI must be extra clear that the concept/working is different.

[2022-04-22 08:40] assimbly commented on #1426
Here are some examples to give feedback on what's going when generating:

1. [Jenkins](https://www.google.nl/search?q=jenkins+ok+and+fail&hl=nl&authuser=0&tbm=isch&source=hp&biw=1696&bih=816&ei=FGliYqHfHPqV9u8PgJaGwA0&iflsig=AHkkrS4AAAAAYmJ3JPE4plpS0wu4srW8RwXXflDLYKo1&ved=0ahUKEwihuZL_oaf3AhX6iv0HHQCLAdgQ4dUDCAY&uact=5&oq=jenkins+ok+and+fail&gs_lcp=CgNpbWcQAzoICAAQgAQQsQM6BQgAEIAEOgsIABCABBCxAxCD

[2022-04-22 08:50] pascalgrimaud commented on #1426
So don't hesitate to propose something
Once we agree, you are welcome to contribute @assimbly :)

[2022-04-22 08:53] DanielFran opened #1430 "Liquibase: Version defined in changelogs should match liquibase version"
All changelogs should define correct liquibase version.

Example: dbchangelog-4.5.xsd should be updated to use current liquibase "_major.minor_" version
https://github.com/jhipster/jhipster-lite/blob/main/src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/master.xml#L5
[code]

[2022-04-22 09:18] assimbly commented on #1426
Yes, I will. This was just sharing my first impressions :)

[2022-04-22 10:28] pascalgrimaud commented on #1397
@swarajsaaj : don't know if you already started something, but plz hold on

I need to study accessibility so maybe the use of toast is not a good idea here

[2022-04-22 10:32] swarajsaaj commented on #1397
Hi @pascalgrimaud , I haven't started fully, I ll hold on. I was also checking the sugestion in https://github.com/jhipster/jhipster-lite/issues/1426#issuecomment-1106076302 how would that look

[2022-04-22 17:11] #1398 closed

[2022-04-22 22:03] #1223 closed

[2022-04-23 05:57] pascalgrimaud opened #1444 "Codespaces: forwardPorts and serverPort"
The current generated Codespaces does not use the server port, and hard coded 8080 instead

As you did the feature, can you fix this bug plz @matthieulapatate ?

[2022-04-23 06:21] sabrinapayet commented on #347
Bug bounty claim : https://opencollective.com/generator-jhipster/expenses/73693

[2022-04-23 06:24] sabrinapayet commented on #990
Bug bounty claim : https://opencollective.com/generator-jhipster/expenses/73694

[2022-04-23 06:24] pascalgrimaud commented on #347
@sabrinapayet : approved

[2022-04-23 06:25] pascalgrimaud commented on #990
@sabrinapayet : approved

[2022-04-23 08:07] MSaguer opened #1445 "Add generation timestamp in history file"
For each generatorStep executed, a new entry is created in the `.jhipster/history.json` file with the following format

[code]

If the same generation is executed many times, the same serviceId will be defined many times with exactly the same data.

This history service could be improved in two different ways
- add existence check on GeneratorHistory to avoid to add twice the same line (idem poten

[2022-04-23 08:11] pascalgrimaud commented on #1445
No it's normal, I'd like to know if the user launch again a generation
But this part can be improved by adding a timestamp, so we can know when it was generated :-)

[2022-04-23 08:23] MSaguer commented on #1445
So, a default format of java.time.Instant would do the job.

[2022-04-23 08:24] pascalgrimaud commented on #1445
can we change the scope of this ticket, to add this timestamp ?

[2022-04-23 14:36] pascalgrimaud opened #1452 "Download: only JHipster Lite project"
To protect the download, this API should only be allow for JHipster Lite projects.
There is already this method: isJHipsterLiteProject

Just use it

[2022-04-23 14:50] pascalgrimaud opened #1453 "Extract ProjectDTO from a folder"
I think it can be a good idea to have an API which will read the information in a folder, and return the ProjectDTO like this:

[code]

baseName : can be extracted from package.json, pom.xml, gradle file
projectName: can be extracted from package.json or pom.xml
packageName: can be extracted from pom.xml or gradle file

So with this API, it could be used in the front page:
- fill the path
- click

[2022-04-24 14:54] pascalgrimaud commented on #1286
I choose the 2nd option, to extract download part to ProjectResource

I think it's better to keep init context like this

[2022-04-24 15:14] #1286 closed

[2022-04-24 15:34] pascalgrimaud opened #1460 "Discussion: client option with / without style"
Currently, when we choose a front, we have the possibility to choose:
- empty home page
- home page with minimal css

In my opinion, maintaining both option is not good to add more features.
For example, if we want to add login page (like it's done for Angular), we need to take care of 2 initial options:
- without css
- with minimal css

So I have several ideas:

1st solution:
- stay like this, I'

[2022-04-24 15:48] qmonmert commented on #1460
@pascalgrimaud I agree that maintaining two options is not a good idea. The third option seems to be good 🙂

[2022-04-24 16:05] pascalgrimaud commented on #1460
I think about the 3rd option too, and I'll let the stream lead to decide which css framework to use
We could use the same way than what is done in generator-jhipster:
- generate home page with bootstrap, including minimal navbar
- so it will be easier to add item in navbar, etc.

[2022-04-24 16:08] qmonmert commented on #1460
@pascalgrimaud totally agree

[2022-04-24 16:10] pascalgrimaud commented on #1460
Can I put you as the stream lead of Angular part @qmonmert ?

[2022-04-24 16:13] qmonmert commented on #1460
@pascalgrimaud yes!

[2022-04-24 16:15] pascalgrimaud commented on #1460
not sure you can maintain both: Angular and React, but I'll let you choose :)

Ok thanks, then, I'll create more ticket to improve Angular part

[2022-04-24 16:16] pascalgrimaud commented on #1460
The idea behind this is to split correctly all generation part in the DomainService
So if someone is not happy with this, he/she can code his/her own domain service, using the existing files etc

[2022-04-24 16:25] #1452 closed

[2022-04-24 16:29] pascalgrimaud opened #1464 "Angular: improve initial generation"
To do:
- remove styled api
- keep 1 single API to init Angular part
- at the same time, add a css framework, so it will help to code the other page

Update the front part related to Angular:

![image](https://user-images.githubusercontent.com/9156882/164986392-e9a816d9-1a18-4d1d-8877-b8e87760511b.png)

[2022-04-25 12:25] fdelbrayelle opened #1478 "Front-end - Improvements"
Following a little test of [front-end generator](https://jhlite.herokuapp.com/generator), here are some improvements that could be achieve:
- Use a CSS "pointer" custor, so that the user knows he can click the whole button + radio button area
- Focus on the input of `Path (required) :` label

[2022-04-25 16:28] fdelbrayelle commented on #1478
I mean that when you arrive on the page, your input focus is on this field by default whether it's prefilled or not. What do you think about that?

[2022-04-26 07:56] Franceq34 commented on #1478
Oh ok I see !
then I agree, we could do that by adding **autofocus** on the input (https://developer.mozilla.org/fr/docs/Web/HTML/Global_attributes/autofocus)

done here :
https://github.com/jhipster/jhipster-lite/pull/1482/files

[2022-04-26 11:44] Franceq34 opened #1499 "Front-end : Move generator download function in a dedicated service"

[2022-04-26 12:48] juliensadaoui opened #1500 "Spring Boot: Spring Cloud Gateway"
To do :

- Add dependency
- Add configuration for Spring Cloud Gateway (bootstrap.properties)
- Check Spring-Webflux is on the classpath
- Check a DiscoveryClient implementation is on the classpath and enabled (Eureka or Consul)

[2022-04-27 06:35] #691 closed

[2022-04-27 07:57] beatfreaker commented on #805
@juliensadaoui are you still working on this ?
If not I can pick it ?

[2022-04-27 08:07] pascalgrimaud commented on #805
I think you can @beatfreaker

[2022-04-27 08:22] Franceq34 commented on #1372
I agree with you, developping with TDD approach should lead to a `Generator.component.spec.ts` file that only tests the component. Then, cypress tests will test the html by doing the actions (clicks, forms fill..)

[2022-04-27 09:15] Franceq34 commented on #984
$100 bounty claimed => https://opencollective.com/generator-jhipster/expenses/74248

[2022-04-27 09:18] pascalgrimaud commented on #984
@Franceq34 : approved

[2022-04-27 09:21] Franceq34 commented on #1013
$100 bounty claimed => https://opencollective.com/generator-jhipster/expenses/74249

[2022-04-27 09:21] pascalgrimaud commented on #805
I'd prefer to do it in separate pull request
The reason is to can use another framework to do migration, instead of using Mongock

The workflow is:
- init, spring boot, etc...
- add mongodb as database
- create UserEntity and AuthorityEntity for MongoDB (it will be different than for SQL database)
- add Mongock (like in your PR)
- add Mongock migration script for User and Authority

So part 3 and

[2022-04-27 09:22] pascalgrimaud commented on #1013
@Franceq34 : approved

[2022-04-27 09:25] beatfreaker commented on #805
Yup, sound good, so first I can work on creating UserEntity and AuthorityEntity for MongoDB,
once that is merge will create another PR to add migration script for those two entities

[2022-04-27 09:26] pascalgrimaud commented on #805
@beatfreaker : yes, let's create a new ticket first for that ;) can you ?

[2022-04-27 09:32] beatfreaker opened #1506 "Create new REST api for generating User and Authority entity for MongoDB"
Related to #805

[2022-04-27 10:42] #1288 closed

[2022-04-27 10:42] #1499 closed

[2022-04-27 12:10] Franceq34 commented on #1288
$100 bounty claimed => https://opencollective.com/generator-jhipster/expenses/74251

[2022-04-27 12:11] pascalgrimaud commented on #1288
@Franceq34 : approved

[2022-04-27 13:01] Franceq34 commented on #1478
both ideas were done and merged I think the ticket can be closed

[2022-04-27 13:02] Franceq34 opened #1520 "Frontend: Save commands history"
The idea of the ticket is to call and save the history API `/api/project-histories` each time the user calls an API.
In the future it will allow us to
- manage the state of API buttons
- display the history of the commands called.

[2022-04-27 13:08] pascalgrimaud commented on #1520
@Franceq34 : can you add some description to give some contexts to our users plz?

[2022-04-27 13:23] #1478 closed

[2022-04-28 06:23] pascalgrimaud commented on #1397
So after thinking and discussing with @sabrinapayet and @Franceq34, using toast for displaying the result (OK/KO) when calling the API is a good idea

[2022-04-28 08:26] qmonmert commented on #1464
@pascalgrimaud Angular Material for the CSS framework could be a good choice. What do you think?

[2022-04-28 08:37] pascalgrimaud commented on #1464
Yes, I think it's a good choice :)

[2022-04-28 08:47] qmonmert commented on #1464
@pascalgrimaud I will work on it!

[2022-04-28 15:37] #1394 closed

[2022-04-28 18:10] Bolo89 opened #1529 "Angular: add OAuth2 keycloak authentication"

[2022-04-29 13:31] Franceq34 opened #1545 "Frontend: Add Icons and Buttons with Icon"
Adding components for icons and the possibility for DefaultButton to have a decorative icon on the right, given by component props.

[2022-04-29 13:59] Franceq34 commented on #1397
Hello @swarajsaaj !
Any progress on the subject ? I'm interested on the topic don't hesitate to mention ! 🤓
I think this would be a huge improvement on generator UX 📈

[2022-04-29 14:26] Franceq34 opened #1547 "Frontend: Move Header in dedicated component"
Generator component is still too big and Header can be moved in a dedicated component

[2022-04-29 15:23] #1545 closed

[2022-04-29 16:33] #1520 closed

[2022-04-30 13:39] qmonmert commented on #1464
@pascalgrimaud I tried a design on an example app, what do you think about that?

<img width="331" alt="image" src="https://user-images.githubusercontent.com/9989211/166107856-79b40ed7-d719-4e0f-b2dd-f2515482bc0d.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/9989211/166107868-ca138191-d43b-41e7-959d-80e50711d7cf.png">

[2022-04-30 14:12] pascalgrimaud commented on #1464
The design looks good. But I wonder if we should split like generator-jhipster :
- home page, with link to login
- login page

[2022-04-30 14:13] pascalgrimaud commented on #1464
But let's keep the structure like this, and refactor the split in another PR :-)

[2022-04-30 14:35] Franceq34 opened #1549 "Frontend: Indicate when generator buttons were already used"
The goal is to update the buttons of the generator part to indicate to the user if the action was already called.

To do :
- Refactor the "init" part in a new component such as VueGenerator, SpringBootGenerator etc .. (see https://github.com/jhipster/jhipster-lite/issues/1288)
- Create a new button component in springboot context (that use DefaultButton) This new button will take in parameter the

[2022-04-30 19:42] beatfreaker opened #1553 "Frontend: Add mongock support"
Front end part of #691

[2022-05-01 06:05] beatfreaker commented on #1553
Should button look like this ?
also we will have two separate button for `Mongock` and `User & Authority chagelog for Mongock`
as we have two different api correct ?

<img width="1308" alt="Screenshot 2022-05-01 at 11 34 52 AM" src="https://user-images.githubusercontent.com/4180238/166134370-b47eaff3-ef67-44b3-9a35-d4be1e5470ac.png">

[2022-05-01 06:07] pascalgrimaud commented on #1553
Yes I'm fine with this, user button is another one

I'm still working with @sabrinapayet and @Franceq34 to think about that, how to organize better all these features

[2022-05-01 10:35] #1553 closed

[2022-05-01 14:12] #1096 closed

[2022-05-01 14:12] pascalgrimaud commented on #1096
adding a bounty as it was not trivial

[2022-05-01 14:14] #1549 closed

[2022-05-01 14:41] qmonmert commented on #1464
@pascalgrimaud yes we will see in an other PR but I don't know if we should do like the generator? 🙂

[2022-05-01 14:46] pascalgrimaud commented on #1464
@qmonmert : ahaha indeed, the final goal is not to generate the same thing than generator-jhipster, because generator-jhipster generates too much code, and some stuffs are useless

We should keep in mind: if it's possible to split features, let's do it

As you're the lead on Angular part, you'll decide what you think it's better to our users

[2022-05-01 14:54] swarajsaaj commented on #1397
Hi @Franceq34 ,
I have made some progress here, TBH the Vue 3 structure of generator is bit new for me, will try to submit a PR soon.

[2022-05-02 03:14] #1444 closed

[2022-05-03 08:34] Franceq34 opened #1565 "Frontend : UI/UX improvements"
The goal of this issue is to track the work done on UI/UX and have a better idea of what could look like the final Jhipster generator app. Feel free to **submit any idea in this thread.** 📝 If you feel creative don't hesitate to design some mock-ups with pencil/paper or any tools you are comfortable with. ([Marvel](https://marvelapp.com/features/prototyping), [Miro](https://miro.com/fr/), [Adobe X

[2022-05-03 13:41] Franceq34 opened #1581 "Bug: Don't add generation in history file when it failed"
Currently, it seems that each time we call an endpoint it saves the service called in the history file.
We would rather save it only when the call succeeded.

You can reproduce for example by adding PostegreSQL before adding Springboot.

![Peek 03-05-2022 15-39](https://user-images.githubusercontent.com/24738688/166463537-936925c1-be6a-4096-be61-adc6d6677280.gif)

[2022-05-03 20:57] #1581 closed

[2022-05-04 05:37] pascalgrimaud commented on #1565
cc @assimbly as you have probably some suggestion

[2022-05-04 06:30] pascalgrimaud commented on #1397
Adding a bounty for the work done here

[2022-05-04 08:29] pascalgrimaud commented on #1565
Here the current version (v0.3.0):

![image](https://user-images.githubusercontent.com/9156882/166646768-e8167302-d9b9-411c-ab20-c92eaf5583dd.png)

[2022-05-04 10:27] #1397 closed

[2022-05-04 12:59] skin27 commented on #1565
Looks good, I will give it a try later this week to give feedback in detail.

[2022-05-04 14:55] Franceq34 opened #1589 "Frontend: Fix add toast for Angular with JWT, Flyway and Liquibase"
there's a few actions that don't call new toast system

[2022-05-05 09:12] Franceq34 opened #1592 "Frontend: Add an AlertBus"
**Statement :**
We have multiple messages that transit in the application.
When calling "add Angular" for example :

![Capture d’écran de 2022-05-05 11-00-22](https://user-images.githubusercontent.com/24738688/166892560-2ff37ec5-c867-4442-9744-c4fe98c0f42b.png)

You can notice we are calling the Logger, the toaster service, and we can imagine other options in the future.

The idea of the ticket is

[2022-05-05 11:18] #1589 closed

[2022-05-05 14:56] Franceq34 commented on #1565
Here is what I got using Figma.

![Capture d’écran de 2022-05-05 16-34-32](https://user-images.githubusercontent.com/24738688/166947330-47b56efd-d556-409d-93c8-ef6349eb9793.png)

On hover on a button :
![Capture d’écran de 2022-05-05 16-34-58](https://user-images.githubusercontent.com/24738688/166947332-e7b89d2e-5fa9-4df8-9257-635dc0cd782f.png)

Here's what I added :
- Language selection in navbar

[2022-05-05 18:27] swarajsaaj commented on #1453
I can take this

[2022-05-05 18:41] pascalgrimaud opened #1602 "Kafka: flaky tests for dummy producer and consumer"
It comes from: `Warning:  Rule violated for class tech.jhipster.kafkaapp.dummy.infrastructure.secondary.kafka.producer.DummyProducer: lines covered ratio is 0.84, but expected minimum is 1.00`

Here an extract of the stacktrace:

[code]

[2022-05-05 18:42] pascalgrimaud commented on #1565
Very good work here @Franceq34 ! A lot of good ideas here
I'll give you feedback very soon

[2022-05-06 05:27] pascalgrimaud opened #1603 "Java: improve Assert"
Following this PR by @DamnClin : https://github.com/jhipster/jhipster-lite/pull/1564

The goal here is to 'template' these class, to generate them in a new project.

[2022-05-06 05:29] pascalgrimaud opened #1604 "Init: gitignore infinitest"
See https://github.com/jhipster/jhipster-lite/pull/1564/files

Add infinitest filters to gitignore in the generated part

[2022-05-06 05:31] pascalgrimaud opened #1605 "Sonar: ignore rules"
Following https://github.com/jhipster/jhipster-lite/pull/1564/files

Add these 2 new rules to the generated sonar.properties

There are 2 sonar.properties: one for backend only, one for backend+frontend

[2022-05-06 05:44] pascalgrimaud opened #1606 "Java: Asserter for Collections"
Suggested by @DamnClin

Need to be done:
- directly in JHipster Lite
- in templates, for the generated part

[2022-05-06 05:45] pascalgrimaud opened #1607 "Java: Asserter for BigDecimal"
Suggested by @DamnClin
Need to be done:
- directly in JHipster Lite
- in templates, for the generated part

[2022-05-06 05:45] pascalgrimaud commented on #1426
@assimbly : I'm closing this ticket in favor of https://github.com/jhipster/jhipster-lite/issues/1565

So we can discuss there

[2022-05-06 05:45] #1426 closed

[2022-05-06 05:47] pascalgrimaud commented on #1222
Closing this one, to create separated tickets with good first contribution label

[2022-05-06 05:47] #1222 closed

[2022-05-06 05:48] pascalgrimaud commented on #920
@Bolo89 : I think it's done, right? Can we close it?

[2022-05-06 05:59] Bolo89 commented on #920
Yes it can be closed

[2022-05-06 05:59] #920 closed

[2022-05-06 08:52] #1445 closed

[2022-05-06 08:53] Franceq34 opened #1609 "Frontend: Add timestamp to restservice"

[2022-05-06 09:33] #1609 closed

[2022-05-07 05:55] pascalgrimaud commented on #1592
Ok then, looks good so let's do it

[2022-05-07 07:17] pascalgrimaud commented on #1375
I'm starting this

[2022-05-07 08:26] pascalgrimaud commented on #1565
In fact, all good ideas
Maybe the filter can be changed, as + and - can be confused, but I don't know what to propose

[2022-05-07 08:30] pascalgrimaud commented on #1397
@swarajsaaj : don't forget your bounty here

[2022-05-07 08:30] pascalgrimaud commented on #1520
@Franceq34 : don't forget your bounty here

[2022-05-07 08:30] pascalgrimaud commented on #1549
@Franceq34 : don't forget your bounty here

[2022-05-07 08:39] #1375 closed

[2022-05-07 08:56] pascalgrimaud opened #1627 "CI: status-check with skip ci message"
When using [skip ci] in commit message, the status-check job is pending, so only admin can merged, so it's a problem:

![image](https://user-images.githubusercontent.com/9156882/167247081-657ff5d7-3bc0-495c-a417-3973daa6282f.png)

[2022-05-07 09:19] pascalgrimaud opened #1628 "Front: add codespaces button"

[2022-05-07 09:19] pascalgrimaud opened #1629 "Front: add github actions button"

[2022-05-07 09:20] pascalgrimaud opened #1630 "Front: add cypress button"

[2022-05-07 09:20] pascalgrimaud opened #1631 "Front: add playwright button"

[2022-05-07 09:21] pascalgrimaud opened #1632 "Front: add archunit button"

[2022-05-07 09:23] pascalgrimaud opened #1633 "Front: add ehcache (java) button"

[2022-05-07 09:24] pascalgrimaud opened #1634 "Front: add ehcache (xml) button"

[2022-05-07 09:25] pascalgrimaud opened #1635 "Front: add springdoc button"

[2022-05-07 09:25] pascalgrimaud opened #1636 "Front: add springdoc security jwt button"

[2022-05-07 09:26] pascalgrimaud opened #1637 "Front: add dummy feature button"

[2022-05-07 09:27] pascalgrimaud opened #1638 "Front: add undertow button"

[2022-05-07 09:27] pascalgrimaud opened #1639 "Front: add OAuth2 button"

[2022-05-07 09:28] pascalgrimaud opened #1640 "Front: add OAuth2 account button"

[2022-05-07 09:28] pascalgrimaud opened #1641 "Front: add spring cloud config client button"

[2022-05-07 09:29] pascalgrimaud opened #1642 "Front: add spring cloud consul button"

[2022-05-07 09:29] pascalgrimaud opened #1643 "Front: add spring cloud eureka client button"

[2022-05-07 09:29] pascalgrimaud opened #1644 "Front: add spring boot async configuration button"

[2022-05-07 09:30] pascalgrimaud opened #1645 "Front: add dockerfile button"

[2022-05-07 09:30] pascalgrimaud opened #1646 "Front: add jib button"

[2022-05-07 09:31] pascalgrimaud opened #1647 "Front: add spring boot devtools button"

[2022-05-07 09:31] pascalgrimaud opened #1648 "Front: add svelte button"

[2022-05-07 09:49] pascalgrimaud opened #1649 "CI: start and test the generated applications"
If it's only backend:
- test health check

If there is a front:
- maybe cypress ?

[2022-05-07 10:21] pascalgrimaud commented on #1133
@Franceq34 : as you didn't start it yet, maybe @Bolo89 can take this ?

[2022-05-07 10:27] deepu105 commented on #1565
I like the proposed design theme. Some comments and suggestions

1. I'm not a fan of the proposed server/build/client thingy as it assumes static grouping. See below for alternative suggestions
2. I would suggest a wizard like (can be accordions/tabs that are activated one after other) or guided UI where you are promted for project config first followed by server stuff followed by build stuff and

[2022-05-07 11:29] qmonmert commented on #790
@flcarre I tried to start your app on localhost:8080 but I have an error

<img width="1416" alt="image" src="https://user-images.githubusercontent.com/9989211/167252297-01224408-4299-401a-9293-6b26b6aeac6e.png">

[2022-05-07 12:12] #1605 closed

[2022-05-07 13:40] #1464 closed

[2022-05-07 13:42] qmonmert commented on #1464
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/75975 🙂

[2022-05-07 13:42] pascalgrimaud commented on #1464
@qmonmert : approved

[2022-05-07 13:43] qmonmert commented on #1464
thanks

[2022-05-07 14:05] pascalgrimaud opened #1651 "Angular: configuration page"
After generating Angular as client, it could be nice to have the possibility to generate configuration page:
- entry in menu
- configuration html
- configuration component
- configuration service
- configuration tests

SImilar to:
![image](https://user-images.githubusercontent.com/9156882/167257724-538784cb-4baa-4504-99bf-e29f66ed2828.png)

But I think the UI/UX can be rework, as it's not really u

[2022-05-07 14:06] pascalgrimaud opened #1652 "Angular: health page"
After generating Angular as client, it could be nice to have the possibility to generate health page:

- entry in menu
- health html
- health component
- health service
- health tests

SImilar to:
![image](https://user-images.githubusercontent.com/9156882/167257792-7b6a661a-1b21-4ce9-a1c9-d4634385f357.png)

[2022-05-07 14:08] pascalgrimaud opened #1653 "Angular: logs page"
After generating Angular as client, it could be nice to have the possibility to generate logs page:

- entry in menu
- log html
- log component
- log service
- log tests

SImilar to:
![image](https://user-images.githubusercontent.com/9156882/167257843-53cca5ad-e132-4472-a2a1-717e48a47113.png)

[2022-05-07 14:10] pascalgrimaud opened #1654 "Angular: refactoring Jwt"
JWT should not be in client/angular/core but in client/angular/security/jwt instead
The class could be named AngularJwtXxxxx

[2022-05-07 14:14] pascalgrimaud opened #1655 "React: refactoring to keep only styled"
Refactoring this part:
- remove styled api
- always generate with minimal css

[2022-05-07 14:14] pascalgrimaud opened #1656 "Vue: refactoring to keep only styled"
Refactoring this part:

- remove styled api
- always generate with minimal css

[2022-05-07 14:15] pascalgrimaud opened #1657 "Svelte: refactoring to keep only styled"
Refactoring this part:

- remove styled api
- always generate with minimal css

[2022-05-07 18:03] #1604 closed

[2022-05-08 03:24] swarajsaaj commented on #1453
Currently the generator does not directly store/persist "baseName" in gradle or `package.json`, rather a kebab-cased version of it is stored. Though in maven scenario, its possible to retrieve it from 'pom.xml''s `name` tag.
In #1625 I did not retrieve `baseName` in case of non-maven projects as there was no way to derive exact base name from kebab-cased field (for.e.g "cool-project" could be star

[2022-05-08 10:11] swarajsaaj commented on #1397
@pascalgrimaud  thanks for reminding, raised here https://opencollective.com/generator-jhipster/expenses/76036

[2022-05-08 10:36] pascalgrimaud commented on #1397
@swarajsaaj : approved

[2022-05-08 12:20] assimbly commented on #1565
First:

- I like the theme and basic setup of Franceq34
- I agree with Deepu to give users a more guided / wizard approach and to make it dynamic to add new options.

Here my 2 cents about this process:

In my opinion the configuration/generating of an app is somewhat like the checkout experience of a webshop. Even the slightest friction in the checkout process can drive shoppers away from a site—

[2022-05-08 14:59] #1654 closed

[2022-05-08 15:05] pascalgrimaud commented on #1453
Ok let me think and find a good place to use and extract baseName

[2022-05-08 17:09] qmonmert opened #1660 "Angular: refactoring to have a login component"

[2022-05-09 07:52] DamnClin opened #1666 "Ease new module creation by structuring modules as a tree"
Most of current modules have a parent -> child relationship (with some modules being root). The idea would be to enforce that with an interface to define a new module, here's a very incomplete idea:

[code]

This enforced parent -> child relationship will allow us to define a dependencies tree between modules those allowing:
* Automatic HATEOAS API generation;
* Generic (no new code for a new modu

[2022-05-09 13:22] matthieuRioual opened #1669 "Allow user to create Merge request on github repository"
The idea would be to allow authenticated user to be able to create merge request on a repository.

The authentification could be done like on jhipster-online with Oauth2  and store token ever in a DB or in the storage.
For creating merge request, we could use Github API for java.

[2022-05-09 14:05] lucasmippon opened #1670 "Frontend: fix typo success toast on project init"
![Capture d’écran de 2022-05-09 16-04-28](https://user-images.githubusercontent.com/94830635/167427601-e5cd8253-4493-42b4-816f-cf3c3f42fd2d.png)

[2022-05-09 15:34] #1670 closed

[2022-05-09 20:13] MSaguer commented on #1628
As I've added the gitpod button in !1662 in a new card, I've also added the codespaces button.
I think that this PR could also close this issue.

[2022-05-10 03:55] #1603 closed

[2022-05-10 04:45] pascalgrimaud commented on #1606
Closed by https://github.com/jhipster/jhipster-lite/pull/1668

[2022-05-10 04:45] #1606 closed

[2022-05-10 04:46] pascalgrimaud commented on #1607
Closed by https://github.com/jhipster/jhipster-lite/pull/1668

[2022-05-10 04:46] #1607 closed

[2022-05-10 06:13] pascalgrimaud commented on #1628
Yes it can close this one

[2022-05-10 06:48] Franceq34 commented on #1520
$200 bounty claimed => https://opencollective.com/generator-jhipster/expenses/76378

[2022-05-10 06:49] Franceq34 commented on #1549
$200 bounty claimed => https://opencollective.com/generator-jhipster/expenses/76379

[2022-05-10 06:51] Franceq34 commented on #1592
WIP :)

[2022-05-10 06:51] pascalgrimaud commented on #1549
@Franceq34 : approved

[2022-05-10 06:51] pascalgrimaud commented on #1520
@Franceq34 : approved

[2022-05-10 06:57] pascalgrimaud opened #1688 "Refactoring: Spring Boot JWT"
Following discussion with @DamnClin

The current Spring Boot + JWT option is simply a c/c of existing code from generator-jhipster
This part can be improved to respect better hexagonal architecture concept

Cc @hdurix so you can follow the work here too

[2022-05-10 06:58] pascalgrimaud opened #1689 "Refactoring: Spring Boot OAuth2"
Following discussion with @DamnClin

The current Spring Boot + OAuth2 option is simply a c/c of existing code from generator-jhipster
This part can be improved to respect better hexagonal architecture concept

Cc @hdurix so you can follow the work here too

[2022-05-10 07:56] matthieulapatate commented on #1669
Just wondering if i should create a new context or simply use init one for instance.

[2022-05-10 07:59] pascalgrimaud commented on #1669
It's for managing project, so it's in Project context:
- project/domain -> something like Cloud
- project/infra/sec -> CloudRepository

I don't have better name, need to think more, but it could be a start

[2022-05-10 17:33] pascalgrimaud opened #1692 "CI: release by a GitHub Actions job"

[2022-05-10 20:18] #1648 closed

[2022-05-10 20:28] pascalgrimaud commented on #1565
I discuss about it with @hdurix during our last JHipster Day, and indeed, I think it's good idea.
Anyway, I don't know the amount of work, specially for the frontend.

[2022-05-11 04:49] DamnClin commented on #1565
The API generation and documentation from an implicit bean graph (making it explicit with inheritance is not a good idea IMHO) afraid me more than the frontend part (but I may be wrong).

There is, indeed, some work to achieve this but I really think the current interface mechanism is too fragile and that this is worth it to ease upcoming contributions.

I think this is a good time to start this s

[2022-05-11 05:06] pascalgrimaud commented on #1565
Totally agree, and that's why this ticket was created :-)

[2022-05-11 06:27] pascalgrimaud opened #1699 "Feature: Cucumber"
The goal is to add Cucumber support: https://cucumber.io/

Some links which can help:

- https://blog.ippon.fr/2020/08/31/cucumber-et-resttemplate/
- https://gitlab.com/nerp-ippon/nerp/-/tree/main/webservices/src/test/java/com/ippon/nerp/cucumber

[2022-05-11 06:33] DamnClin commented on #1699
I have some improved version of this, I'll take it :)

[2022-05-11 10:29] lucasmippon commented on #1301
Currently reading source (Maven and Gradle) to have a first insight on what has been done and see if I can start something.

[2022-05-11 10:43] atomfrede commented on #1301
I have already started small things. Hope to create a first PR during the weekend. If you find time before please go ahead.

[2022-05-11 10:48] deepu105 commented on #1565
I would suggest to design the metadata API first and UX after that to save
time. Once you have a solid API it would be easier to decide on UI/UX

On Wed, 11 May 2022, 7:07 am Pascal Grimaud, ***@***.***>
wrote:

[2022-05-11 20:06] pascalgrimaud commented on #1453
so I don't we have a good solution here, for Gradle
simply revert the cool-project to CoolProject would be enough I think
do you agree?

[2022-05-12 04:44] DamnClin commented on #1699
Just a little update: we have done the Cucumber integration with fluent assertion API on a dedicated project. We'll take some time to battle test it on the project and we'll then work on the templating

[2022-05-12 04:44] DamnClin commented on #1689
I can take this since we've done this refactoring. We'll take some time to battle test and contribute the templates here

[2022-05-12 04:45] pascalgrimaud commented on #1699
Good news! Thanks a lot @DamnClin

[2022-05-12 13:04] #1660 closed

[2022-05-12 13:17] Bolo89 opened #1720 "Refactorating - Remove primary folder in angular app"
![image](https://user-images.githubusercontent.com/45369327/168083672-cd086141-30df-4e4d-9d06-5db2593c9b4d.png)

=> remove common / primary / app

[2022-05-12 13:24] #1628 closed

[2022-05-12 13:25] pascalgrimaud commented on #1720
Thanks @Bolo89

[2022-05-12 15:45] swarajsaaj commented on #1453
reverting "cool-project" to CoolProject might be bothersome in case the project's original name is starting with lowercase (coolProject).. I am afraid that can mess up the IDE imported projects due to name change.

An alternative could be to force "baseName" to be Upper camel cased always at time of initialization?

[2022-05-12 16:56] lucasmippon commented on #1301
### To do
- [ ] Add Dependency without version
- [ ] Add Dependency with version
- [ ] Add Dependency with exclusion
- [ ] Add Test Dependency
- [ ] Delete dependency
- [ ] Add Repository
- [ ] Add Plugin (https://docs.gradle.org/current/userguide/plugins.html)
- [ ] Add Plugin Management (https://docs.gradle.org/current/userguide/plugins.html)
- [ ] Add Plugin
- [ ] Add Property

@pascalgrimaud,

[2022-05-12 17:36] atomfrede commented on #1301
I will try to answer your questions later.

[2022-05-12 17:50] pascalgrimaud commented on #1301
In fact, I'm not a user Gradle, so I don't know. It's really cool if you can help here @atomfrede , thanks :-)

[2022-05-12 20:15] #1720 closed

[2022-05-14 13:15] DamnClin opened #1732 "Add front modules acces from tests"
In the current version when you generate a vue.js front end (an perhaps any other front end) VisualStudio Code don't see main sources from test source (which is very bad for the Dev experience).

I ended up updating `tsconfig.json` to have:

[code]

I also created a `tsconfig-build.json` with:

[code]

And updated the build target (in `package.json`) to:

[code]

This looks OK but I don't want to

[2022-05-14 17:20] qmonmert commented on #1652
@pascalgrimaud I don't understand why on JHLite, I have:
<img width="483" alt="image" src="https://user-images.githubusercontent.com/9989211/168442058-48dfa59f-75cc-4e21-a943-e2cc1f1930ab.png">
<img width="351" alt="image" src="https://user-images.githubusercontent.com/9989211/168442069-57e0241e-2dc9-4a9f-b2a9-6341600819e7.png">

whereas on Generator:
<img width="464" alt="image" src="https://user

[2022-05-15 10:32] cbornet opened #1734 "Default values for REST API"
In most API POST endpoints, you need to provide the `generator-jhipster` info (baseName, packageName, etc...)
Basically you need to provide the structure
[code]
It would be nice if the `generator-jhipster` structure were automatically filled from the info found at `folder` path so you just need to provide
[code]

[2022-05-16 05:29] #1635 closed

[2022-05-16 05:39] pascalgrimaud commented on #1732
Cc @seraphinandrieux @Franceq34 @nonomoho : what do you think about that?

[2022-05-16 06:25] pascalgrimaud commented on #1734
I'll have a look because, there is already default value so your use case should work

[2022-05-16 06:52] pascalgrimaud opened #1741 "Prettier: formatting in Gradle folder"

[2022-05-16 07:42] #1741 closed

[2022-05-16 16:20] avdev4j opened #1744 "Front: add tooltips on the main top menu"
The menu is actually using icons, for some of them, we don't have tooltips that could lead to a misunderstanding feature for the user. To improve the UX I suggest adding tooltips for each icon that describe the link.

- [ ] The Swagger-ui
- [ ] The official JHipster website
- [ ] The GitHub account
- [ ] The Twitter account

Note: it seems there is one for Open Collective already
![Screenshot 2022

[2022-05-18 05:40] DamnClin opened #1768 "Define a module value object?"
Following https://github.com/jhipster/jhipster-lite/pull/1760 and to prepare https://github.com/jhipster/jhipster-lite/issues/1666 and https://github.com/jhipster/jhipster-lite/issues/1565 I think a `Module` domain object can be a good idea.

A module holds all information for a specific... module in JHipster Lite (example: init, cache, ...). The idea would be to enforce modules invariants, ease m

[2022-05-18 06:07] seraphinandrieux commented on #428
Hi Pascal,
May I take care of this ticket ?

[2022-05-18 06:09] pascalgrimaud commented on #428
@seraphinandrieux : I need this for my current customer, but my team didn't have time to start it, so you're really really welcome!

[2022-05-18 07:16] #1500 closed

[2022-05-18 07:28] flcarre commented on #790
That's strange i don't have this issue, does the website crash ?

[2022-05-18 08:02] fdelbrayelle commented on #581
Here we go on this one @pascalgrimaud but before I have some questions!

In the solution 1 what do you expect for the second point? I'm sure sure to get this one.

I'm not a fan of the solution 2 because IMHO the `ProjectRepository` should have only one responsibility: handle projects (and so not READMEs). What do you think about that?

[2022-05-18 08:42] pascalgrimaud commented on #581
ok maybe a 3rd solution could be a new readme context (shared kernel), which will simply inject text in README

[2022-05-18 09:05] #1592 closed

[2022-05-18 09:11] pascalgrimaud commented on #1768
as discussed together with @hdurix @matthieulapatate : we're in a good direction here, as it will simplify a lot all the code in DomainService
So yes let's do it

[2022-05-18 13:35] pascalgrimaud commented on #1529
adding a bounty as it was a lot of work, including a part of refactoring

[2022-05-18 13:35] #1529 closed

[2022-05-18 13:51] hdurix opened #1771 "Prevent JWT security breaches in generated apps"
2 things:
- randomize JWT secret
- add a comment to explain that the admin password has to be changed before going to production

[2022-05-18 14:58] juliensadaoui opened #1774 "Spring Boot Security: JWT with Webflux"
To do :
- Add dependency
- Add configuration for Spring Security
- Add JWT Token Filter
- Add utility class for Spring Security

[2022-05-18 15:38] fdelbrayelle opened #1779 "Add Redis as a new key-value NoSQL database option"
Add Redis as a key-value database option first next to MongoDB in the NoSQL options.

The idea is to add just the dependency and basic configuration to let users/developers add what they need from there.

And in another PR add the option to use it as a cache provider.

And maybe in another one, the option to use it as a message broker next to Apache Kafka.

[2022-05-18 16:17] seraphinandrieux commented on #1649
I never worked on CI before.
This ticket could be a good begining.
If someone else really wants to do it go for it.
If not, I would like try to do it :)